[2018-06-05 15:38] andrelopez opened #1 "Stripe Connect"
### Description

Consider how to add an integration with Stripe Connect
####  Docs
https://stripe.com/docs/connect

[2018-06-06 19:39] andrelopez opened #2 "Add a hidden Field"
Add hidden fields that support twig code.

## Notify
[001](https://app.drift.com/inboxes/63412/conversations/116392794?statusFilter%5B%5D=OPEN)

[2018-06-08 01:09] andrelopez commented on #2
Added on v1.1.0

[2018-06-08 01:09] #2 closed

[2018-07-03 14:36] intoeetive opened #3 "Add ability to use custom HTML in payment form"
I would like to customize payment form more than that it's possible with CSS.

Please add a template variable to access unrendered form object, or add ability to override the form template with a custom one

[2018-07-03 15:36] andrelopez commented on #3
Hi @intoeetive

Thanks for reaching out. We're working on this feature. I have added you to the notify list for when this feature is released.

Best,

[2018-07-06 17:04] andrelopez opened #4 "Add Taxes"
Add a tax rate to the payment forms

Notify

- [ ] [001](https://app.drift.com/inboxes/63412/conversations/123285407?statusFilter%5B%5D=OPEN)

[2018-07-09 20:34] andrelopez commented on #4
Feature added on v1.2.0

[2018-07-09 20:34] #4 closed

[2018-07-10 11:17] skoften opened #5 "iDeal payment example"
Really could use some examples for setting up a payment form with iDeal.

Cheers.

[2018-08-13 15:37] andrelopez commented on #5
iDEAL payments are available in v1.3.0.

Thanks to @skoften for Support this feature :)

[2018-08-13 15:38] #5 closed

[2018-08-13 15:51] andrelopez commented on #3
Hi @intoeetive

Just wanted to let you know that the "template overrides" feature is available in v1.3.0.

- Please go to the edit page of you Stripe Payment form and Enable "Custom templates"
- Create a folder override in your templates craft folder: _stripe/formHandle (Here you can copy all files from [here](https://github.com/enupal/stripe/tree/master/src/templates/_frontend)
- Copy that path i

[2018-08-13 15:51] #3 closed

[2018-08-13 16:32] intoeetive commented on #3
Thanks a lot, @andrelopez !

[2018-08-20 02:42] andrelopez commented on #3
New docs link [here](https://enupal.com/craft-plugins/stripe-payments/docs/plugin-development/template-overrides)

Best,

[2018-08-24 23:25] andrelopez opened #6 "Custom Statuses"
Add to support to create custom statuses from the plugin settings

[2018-09-19 18:51] lindseydiloreto opened #7 "Swift_RfcComplianceException"
**Plugin version: 1.5.2**
**Craft version: 3.0.25**

Looks like the "Reply To" email address needs to be required...

<img width="411" alt="fields" src="https://user-images.githubusercontent.com/5309692/45774287-6e850280-bc01-11e8-882c-509c5791660c.png">

Otherwise you'll trigger this error when making a purchase...

<img width="673" alt="error" src="https://user-images.githubusercontent.com/53096

[2018-09-19 18:59] lindseydiloreto commented on #7
Hmm... On further testing, I seem to be getting this error even _with_ that field filled out.

Can I email you a complete stack trace? I'm happy to share the DB as well.

Feel free to also ping me on Craft Slack. :)

[2018-09-28 23:40] lindseydiloreto opened #8 "Store keys in `.env` file"
It would be ideal if we could store our Stripe keys (both Publishable & Secret) in our local `.env` file. Additionally, it would be nice to store the current Mode as well. Basically, all values in this screenshot should be storable in the `.env` file...

<img width="590" alt="stripe keys" src="https://user-images.githubusercontent.com/5309692/46237617-75ff8680-c33a-11e8-8ab9-a8913a2e1183.png">

Th

[2018-10-01 22:45] andrelopez commented on #7
This error was caused due to empty values in required fields when sending the email. This is fixed adding validations when the notification is enabled.

Thank you @lindseydiloreto for reporting this bug.

[2018-10-01 22:45] #7 closed

[2018-10-01 22:50] andrelopez commented on #6
This feature is added in v1.5.0

[2018-10-01 22:50] #6 closed

[2018-10-01 22:51] lindseydiloreto commented on #7
Awesome, thanks @andrelopez! 🍺

[2018-10-03 13:35] bartrylant opened #9 "Internal Server Error when clicking new Payment Form"
When I click "+ new Payment Form" I get:

Internal Server Error
Server Error

EDIT: It only happens when the keys are not entered yet.

[2018-10-06 09:12] swinyx opened #10 "Wrong Order Total when using more than 1 currency in separate forms"
### Description

It looks like the Order total is only calculated ( maybe hardcoded) in USD,
However when creating payment forms with other currencies, the total is not estimate in USD accordingly by converting the value from the form currency to USD.

Could it be possible to filter the total based on each currency ? then maybe have an option to estimate all transactions from different currencies

[2018-10-06 14:01] andrelopez commented on #10
I'm on it! thanks

[2018-10-06 15:59] andrelopez commented on #9
Hi @bartrylant

I'm unable to recreate this error. Could you please recreate the error and send us an email to support@enupal.com with a zip file of `storage\logs\web.log` ?

Also, please specify:
PHP version:
Craft CMS version:
DB driver (mysql/postgres):

Best,

[2018-10-16 22:07] andrelopez opened #11 "Add Ajax support to actionSaveOrder()"

[2018-10-18 05:32] andrelopez commented on #8
Since v1.5.9 Stripe API keys can be stored via the config file:

[code]

Thanks @lindseydiloreto

[2018-10-18 05:32] #8 closed

[2018-10-18 06:01] lindseydiloreto commented on #8
Amazing, thanks @andrelopez! 🍺 🎉

[2018-11-02 05:11] swinyx commented on #10
Thank you, is it something that could be available soon?

[2018-11-03 02:09] #9 closed

[2018-11-20 21:17] studiosyntax opened #12 "Form fields tab is empty"
### Description
When I edit a new Payment form, the Form Fields tab is empty.
This causes an error when trying to view a form on the front-end;

`Calling unknown method: enupal\stripe\elements\PaymentForm::enupalStripeBasicFields()`

### Steps to reproduce

1. Edit a Payment Form
2. Click on Form Fields Tab
3. See nothing
4. No profit

### Additional info

- Craft version: 3.0.32
- PHP version: 7.

[2018-11-20 21:24] studiosyntax opened #13 "Creating new payment form"
### Description
When I try to create a new Payment Form I immediately get this error;

`Key "0" does not exist as the array is empty.`

[code]

I think this happened when I updated to Craft 3.0.32

### Steps to reproduce

1. Click on New Payment Form
2. Get error

### Additional info

- Craft version: 3.0.32
- PHP version: 7.1
- Database driver & version: MySQL
- Plugin version: 1.5.10

[2018-11-21 00:08] andrelopez commented on #12
Hi @shoored,

Thanks for reaching out. I have updated to Craft 3.0.32 but I'm unable to recreate this error.

It looks like something went wrong during the upgrade and the Stripe Payments fields attached to the layout was deleted somehow. Could you please share your database via email? support@enupal.com

Best,

[2018-11-21 21:23] matanlevkowich opened #14 "Adding quantity for reoccurring payments"
### Description
Is there a way to add quantities for reoccurring payment plans?
I am trying to enable my customers to choose how many plans they want to subscribe to and pay X amount per plan. I have set it up properly on the Stripe dashboard but can't seem to find how it will work with the plugin...

### Additional info

- Craft version: Craft Pro 3.0.12
- PHP version: 7.0.32
- Database driver &

[2018-11-28 15:48] andrelopez commented on #10
Hi @swinyx

We just released Stripe Payments v1.6.0 where we added a currency filter to the Chart. Please check all the release notes [here](https://github.com/enupal/stripe/blob/master/CHANGELOG.md#160---20181128)

Please remember to backup your database before the upgrade and let us know how it goes.

We're still working in adding a default currency for the 'All' option.

Best

[2018-11-28 15:48] #10 closed

[2018-11-28 15:55] andrelopez commented on #14
Hi @matanlevkowich

We just released Stripe Payments v1.6.0 where we added support to tiered plans. Please check all the release notes [here](https://github.com/enupal/stripe/blob/master/CHANGELOG.md#160---20181128)

Please remember to backup your database before the upgrade and let us know how it goes.

We're still working in the docs, but you need to pass the quantity in the `paymentForm` tag:

[2018-11-28 15:55] #14 closed

[2018-11-29 19:04] andrelopez commented on #12
Hi @studiosyntax any update about this issue?

[2018-11-30 08:18] studiosyntax commented on #12
Hi @andrelopez - so sorry for the late reply! Things got hectic. When I uninstalled and then reinstalled the plugin, everything seemed in order!

I can't wait to try the new features. Thanks for all your work on this 👍

[2018-11-30 12:40] andrelopez commented on #12
@studiosyntax Glad that you got that solved.

[2018-11-30 12:40] #12 closed

[2018-11-30 12:40] #13 closed

[2018-12-04 13:33] andrelopez opened #15 "Sync Orders with Stripe"

[2018-12-05 13:45] andrelopez opened #16 "Return a Plan model in Payment Forms with Subscriptions Plans"

[2018-12-05 13:52] andrelopez opened #17 "Add groups to forms is not working"

[2018-12-05 14:25] andrelopez opened #18 "Add cancel Subscription Orders behavior via front-end"
Also, add examples of how list Subscription Orders by User or Email

[2018-12-06 03:27] theskyfloor opened #19 "FR: Ability to associate guest payment with existing Craft user"
### Description

It would be awesome if in a future version of Stripe Payments I could select an existing Craft user to associate with a guest payment. Thanks! Awesome work!!

- Add setting to register user if is guest user

[2018-12-10 20:38] theskyfloor commented on #15
I will be finishing my testing later this week!

[2018-12-11 11:37] andrelopez commented on #15
Hi @theskyfloor

Could you please send me the `storage/logs/queue.log` file to support@enupal.com?

best,

[2018-12-16 17:11] intoeetive opened #20 "Display both billing and shipping address when Stripe Checkout is disabled"
### Description
If Stripe Checkout is not enabled for the form, only one set of address fields shows up, even though I have both Shipping and Billing selected. I need to have both addresses, and don't use Stripe popup.

Notify

- [ ] [373017217](https://app.drift.com/inboxes/63412/conversations/373017217)

### Additional info

- Craft version: 3.0.35
- Plugin version: 1.6.8

[2018-12-16 17:33] andrelopez commented on #20
Thanks @intoeetive I have pinned this issue

[2018-12-17 13:18] intoeetive opened #21 "Support for Stripe coupon codes"
I have submitted `couponCode` field together with form using coupon as set up in Stripe.
However it does not seem like the coupon came though.

Unless I'm doing something wrong, please accept using Stripe coupons as feature request

[2018-12-21 01:42] andrelopez commented on #21
We already have this feature on our list and will be added very soon!

[2019-01-09 13:31] andrelopez commented on #18
Added in v1.7.0

https://enupal.com/craft-plugins/stripe-payments/docs/templating/cancel-subscriptions

[2019-01-09 13:31] #18 closed

[2019-01-17 10:23] andrelopez opened #22 "Export Orders button in the Orders index page"
Notify

- [ ] [1547702366480100002](https://mail.zoho.com/zm/#mail/folder/inbox/p/1547702366480100002)

[2019-02-08 20:15] lindseydiloreto opened #23 "[Bug] Bad link in default email template"
We're on an old version (v1.5.4), so apologies if this has already been fixed.

It looks like the "READ MORE" link in the default receipt emails is pointing to a bogus link...

<img width="1122" alt="2019-02-08 at 12 08 20 pm" src="https://user-images.githubusercontent.com/5309692/52503621-f8c30880-2b9a-11e9-8c9d-526fd3b7ef38.png">

We'll probably switch to a custom template anyway... but just wan

[2019-02-14 18:08] andrelopez opened #24 "Handle CVC errors"
Allow users to handle nice error messages

[2019-02-14 18:14] andrelopez commented on #24
![](https://github.trello.services/images/mini-trello-icon.png) [Stripe Payments - handle errors](https://trello.com/c/hTDgIG7K/4-stripe-payments-handle-errors)

[2019-02-21 16:00] andrelopez opened #25 "Allow users update card info"

[2019-02-22 19:34] GMConsultant opened #26 "Deprecation Warnings"
craft/vendor/enupal/stripe/src/templates/_frontend/multipleplans/radio.twig:9
craft/vendor/enupal/stripe/src/templates/_frontend/paymentForm.twig:32
craft/vendor/enupal/stripe/src/services/Orders.php:547
craft/vendor/enupal/stripe/src/templates/_frontend/multipleplans/dropdown.twig:12

### Looping through element queries directly has been deprecated. Use the all() function to fetch the query resul

[2019-03-10 22:32] andrelopez commented on #23
Hi @lindseydiloreto

This issue is solved on Stripe Payments v1.8.0

Best,
-Andre L

[2019-03-10 22:32] #23 closed

[2019-03-10 22:35] andrelopez commented on #20
Hi @intoeetive

We just released Stripe Payments v1.8.0 and added support to display both addresses for when using Stripe Elements.

Best,

[2019-03-10 22:35] #20 closed

[2019-03-10 22:38] andrelopez commented on #26
Hi @GMConsultant

We have fixed this deprecation errors on Stripe Payments v1.8.0

Also the `craft/vendor/enupal/stripe/src/services/Orders.php:547` warning is a false positive.

Best,

[2019-03-10 22:38] #26 closed

[2019-03-11 00:01] andrelopez commented on #22
Feature added in v1.8.0

[2019-03-11 00:01] #22 closed

[2019-03-11 20:22] lindseydiloreto commented on #23
Awesome, thanks @andrelopez! 🍺

[2019-03-18 20:18] theskyfloor commented on #21
Any update on this functionality?

[2019-03-19 09:55] intoeetive opened #27 "Hitting Stripe limits when performing guest subscriptions"
On the website I'm working on, the plugin is used to process subscription payments in Stripe, however it is not required for customer to be logged in.

This is recurring donation, and no user account is created in Craft, just the Stripe subscription.

However soon after launch of this feature I started getting error: `Customer cus_EBUpBMEzFUKEwO already has the maximum 25 current subscriptions`

I

[2019-03-19 21:25] matthewmrotter opened #28 "Show Shipping Address on CSV Export instead of "shippingAddressId""
### Description

Currently when you export via CSV, the sheet lists the Shipping Address with an id. It'd be helpful to actually list out the shipping address in a few columns (street, city, state, zip) so we can use the CSV to import into another program to manage shipments.

### Steps to reproduce

1. Export CSV in dashboard
2. Look at CSV

### Additional info

- Craft version: 3.1.18
- PHP vers

[2019-03-20 01:14] andrelopez commented on #28
Hi @matthewmrotter

We just added this feature to v1.8.3 please update your plugin and let us know how it goes.

Best.

[2019-03-20 01:14] #28 closed

[2019-03-20 01:30] andrelopez commented on #27
Hi @intoeetive

Thanks for reaching out. I was unable to recreate this issue. We create the customer always because the email address is required in all the scenarios (one-time, donations, subscriptions, etc), no matters if the Craft user is not logged in.

Could you please send us screenshots of your payment form to try to recreate this issue?

Feel free to send this info to our email: support@en

[2019-03-21 18:36] theskyfloor commented on #27
I'm getting this same issue. Is it possible that the issue happens only in Test mode? Two different payments same customer id in Stripe:

<img width="1076" alt="Screen Shot 2019-03-21 at 1 35 53 PM" src="https://user-images.githubusercontent.com/8887839/54776511-4bea9b00-4bde-11e9-904b-480a056b1c72.png">

[2019-03-22 02:43] andrelopez commented on #27
Hi @theskyfloor

Did you use a different email on each payment?

[2019-03-22 02:45] theskyfloor commented on #27
No, they were guest payments with no email attached? This isn't an issue for me anymore as I am assigning an email in the payment form but I thought perhaps it would help solve the other posters issue. I think he is experiencing the same thing... if it's a guest user and no email is provided then the customer number is the same.

[2019-03-22 20:59] PopaWeb opened #29 "Error when using export"
### Description
Getting error when using the new export function:
Error Info: Array
(
    [0] => 42S22
    [1] => 1054
    [2] => Unknown column 'enupalstripe_orders.id' in 'field list'
)

The SQL being executed was: SELECT `enupalstripe_orders`.`id` AS `orderId`, `formId`, `userId`, `testMode`, `paymentType`, `number` ...

### Steps to reproduce

1. Export > CSV
2.

### Additional info

- Craft v

[2019-03-23 01:04] PopaWeb commented on #29
I have 9 subscriptions (transactions) in my list and when i want to export them, i clic Export > CSV, i got this page (message) in Craft:

PDOException: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'enupalstripe_orders.id' in 'field list' in /srv/users/rep/web/vendor/yiisoft/yii2/db/Command.php:1290
Stack trace:
#0 /srv/users/rep/web/vendor/yiisoft/yii2/db/Command.php(1290): PDOStatement

[2019-03-23 02:16] andrelopez commented on #29
Hi @PopaWeb

Thanks for following up. We just released Stripe Payments v1.8.4 with a fix for this issue. Could you please update your plugin and let us know if that fixed the error?

Best,

[2019-03-23 02:16] #29 closed

[2019-03-23 02:36] PopaWeb commented on #29
Hi @andrelopez

Great! The update fixed that issue... Thanks!

[2019-03-26 09:51] andrelopez commented on #27
The issue was a wrong namespace of the `stripeElementEmail` input when using the Template overrides functionality

[2019-03-26 09:51] #27 closed

[2019-04-10 01:08] fatfishdigital opened #30 "Currency symbol mismatch"
### Description

SVG chart created on the Orders page is not displaying the selected currency we prefer.

Instead it's defaulting to British Pound symbol.

![Currency](https://user-images.githubusercontent.com/37125277/55844369-41d60f80-5b80-11e9-823e-c21f8edf571c.jpg)

Are we missing a setting variable somewhere?

### Steps to reproduce

1. Go to Stripe Payments > Orders page

### Additional info

[2019-04-23 18:39] andrelopez opened #31 "Add support for `cancel_at_period_end`"
Add support to Cancel the subscription at the end of the current billing period
https://stripe.com/docs/billing/subscriptions/canceling-pausing#canceling

[2019-04-25 20:32] andrelopez commented on #21
Added on v1.9.0

[2019-04-25 20:32] #21 closed

[2019-04-25 20:47] andrelopez commented on #31
Added on v1.9.0

https://enupal.com/craft-plugins/stripe-payments/docs/templating/cancel-subscriptions

[2019-04-25 20:47] #31 closed

[2019-04-26 00:31] andrelopez opened #32 "Add support for New European payments regulation"
https://stripe.com/en-US/guides/strong-customer-authentication?utm_medium=email&utm_campaign=SCA%20Notification%20Plugins&utm_content=SCA%20Notification%20Plugins+CID_fa8d55194568cd22b26d4b07fb259a90&utm_source=&utm_term=here

[2019-05-24 17:06] chasegiunta opened #33 ".hidden class interference"
### Description
https://github.com/enupal/stripe/blob/787ba91b6d826feec872dc357ed96a1a4ba21824/src/resources/stripe/css/enupal-stripe-elements.css#L15

Enupal is setting a hidden class which gets loaded on the frontend. I think this should either be namespaced with `StripeElement` like all the other classes in this stylesheet, or at the very least, not using `!important`, making it difficult for u

[2019-05-28 18:30] chasegiunta opened #34 "Include Dynamic Metadata?"
Is it possible to include dynamic metadata when submitting payments?

I tried including this in my payment form:
[code]

But it looks like it won't include it in the payment without adding fields specifically to the payment form.

[2019-05-28 19:25] chasegiunta commented on #34
Sorry, was able to figure this out. Didn't realize that html input was nested inside the `{% namespace 'enupalStripe' %}` helper - so the final output was actually
[code]
which of course didn't work! Got it sorted.

[2019-05-28 19:25] #34 closed

[2019-05-29 19:05] chasegiunta opened #35 "FR: Add support for passing all options to elements.create()"
### Description
Enupal Stripe provides a way to adjust the `styles` option on `element.create()`, but there's [quite a few more options](https://stripe.com/docs/stripe-js/reference#element-options) that can be passed to customize the input.

### Additional info
- Plugin version: 1.9.4

[2019-06-03 15:29] chasegiunta commented on #33
@andrelopez This is really causing problems for us on our project, and I supposed would cause problems for anyone using a utility framework, or utility classes - any idea if this will be fixed? Sorry to pester.

[2019-06-03 16:10] andrelopez commented on #33
@chasegiunta I'm on it

[2019-06-03 17:05] chasegiunta commented on #33
@andrelopez Thank you! Looking forward to it.

[2019-06-03 17:43] andrelopez commented on #33
Hi @chasegiunta
We just released Stripe Payments v1.9.5 with support to prevent load the default css file. Could you please update your plugin and go to: `Stripe Payments -> Settings -> Defaults` disabled the `Load CSS` lightswitch and Save your settings?

You may need to add your own Css file manually please use our [default file](https://github.com/enupal/stripe/blob/787ba91b6d826feec872dc357ed9

[2019-06-03 20:36] chasegiunta commented on #33
@andrelopez That looks like it works for me! Though I was anticipating your fix would be to rename the class - as your javascript files are referencing `hidden` and disabling css altogether probably breaks functionality.

[2019-06-04 00:39] #33 closed

[2019-07-02 09:52] billymedia commented on #25
Hi - Is there any news on this feature?

[2019-07-17 20:52] aelvan opened #36 "Multiple issues with subscriptions"
### Description

We just went live with a subscription website using Checkout and I'm seeing a bunch of very weird issues, not sure if they're related or not, but kinda feels like it:

1) We have set up 25% tax, but only about half of the subscriptions haven't had tax added to them.

2) A lot of the incoming invoices are being marked as "Scheduled", while others are paid immediately. Some have tax

[2019-07-17 22:53] andrelopez commented on #36
Hi @aelvan

Stripe Payments will only register the first Order info (when the user is subscribed). In the plugin, you can't see the invoices. However, you can get the [subscription status](https://stripe.com/docs/billing/lifecycle#subscription-states) and there is also [webhooks](https://enupal.com/craft-plugins/stripe-payments/docs/plugin-development/events#afterprocesswebhook) to get notified fo

[2019-07-18 17:16] andrelopez commented on #36
The confusion was due to older subscriptions.

[2019-07-18 17:16] #36 closed

[2019-07-29 17:56] sunscreem opened #37 "Upgraded to 3.2 and getting an error "At least one block type is required.""
### Description

Just upgrade a site to 3.2.6 & the latest version of this plug in (1.9.8). All seemed fine (testing on the front end and test payments going through no problem).

Only issue is when I access any payment form either and existing one or a new one I get:

![image](https://user-images.githubusercontent.com/7523595/62057385-7943f700-b217-11e9-9f38-886dba0b4823.png)

(My local url when

[2019-07-30 11:41] andrelopez commented on #37
Hi @sunscreem

Could you please tell us from what version you upgraded Craft CMS? Are you able to share the database before the upgrade? If so please send the db to support@enupal.com

[2019-07-30 17:36] domstubbs opened #38 "Support for Strong Customer Authentication"
Am I right in thinking this plugin doesn’t yet support [SCA](https://stripe.com/docs/strong-customer-authentication) via the [payment intents API](https://stripe.com/docs/payments/payment-intents/quickstart)? If not, is that likely to be added before SCA kicks in in mid-September?

I’m not actually using the plugin yet. I have a Craft 2 + Charge project and I need to figure out which migration rou

[2019-07-30 18:25] andrelopez commented on #38
Hi @domstubbs

We're currently working on adding support for SCA, I have added you to the notify list for when is released.

Duplicated of https://github.com/enupal/stripe/issues/32

[2019-07-30 18:33] domstubbs commented on #38
Thanks - sorry for missing the existing issue.

[2019-07-30 18:33] #38 closed

[2019-08-05 10:28] sunscreem commented on #37
Hi @andrelopez I uninstalled the plug in, re installed and everything seems okay now.

Looks like there are migrations that needed to be ran but it could be more of an issue at our end due to the way in which we did the 3.2 upgrade, so I'll close this as its probably not worth investigating further. Thanks anyway.

[2019-08-13 09:34] fantasticmachine commented on #32
Since this has been closed does that mean that SCA is now supported?

[2019-08-13 12:28] robarov commented on #32
Hello

The SCA deadline is approaching fast (15th of sept?). Can we get an update please?

[2019-08-14 14:37] RyanRoberts opened #39 "Typo"
Output for the interval field label has a typo when set to daily.

*Make this a __dayly__ payment*

[2019-08-15 12:54] billymedia commented on #32
I would also like to know if there is an update for this please.

[2019-08-15 16:07] andrelopez commented on #32
Hi all,

We're planning to release this feature by the end of this month. Stay tuned!

[2019-08-16 11:46] billymedia commented on #32
Thanks. We are currently building a site using your current version which isnt SCA ready, should we wait for the update? i.e. are there fundamental changes to how the plugin will work? or are we ok to continue using your current docs.

[2019-08-21 14:24] domstubbs commented on #32
For any other UK devs that might have UK-centric clients it’s worth noting that a [18 month phase-in period](https://www.fca.org.uk/news/press-releases/fca-agrees-plan-phased-implementation-strong-customer-authentication) has now been announced, so although existing sites will still need updating we shouldn’t need to worry about failed transactions from the 15th of Sept and we can safely wait for

[2019-08-28 11:37] mmikkel commented on #32
Is the update still on track to be released by the end of August?

[2019-08-30 14:28] andrelopez commented on #32
Hi All,

Just wanted to let you know that Stripe Payments v2.0.0 is now available with initial support for Strong Customer Authentication powered by the new Stripe Checkout 🎉

Payment Intents (card element) support coming soon.

More info here: https://enupal.com/craft-plugins/stripe-payments/docs/getting-started/sca

Best,

-Andre L

[2019-08-30 14:29] #39 closed

[2019-08-30 14:30] andrelopez commented on #39
Thanks @RyanRoberts we fixed this issue on v2.0.0

[2019-09-03 11:54] maddyBoy opened #40 "Two different forms on same template won't work."
### Description
I am trying to show two different subscription forms on the same page, i.e one with card option and another with checkout.
But it shows error.

![Screenshot from 2019-09-03 17-25-53](https://user-images.githubusercontent.com/26545067/64171292-ef1f2c00-ce6f-11e9-8b5c-1b42217d7cd3.png)

### Steps to reproduce

1.create two form one with card option another with checkout process
2. Ca

[2019-09-07 15:02] aelvan opened #41 "Wrong language code for Norwegian"
### Description

When selecting "Norwegian" in the language selector, Stripe throws an error during the `enupal/stripe/create-checkout-session` controller action:

"Invalid locale: must be one of auto, da, de, en, es, fi, fr, it, ja, nb, nl, pl, pt, sv, or zh"

The language selector sets the locale to `no` (which is the ISO country code), while the language code for Norwegian is `nb`.

### Steps t

[2019-09-07 15:13] aelvan opened #42 "Checkout redirect URLs not working"
### Description

I've added "Checkout Success URL" and "Checkout Cancel URL" to my payment form (subscription, single plan), but when completing the Stripe Checkout process, I'm sent to the site's homepage instead of the url's I've specified.

I've set my success url to `/user/thanks?number={number}` and my cancel url to `/user/cancel`. I can access the url's fine if I just enter them in my browse

[2019-09-07 15:28] aelvan commented on #42
This is due to another issue I'll post shortly, please ignore.

[2019-09-07 15:28] #42 closed

[2019-09-07 15:38] aelvan opened #43 ""Unable to get payment intent" in finish-order controller action"
### Description

I have a subscription single plan payment form using stripe checkout. Running in test mode, I complete the checkout successfully, but in my logs I get the following errors (this results in a redirect to '/', which resulted in my redirect URLs not working):

[code]

The orders appear in the admin, and everything is registered in Stripe successfully.

I'm running in test mode, with

[2019-09-07 16:19] andrelopez commented on #42
Hi @aelvan Are you testing locally? The new Stripe Checkout needs to be tested from a live (or staging) URL.

Also, did you set-up the [webhook](https://enupal.com/craft-plugins/stripe-payments/docs/stripe-payment-forms/webhook) URL?

The order is created in Craft?

[2019-09-07 17:51] aelvan commented on #42
Yes, I'm testing locally, but I have ngrok set up for tunnelling, have added a webhook url, and I have confirmed that I am receiving webhook calls successfully. Are there other reasons that it needs to be tested from a public URL?

But, I'm pretty sure the reason why the redirects wasn't being redirected was `return $this->redirect('/');` call on line 181 of StripeController.php, due to the other

[2019-09-07 19:05] andrelopez commented on #43
Hi @aelvan we just released Stripe Payments v2.0.4 with a fix to this issue.

Thanks for reporting.

[2019-09-07 19:05] #43 closed

[2019-09-07 19:05] andrelopez commented on #41
Hi @aelvan we just released Stripe Payments v2.0.4 with a fix to this issue.

Thanks for reporting.

[2019-09-07 19:05] #41 closed

[2019-09-07 19:38] aelvan commented on #43
Thanks. 2.0.4 is not showing on packagist, might be worth investigating.

[2019-09-07 19:44] aelvan opened #44 "Order not available in customer.subscription.created webhook"
### Description

Not sure if this is a bug or not, but when listening for webhook events, `$event->order` is not set for `customer.subscription.created`/`customer.subscription.update` (and most other events). I've resorted to listening for `checkout.session.completed`, and checking that it's a subscription I'm receiving the event for. Which may be the correct way, but I got a bit thrown off-track

[2019-09-07 19:46] andrelopez commented on #43
@aelvan We just re-send the payload to packagist and the new version is available

[2019-09-07 20:21] aelvan opened #45 "Bug when one-time setup fee to subscriptions is 0"
### Description

[This commit](https://github.com/enupal/stripe/commit/a04a483ccd2b46b1351a24179d0a7cf42a5b0d80) introduces a critical bug that breaks Stripe Checkout in 2.0.4 if there is no setup fee for a sca enabled, single plan subscription. The bug happens in when the create-checkout-session controller action is called, and the error in the javascript console is "Invalid positive integer".

T

[2019-09-07 21:17] aelvan opened #46 "Queue job fails when syncing subscription orders"
### Description

I'm trying to sync in existing orders for subscriptions from Stripe, but get the following error:

[code]

The line that fail is:

[code]

I logged `$invoice`, and there is no key `date`. There is `created` though, and if I change the line above to `$invoice['created']`, the job works. No idea if this is the case for all types of orders though.

### Steps to reproduce

...

### Ad

[2019-09-07 21:47] andrelopez commented on #46
Hi @aelvan we just released v2.0.5 with a fix to this issue

Thanks for reporting

[2019-09-07 21:47] #46 closed

[2019-09-07 21:48] andrelopez commented on #45
Hi @aelvan we just released v2.0.5 with a fix to this issue.

Thanks for reporting!

[2019-09-07 21:48] #45 closed

[2019-09-07 22:10] andrelopez commented on #44
Hi @aelvan

Good catch, Stripe sends the `customer.subscription.created` webhook before `checkout.session.completed` (where we create the order). I have updated the docs explaining this scenario.
Thank you!

[2019-09-07 22:10] #44 closed

[2019-09-11 08:43] wiegerjelsma opened #47 "[SCA] Can we use SCA with Stripe Elements?"
Hi Andre,

Is it possible to use SCA with Stripe Elements?
I need the iDeal payment method activated as well.

Hop you can help.
Thanks in advance,

Wieger

[2019-09-11 20:31] andrelopez commented on #47
Hi @wiegerjelsma

That feature is currently in development, you can track the progress [here](https://github.com/enupal/stripe/issues/32)

What do you think if we add the new Stripe Checkout option in the Payment Method dropdown?

Fyi, Stripe is working to add support to choose the payment method (iDEAL, SOFORT) in the new Stripe Checkout, but there is no ETA

[2019-09-12 14:18] Coysh opened #48 "Form not working at all"
### Description
I'm migrating across from `lukeyouell/craft-stripecheckout` as the plugin is dead, and we need support for SCA.
No matter what I do, I can't get this plugin to work.
I've set up a payment and am displaying it on the frontend as follows:

`{% set options = {amount: payment_amount, quantity: 1, calculateFinalAmount: true} %}
{{ craft.enupalstripe.paymentForm('buySent', options) }}`

[2019-09-12 15:42] sunscreem opened #49 "Cannot get plug in working on windows. Works fine on mac."
### Description

I've spent the entire day trying to understand why, when a colleague installs this plug in, the migrations all run correctly but do not for me.

The only difference (same codebase, same database) is I'm on windows (Laravel Homestead) and he's on Mac (using Laravel Valet).

We are both on the same versions of mysql & php.

The problem seems to be that the plug in just refuses to cr

[2019-09-15 17:20] fantasticmachine opened #50 "Coupon error despite not using coupons"
### Description
I'm using Stripe Checkout with SCA support and trying to do some extra processing after the order complete event but running into problems where it's not firing. Debugging showed that the $event was empty.

When examining my logs i see the following error pertaining to an unrecognised coupon code despite not using any coupons

2019-09-15 17:55:25 [-][1][-][error][application] Unabl

[2019-09-17 08:34] fantasticmachine commented on #50
I've fixed the problems I was having. They weren't related to the error message I mentioned and the plugin is definitely returning the event information correctly.

[2019-09-17 08:34] #50 closed

[2019-09-20 10:54] iamtompickering opened #51 "Payments going through successfully in Stripe, but order not created"
### Description
I have setup a payment form and when checking out via Stripe Checkout, the order for the payment is not being created. I am running the site on a staging URL, have setup the webhook in my Stripe account, updated to the latest Stripe API version and have SCA turned on.

The test payments are actually going into my Stripe account as successful payments and the order details are all c

[2019-09-20 11:59] andrelopez commented on #51
Hi @iamtompickering Could you please recreate the issue and send back to us a zip file of the following folder?
`storage/logs`

Please send the file to suppor@enupal.com

[2019-09-20 12:13] andrelopez commented on #49
Hi @sunscreem Could you please confirm if you have enabled the `useProjectConfigFile` in the config/general.php file? I believe that it could be a possible bug related to that setting.

[2019-09-20 12:17] sunscreem commented on #49
Hey. Yeah - thats enabled.

[2019-09-20 12:18] iamtompickering commented on #51
@andrelopez just emailed you now.

[2019-09-20 14:14] madebyspark commented on #25
Would also like to see this feature! Thx!

[2019-09-29 15:05] andrelopez commented on #51
The issue was related to the missing `checkout.session.completed` event type in the Webhook URL of the Stripe dashboard.

[2019-09-29 15:05] #51 closed

[2019-10-02 11:34] andrelopez commented on #48
The issue was due to a wrong display of the `{{ craft.enupalstripe.paymentForm('handle', options) }}` tag was inside of a `<form>` tag

[2019-10-02 11:34] #48 closed

[2019-10-22 22:02] adrienne opened #52 "Stripe Elements: How do I handle errors?"
### Description

Any errors in payment info (card declined, etc) cause a thrown exception. I need to be able to actually handle these errors for the user -- is that possible?

![image](https://user-images.githubusercontent.com/89705/67337978-f90ef400-f4dc-11e9-96e1-3c659e19376e.png)

### Steps to reproduce

1. Set up a Payment form in Elements mode (with Stripe Checkout deselected)
2. Set Stripe t

[2019-11-04 15:16] aladrach commented on #1
Is this still being considered?

[2019-11-09 15:18] sunscreem opened #53 "Doesn't work on IE11 - looks to be loading JS from 'cpresources'"
### Description

Bugsnag was telling that IE11 users were unable to make payments. The console shows the following error:

[code]

Hard to work out where the problem is as IE is horrible at expanding minified script.

I have noticed that the script in question is loading from:

/cpresources/7841fd1e/stripe/js/enupal-stripe.min.js?v=1568785052

Which seems odd that cp resource script load in the fr

[2019-11-13 18:04] sunscreem opened #54 "Docs aren't working on enupal website"
![image](https://user-images.githubusercontent.com/7523595/68790846-03d22a00-0640-11ea-9546-13b21668f706.png)

The website needs some TLC. I can't access the menu :(

[2019-11-18 12:21] codeartaus commented on #40
I'm getting the same error, though its happening for me when two forms are in the system – regardless of if they're being used on the same page or not.

I can make a form work by:

1. Opening a form in Plugin Backend
2. Saving form (without making changes)

This then breaks all other forms site-wide, except for the one that was re–saved

Craft version: Craft Pro 3.3.15
PHP version: 7.0.33
Plugin v

[2019-11-18 15:59] meinhard-meintjes commented on #52
Any updates on this request? Thanks.

[2019-11-20 21:53] madebyspark commented on #53
This happens in IE11 for me as well.

[2019-11-21 13:13] andrelopez commented on #40
Hi @codeartaus your issue looks different, could you please review your templates and make sure that your `{{ craft.enupalstripe.paymentForm('paymentForm') }}` it's outside of any `{% cache %}` tag?

[2019-11-21 15:35] andrelopez commented on #53
We just released Stripe Payments v2.1.3 with a fix to this issue.

Thanks for reporting

[2019-11-21 15:35] #53 closed

[2019-11-21 15:37] andrelopez commented on #24
v2.1.3 Added support to display payment errors, e.g: declined cards. [More info](https://enupal.com/craft-plugins/stripe-payments/docs/templating/display-errors)

[2019-11-21 15:37] #24 closed

[2019-11-21 15:39] andrelopez commented on #52
We added support to display payment errors in v2.1.3. [More info](https://enupal.com/craft-plugins/stripe-payments/docs/templating/display-errors)

Thanks for reporting

[2019-11-21 15:39] #52 closed

[2019-11-21 15:40] andrelopez commented on #40
We just released v2.1.3 with a fix to this issue.

[2019-11-21 15:40] #40 closed

[2019-11-21 15:42] andrelopez commented on #25
We starting to work on this feature. Stay tuned

[2019-11-21 16:39] madebyspark opened #55 "Unable to set variables"
### Description
Trying to set variables based upon a user's order history so that we can lock down site content based upon a user's subscription status...

[code]

If I later check for the `subscriptionCheck` variable, I get an error saying that it doesn't exist, even when the user has an active subscription.

### Additional info

- Craft version: 3.3.11
- PHP version: 7.2.21
- Database driver & v

[2019-11-21 18:02] meinhard-meintjes commented on #52
Thank you, perfect timing

[2019-11-21 18:21] andrelopez commented on #55
Hi @madebyspark please try to initialize the variable before the for loop.

[code]

[2019-11-21 21:13] madebyspark commented on #55
Tried that as well and it always returns N even if an active subscription exists for that user. i also get an error when I try to show the order.number: `Variable "subscriptionNumber" does not exist.`

[2019-11-23 22:22] andrelopez commented on #55
Hi @madebyspark I have tested the code and is working on my local environment. Could you please make sure that you're getting the subscription from the right env (If TEST MODE is enabled) and checking that sub in Stripe with the same env mode?

Also, are you sure that the subscription is active? There are different statuses like `trial`

[2019-11-24 17:00] iamkeir opened #56 "Possible to find out if user has any ACTIVE subscriptions?"
Not a bug but wanted to check if there was a quick/easy way to find out if a user has **any** active subscriptions?

Currently, I have to loop through to check which is a bit ardous:
[code]
I had hoped there might either be a function or filter, e.g. `getSubscriptionsByUser(currentUser.id).status('active')`

I considered `craft.enupalStripe.orders({status: 'active'}).all()` but the `order.status`

[2019-11-24 19:19] iamkeir opened #57 "Subscription status for card billing issues?"
Is there any documentation/guidance on handling billing issues when a subscription auto-renews? E.g. a customer's card on file has expired/cannot be billed. Perhaps a subscription/order status other than `active` or `canceled`?

I would like to be able to show an error message explaining to the user there is a billing issue and the steps to fix the problem.

Ideally they would also be able to prov

[2019-11-25 11:18] iamkeir opened #58 "Error when using Stripes Payment Forms field type"
### Description

When trying to select a payment form from the Stripe Payment Forms field type, receive Craft error: `Unknown scenario: live`

### Steps to reproduce

1. Create a field that uses the Stripes Payment Forms field type
2. Attach field to a section
3. Choose a payment form
4. Receive error on save

Video demonstration: https://jmp.sh/FpwIMq0

### Temporary workaround

Use a plain text

[2019-11-25 11:19] iamkeir commented on #58
Update - if you leave `Validate related elements` unchecked in the field setup, it does not throw the error.

[2019-11-25 11:49] iamkeir commented on #57
From @andrelopez:

I also found a Stripe test card that creates a billing issue so will experiment and report back.

[2019-11-25 11:52] iamkeir commented on #58
Further update - when retrieving the Payment Form field data, everything appears to be null...
[code]

[2019-11-25 13:24] adrienne commented on #52
@andrelopez - I cannot get this to work with 2.1.3 of Payments. I have tried following the directions here. https://enupal.com/craft-plugins/stripe-payments/docs/templating/display-errors

[2019-11-25 13:36] andrelopez commented on #52
Hi @adrienne Could you please send back to us your templates to support@enupal.com ?

[2019-11-25 13:45] andrelopez commented on #57
Hi @iamkeir extracted from [Billing Lifecycle](https://stripe.com/docs/billing/lifecycle)

You can listen to the `invoice.payment_failed` event and send a notification email to the customer to update their card before Stripe makes a new attempt.

[2019-11-25 14:43] iamkeir commented on #56
Just to extend this - would be useful to be able to bring back a list of users with subscriptions (active or otherwise).

We have a page where we show a list of users but only if they have one or more active subscriptions. We can check as we loop through users but this messes up Craft pagination.

Instead, would be good to be able to return an array of users -  something like `{% set _usersWithAct

[2019-11-25 14:53] iamkeir commented on #56
Temporary workaround:
[code]

[2019-11-25 16:56] iamkeir commented on #57
Thanks - I'll close for now and re-open if I get stuck :)

[2019-11-26 09:41] iamkeir commented on #57
For reference, when calling `order.getSubscription()` a subscription can have the following status:

-`active`: active and all good
-`canceled`: cancelled subscription (american spelling)
-`past_due`: unpaid invoice and likely a billing issue (expired card/failed card/no card)

Are there any others? Might be worth adding to your documentation.

[2019-11-26 09:51] iamkeir commented on #57
Possibly `unpaid`?

[2019-11-26 10:16] iamkeir opened #59 "Possible to get Stripe's invoice payment URL?"
If a subscription is `past_due`, is it possible to get the Stripe checkout payment URL from available data? E.g. `https://pay.stripe.com/invoice/invst_kij40kj43oj232kl3jkj3`

I would like to be able to display this link to the user so they can go ahead and pay.

[2019-12-03 11:44] iamkeir opened #60 "If order refunded, it equals a string of '0'"
### Description
Weirdly, when using `order.getSubscription()`, the `refunded` value is equal to a string value of `'0'` if the order has been refunded. Feels like it should equal `true` or `1` instead. Is this controlled by Stripe Payments or is this data provided directly by Stripe? If the latter, it may be a bug to report with Stripe directly.

### Steps to reproduce

1. Output `{{ dump(order.ge

[2019-12-03 11:51] iamkeir opened #61 "Default webhooks documentation"
I have set up a webhook in Stripe for Stripe Payments but I was not sure which specific event types to setup, so I have set it up to fire all events. This feels a little excessive though and Stripe usually recommends against it.

Currently, I am not using any of the webhook events in my custom code (yet) but I have noticed that order data in Stripe Payments is updating when I change certain data w

[2019-12-03 17:24] madebyspark commented on #55
Yes, I have active subscriptions, but that code fails for me still.

Does it matter if you are in test mode?

[2019-12-03 17:49] andrelopez commented on #55
@madebyspark What is the output of the following code?
[code]

[2019-12-03 20:22] andrelopez commented on #59
Hi @iamkeir Please follow the next example:

[code]
Try to {{ dump(subscription) }} and check if you can get the info from there.

[2019-12-03 20:22] #59 closed

[2019-12-03 20:25] #57 closed

[2019-12-04 00:30] andrelopez commented on #60
Hi @iamkeir The best way to check if the subscription is refunded is:

`{{ order.refunded }}`

[2019-12-04 00:30] #60 closed

[2019-12-04 07:07] maddyBoy opened #62 "An invalid form control with name='stripeElementEmail' is not focusable."
### Description
Getting the js error in console.log.

### Steps to reproduce

1.create a form with these settings

![card-settings](https://user-images.githubusercontent.com/26545067/70120458-98093d00-1692-11ea-8f1a-396e2df5512c.png)

2. Fill the form with detils and see the console.log

### Additional info

- Craft version: Craft CMS 3.3.15
- PHP version: PHP 7.0.33
- Plugin version: 2.1.2

[2019-12-04 12:34] iamkeir commented on #60
My mistake, I was actually using `{{ order.refunded }}` but, as I said, if you do `{% if order.refunded %}` it evaluates to false because it is a string of `0`. You have to do `{% if _order.refunded == '0' %}` to make it evaluate to `true`.

See here: https://jmp.sh/z4iKoR0

[2019-12-05 18:04] iamkeir opened #63 "Possible to run 'Sync Orders' via CRON?"
Is it possible to run the Stripe Payments 'Sync Orders' task via a command, e.g. `stripe-payments/sync-orders` or similar, so that it could be run by a daily CRON task? Apologies if I have missed this in the docs.

[2019-12-05 20:10] andrelopez commented on #62
Hi @maddyBoy Please update to the latest version (v2.1.4) this issue should be fixed. Please reopen this ticket if not.

[2019-12-05 20:10] #62 closed

[2019-12-05 20:15] andrelopez commented on #58
Hi @iamkeir We just released Stripe Payments v2.1.5 with a fix to this issue. Thanks for reporting

[2019-12-05 20:15] #58 closed

[2019-12-09 15:06] iamkeir opened #64 "Possible to switch subscription?"
Is it possible to switch from one subscription/plan to another using a Stripe Payments form?

Or, if not, perhaps something that needs to be custom coded using `EVENT_AFTER_ORDER_COMPLETE`?

Thanks :)

[2019-12-09 17:01] iamkeir commented on #56
Unfortunately our temporary workaround slows our page load speed significantly - would recommend avoiding if within a large dataset.

[2019-12-09 21:56] andrelopez commented on #61
Hi @iamkeir The following events should be enough, I'm going to add this to the docs shortly:
[code]

[2019-12-09 21:57] #61 closed

[2019-12-09 22:06] andrelopez commented on #63
Hi @iamkeir Sorry, this feature is not available, but you can create a Console Controller within a custom plugin and run the following code to add the job to the queue:

https://github.com/enupal/stripe/blob/master/src/controllers/SettingsController.php#L117

Here is a console controller example: https://github.com/craftcms/cms/blob/develop/src/console/controllers/ClearCachesController.php

[2019-12-09 22:06] #63 closed

[2019-12-10 13:43] iamkeir commented on #59
Unfortunately not - there is nothing in either `order`, `order.getSubscription` or `order.getSubscription.data` that contains any of the Stripe checkout URL data.

Could I re-open this as a feature request instead? The purpose is to allow the customer to fix billing problems themselves, by going to the Stripe invoice URL. At the moment, there is no way for customers to resolve billing issues - unl

[2019-12-10 14:05] iamkeir commented on #59
Actually, perhaps relates to https://github.com/enupal/stripe/issues/25 as billing issues usually relate to a card problem, so if once this feature is built we can show a change/edit card form to the user, they would be able to resolve.

[2019-12-10 15:20] iamkeir commented on #57
For future reference, these are the subscription statuses from Stripe:
https://stripe.com/docs/billing/lifecycle#subscription-states

[2019-12-11 23:02] andrelopez commented on #59
Hi @iamkeir I'm working on ticket #25 hope will solve this issue.

[2019-12-11 23:06] andrelopez commented on #64
Planning add this feature based on the next docs: https://stripe.com/docs/billing/subscriptions/upgrading-downgrading

Adding a form example to be submitted from the front-end

[2019-12-12 03:24] andrelopez commented on #25
We just released Stripe Payments v2.1.6 with support to update card details. [More Info](https://enupal.com/craft-plugins/stripe-payments/docs/templating/update-card-info)

[2019-12-12 03:24] #25 closed

[2019-12-12 03:30] andrelopez commented on #59
Hey @iamkeir #25 is released in v2.1.6

[2019-12-13 03:46] andrelopez commented on #64
Hi @iamkeir We just released Stripe Payments v2.1.7 with support to upgrading or downgrading plans. [More info](https://enupal.com/craft-plugins/stripe-payments/docs/templating/update-subscription-plan)

Enjoy!

[2019-12-13 03:46] #64 closed

[2019-12-13 14:03] iamkeir opened #65 "Changing user email does not update Stripe - possible feature request"
### Description
If a user updates their email address in Craft, it does not update in Stripe, so payment/invoice email notifications still go to the old email address.

Is this a bug, or a feature request?

### Steps to reproduce

1. Create a subscription for a user
2. Change email address of user
3. Notice subscription customer in Stripe is still old email address

[2019-12-13 14:48] iamkeir opened #66 "Is there an event for when sync orders is run?"
### Description
There is some code I need to run in my custom module if the admin runs 'sync orders' - is there an event I can listen for to do so? I had hoped that it would run `afterOrderComplete` for all the orders it synced but it does not seem to fire that event.

I used the following and then ran a sync:
[code]

[2019-12-13 17:05] iamkeir opened #67 "getSubscription in order loop very slow"
### Description
I am outputting a subscription order history, paginated by 12 but I am finding that `order.getSubscription()` is really slowing down the page load when it is called on each order.

This is obviously not surprising due to the fact it is querying Stripe for each order - but I wondered if there is any way to speed up this query?

I would usually use Craft's Eager Loading `with` functi

[2019-12-13 17:09] iamkeir commented on #67
I tried using `{% cache %}` but it does not flush/update when orders change.

[2019-12-13 20:38] iamkeir opened #68 "Failed card payment marked as successful"
### Description
We had a customer card declined for a subscription but the order was still marked as `paid/succeeded`.

### Steps to reproduce

1. Have a payment declined (insufficient funds) for a subscription
2. Notice that the order is marked as paid

### Screenshots
![screenshot_230](https://user-images.githubusercontent.com/539615/70830548-b7217080-1df0-11ea-9102-29da5007c871.png)
![screensho

[2019-12-14 17:36] iamkeir opened #69 "$e->order always empty in afterProcessWebhook"
### Description
As per the [webhook event docs](https://enupal.com/craft-plugins/stripe-payments/docs/plugin-development/events), I have been trying to use `$e->order` to get information pertaining to the order, such as customer email (`$order->email`) and subscription info (`$subscription = $order->getSubscription()->status`).

However, no matter what event type it is, `$e->order` is always empty

[2019-12-14 17:56] andrelopez commented on #69
Hi @iamkeir the order could be empty due that that event does not have the Stripe ID that we store in the db, something like sub_xxx or ch_xxxx if you can get that info from the stripeData variable you can then get the order using the following service:

[code]

[2019-12-16 11:04] iamkeir opened #70 "craft.enupalStripe.getStripeCustomer(currentUser.email) returns deleted customer instead of current active one"
### Description
If you have a customer in Stripe, then delete them, then add them again (with same email address), `craft.enupalStripe.getStripeCustomer(currentUser.email)` retrieves a deleted customer, not the currently active one.

I guess perhaps `craft.enupalStripe.getStripeCustomer` needs to check the customer is active?

### Additional info
- Craft version: Craft Pro 3.3.18.1
- PHP version:

[2019-12-19 18:40] iamkeir opened #71 "Order syncing problems"
### Description
We have encountered a couple of problems with keeping orders in sync between Stripe and Craft.

1. When I refunded an order in Stripe and cancelled the subscription, the order in Stripe Payments has not updated to `refunded`. I then ran a manual order sync to see if that would fix the problem but it did not.

2. When a customer paid an outstanding subscription invoice via Stripe-ho

[2019-12-19 18:43] iamkeir commented on #67
I think this gets slower as the number of orders increases, linked to the number of `order.getSubscription()` calls being made.

[2019-12-20 15:40] andrelopez commented on #68
Hi @iamkeir

The Payment Status is attached to the first payment (for subscription model), however, with [webhooks](https://enupal.com/craft-plugins/stripe-payments/docs/plugin-development/events) you can update the status of the order for any custom status you have created.

[code]

You may need to listen for the `customer.subscription.deleted` event

[2019-12-22 14:48] iamkeir opened #72 "craft.enupalStripe.getStripeCustomer returning null despite customer existing in Stripe"
### Description
I am using `craft.enupalStripe.getStripeCustomer` to get the Stripe customer object for use with things like customer card details but it is returning `null` despite the customer existing in both Stripe and Stripe Payments' orders.

### Additional info
https://jmp.sh/RjaJVwx

- Craft version: Pro 3.3.18.3
- PHP version: 7.3.1
- Database driver & version: MySQL 5.7.28
- Plugin versi

[2019-12-22 17:01] andrelopez commented on #72
Hi @iamkeir I'm unable to recreate this issue. Could you please check that Stripe Payments and the records in Stripe has the same testMode?

[2019-12-22 17:04] iamkeir commented on #72
They are both matching.

I should mention that this happened when I used a Payments Form to sign up to a subscription and provide card details - rather than adding card details via the new functionality Stripe modal window. Could you try that to see if you can replicate if you do it that way?

[2019-12-22 20:29] iamkeir commented on #69
That didn't work for me either - `$order = Stripe::$app->orders->getOrderByStripeId($data['data']['object']['id']);` returns null.

The weird thing is, if I resend the webhook from Stripe, it succeeds. So it is almost as if the webhook is firing before the order has been created in Stripe Payments. Is that possible?

[2019-12-24 17:56] iamkeir commented on #69
As a short-term fix, is there a function in Stripe Payments to get Stripe customer email from Stripe customer ID? E.g. `Stripe::$app->orders->getCustomerById`

Webhooks return the customer ID but I need an email address to correctly pair this up with a Craft user and perform the logic I need.

[2019-12-30 07:30] saxenapritesh opened #73 "Payment Form not show Card Detail Form"
### Description

As, when I enable payment form using card method it doesn't show us card detail form.

### Steps to reproduce

1. Install Plugin and add stripe Details.
2. Create a Payment form and set Payment Method to `Card`.
3. But in frontend it only show email field.

`Frontend Form`

![enupal22](https://user-images.githubusercontent.com/26432256/71572197-fe537500-2b03-11ea-9ed3-e65bec7310fc

[2019-12-30 19:24] andrelopez commented on #73
Hi @saxenapritesh the issue could be due to the following scenarios:
- Make sure that the `paymentForm` tag is outside the `cache` tag in your templates.

- Are you using template overrides? If so please make sure to update it to the latest changes. (https://github.com/enupal/stripe/tree/master/src/templates/_frontend)

[2019-12-31 09:27] saxenapritesh commented on #73
Hi @andrelopez,
- For testing, I just put the `paymentForm` code in an empty template in fresh craft installation.
- No cache tag is used.
- No template override.
Still same issue

[2020-01-02 14:15] saxenapritesh commented on #73
Hi @andrelopez,

[web.log](https://github.com/enupal/stripe/files/4016106/web.log)

I have attached my web log file please have a look into this.

[2020-01-06 06:05] saxenapritesh commented on #73
Hi @andrelopez,

Can you please tell me what's the status of this as i have waiting for this issue for some days.

[2020-01-08 20:11] iamkeir opened #74 "Clicking multiple times on Stripe Payments form submit results in multiple customers/subscriptions"
### Description
If you click multiple times on the Stripe Payments form submit button, despite it being disabled, it still seems to send multiple submissions resulting in multiple customers and subscriptions.

### Video
https://jmp.sh/T6BRBXU

### Steps to reproduce

1. Use a Stripe Payments form to sign up to a subscription
2. Click the submit button multiple times
3. See that multiple customers

[2020-01-09 01:43] andrelopez commented on #69
That's correct @iamkeir, if you've enabled SCA in some events the order still does not exists, you may need an if statement to listen to the next event: `checkout.session.completed` we add the following comment in our [docs](https://enupal.com/craft-plugins/stripe-payments/docs/plugin-development/events#afterprocesswebhook)
[code]

[2020-01-09 02:22] andrelopez commented on #72
Hi @iamkeir I'm still unable to recreate this issue. Could you please send us your templates to review your code? please use the following email: support@enupal.com

[2020-01-09 13:53] bymayo commented on #56
@iamkeir Is it not possible to just do:

`{% if craft.enupalStripe.getSubscriptionsByUser(currentUser.id)|length %}{% endif %}`

[2020-01-09 18:44] iamkeir commented on #69
@andrelopez we're not using SCA so I did not think this applied to us.

It is really strange - when using my local environment, the order variable is present in the `customer.subscription.created` event. However, in the live environment, it is not. The codebase and database are identical. Is there anything we may have missed?

[2020-01-10 23:56] andrelopez commented on #73
It looks like a JS conflict, could you please make sure that Jquery is loaded in the html page? Also, could you please open de debug toolbar (F12) in Chrome, click the console tab and send us a screenshot?

[2020-01-11 01:01] andrelopez commented on #71
Hi @iamkeir

1.- is an enhancement (you can create your own business logic via webhooks in the meantime)

2.- Do you think it could be a date issue? Have you synced the orders by date?

[2020-01-11 01:05] andrelopez commented on #69
Does the live environment have the same Stripe keys and testMode? Are you loading the your settings from the db or using the config file?

[2020-01-11 01:06] #68 closed

[2020-01-11 01:25] andrelopez commented on #67
Hi @iamkeir, unfortunately, Stripe does not support in their [API](https://stripe.com/docs/api/subscriptions/list) list subscriptions passing the ids (something like an array) to make only one call instead of call one by one.

[2020-01-11 01:25] #67 closed

[2020-01-11 01:34] andrelopez commented on #66
You may need to listen for the base element save event, you can use the orderStatusId to check if is a synced oder:

[code]

[2020-01-11 01:34] #66 closed

[2020-01-11 02:00] andrelopez commented on #56
Related to https://github.com/enupal/stripe/issues/67#issuecomment-573265006

As we don't store the subscription info in the database, the only solution that I see is contact the Stripe support and check if there is a way to List subscriptions passing an array of the specific IDs.

[2020-01-11 02:01] #56 closed

[2020-01-11 02:09] andrelopez commented on #55
I'm closing this ticket due to inactivity, please feel free to reopen if you still have this issue.

[2020-01-11 02:09] #55 closed

[2020-01-14 15:13] andrelopez commented on #65
Hi @iamkeir We just released Stripe Payments v2.2.0 with support to this feature. After update your plugin, go to Stripe Payments -> Settings -> Defaults and enable the "Update customer email on Stripe" lightswitch

Best,

[2020-01-14 15:13] #65 closed

[2020-01-14 15:14] andrelopez commented on #74
Hi @iamkeir We just released Stripe Payments v2.2.0 with a fix to this issue.

[2020-01-14 15:14] #74 closed

[2020-01-14 17:26] iamkeir commented on #69
All keys and modes are correct as far as I can see.

Further development - _sometimes_ `customer.subscription.created` event has an order, other times it does not. This is in This is from our logs:
[code]
This is same codebase across all those days. Inconsistent bugs are the worst :(

Is there anyway to get the customer email address within the webhook without using the order? This would give us a

[2020-01-17 12:44] mark-adigital opened #75 "Checkout Success URL using wrong order number"
Hi - I have a payment form set up using the Stripe Checkout and a Checkout Success URL of /thanks?number={number}, but the value of {number} is defaulting to the oldest order rather than the newly created one. I haven't entered a Global Return URL to the default settings and the Return URL under the 'advanced' form settings is also empty. Any advice much appreciated. Thanks.

[2020-01-23 10:26] mark-adigital commented on #75
Just wondered if there was any update to this?

[2020-01-23 18:12] andrelopez commented on #75
Hi Mark,

Do you have SCA enabled? Could you please send me a screenshot of your payment form settings?

[2020-01-24 09:25] mark-adigital commented on #75
Hi Andre - thanks for picking this up.

Yes - there's four payment forms and they are all using SCA. Please find screenshot of form settings below, however I've noticed that regardless of which one I submit it's still the same oldest order that is returned so I'm not sure the issue is at the form settings level. I have also written a module which listens for successful and refunded transactions an

[2020-01-29 11:09] mark-adigital commented on #75
Hi @andrelopez  - have you had a chance to look into this issue any further? Thanks.

[2020-01-30 15:00] mijewe commented on #37
I am also having this issue.

I installed the plugin locally (on Craft 3.3.18.1).
Then when running a project-config/sync on the staging environment, it failed to complete the migration. The message was:
"
The following config paths could not be processed successfully:
matrixBlockTypes.bb46e506-aed5-47ba-b8b4-94084cc0d63a
matrixBlockTypes.57e19050-8d5c-432f-b9c3-907a9f58b810
matrixBlockTypes.20933

[2020-01-31 19:36] andrelopez commented on #75
Hi @mark-adigital
Sorry for the late reply. I'm unable to recreate this issue, I'll let you know if I find something.

[2020-01-31 19:38] andrelopez commented on #73
I'm going to close this ticket but feel free to re-open if you have any update.

[2020-01-31 19:38] #73 closed

[2020-02-03 17:13] mijewe opened #76 "Custom Form Fields not saving - Add support to Craft CMS 3.4.x"
### Description
I try to add custom fields to a form (Stripe Payments > Payment Forms > New Payment Form > Form Fields).
I hit save (or cmd+s).
When the page refreshes, it has not saved my new fields.
There is no error message. I instead get the positive "Payment form saved." message.
There's nothing in the logs I can see.

This is following on from my comment on #37 - running a config sync threw

[2020-02-08 14:42] andrelopez commented on #76
We need to add support to Craft CMS 3.4.x, please stay tuned

[2020-02-08 14:43] andrelopez commented on #75
What is your Craft CMS version?

[2020-02-10 09:21] mark-adigital commented on #75
Thanks for looking @andrelopez . Craft version is currently 3.4.5 - it's a dev site so I've seen it happen through multiple latest versions of Craft over the month or so since I opened this issue.

[2020-02-25 21:22] andrelopez commented on #75
Hi @mark-adigital I think this issue is related #76 we need to add support to Craft 3.4 I'll update this ticket once we fixed it.

[2020-02-25 21:26] andrelopez opened #77 "Add support to add multiple Stripe account"

[2020-02-26 09:36] mark-adigital commented on #75
Thanks for the update @andrelopez , I _may_ have seen the issue pre-3.4 but am honestly not entirely sure right now, so worth trying for sure.

[2020-02-26 19:38] andrelopez commented on #76
Hi @mijewe We just released Stripe Payments 2.3.0 with support to Craft 3.4, Could you please check if that fixes your issues?

[2020-02-26 19:41] andrelopez commented on #75
Hi @mark-adigital We just released Stripe Payments v2.3.0 with support to Craft 3.4, if you update the plugin and still having the issue, could you please disable your custom plugins and try again? If the error persists please let me know.

[2020-02-27 13:35] andrelopez commented on #72
I will close this ticket for now. Please feel free to follow up via our email support

[2020-02-27 13:35] #72 closed

[2020-02-28 10:56] mijewe commented on #76
Yep excellent - this has fixed my issues with fields!

Thanks!

[2020-02-28 10:56] #76 closed

[2020-03-04 11:23] mijewe opened #78 "Not being taken to Checkout Success URL after payment"
### Description
I've set a Checkout Success URL on my Payment Form.
When I go through a payment however, it returns me to the homepage, not my specified Checkout Success URL.

(The Checkout Cancel URL works fine.)

### Steps to reproduce

1. Set a Checkout Success URL on a new or existing Payment Form
2. Complete a payment
3. You'll be redirected to the homepage

### Additional info

- Craft versi

[2020-03-04 12:11] mark-adigital commented on #75
Thanks @andrelopez , unfortunately the issue does persist - including when I disable the custom module I wrote to listen for Stripe Payment events. Do you want me to provide a list of other plugins used on the install?

[2020-03-04 13:14] andrelopez commented on #78
Could you please confirm the following questions?
- Do you have SCA enabled?
- If so, are you testing from a live (or staging) URL?
- The order is created on the Stripe Payments plugin?

[2020-03-09 22:24] nikolowry opened #79 "Allow user-specified values for interval, frequency and trial-period in custom-amount Subscriptions"
### Description
Requesting the ability to allow user-specified values for interval, frequency and trial-period in custom-amount Subscriptions.

I'm currently porting an old Craft v2 site to v3, in which they are currently using the [Charge Plugin](https://transition.topshelfcraft.com/software/craft/charge) to handle single and recurring payments for donations. They currently accept recurring payme

[2020-03-09 22:41] andrelopez commented on #79
Hi @nikolowry I see your point. We could add support to pass the interval/frequency via options for custom amount subscriptions when you display the payment form, e.g:

´´´twig
{% set options = {interval: 3, frequency: "month"} %}

{{ craft.enupalstripe.paymentForm('handle', options) }}

´´´
Any thoughts?

[2020-03-09 23:48] nikolowry commented on #79
@andrelopez thanks for the quick response! The snippet you provided seems like it would suffice. I'm assuming a similar option could be added to specify trial period days?

I was wrong about assuming I'd currently need to create 15 forms -- it would only be 3 (30 days, 3 months, and 1 year).

Would you happen to know if the `customer.subscription.created` webhook is the best way to implement a [Su

[2020-03-11 03:06] nikolowry commented on #79
**Updates**
- Went ahead with 3 unique forms, figured it be easy to delete 2 then to revert any custom patches when this feature makes it in.
- I'm using Stripe Elements, so in the original post I should have linked to these LOC in the `Orders.php` service: https://github.com/enupal/stripe/blob/aef71f577eae5bc35b2055679fc497b1b9fc1c4c/src/services/Orders.php#L1173-L1182
- `customer.subscription.cr

[2020-03-11 12:52] bearfjellstad commented on #78
I have the same issue. Cancel URL works fine.

In my case:
- SCA is enabled
- Testing from a staging URL
- The order shows up on stripe.com, but is not created on the Stripe Payments plugin

### Additional info
- Craft version: SOLO 3.4.9
- PHP version: 7.3.5
- Database driver & version: MySQL 5.7.26
- Plugin version: 2.3.1

[2020-03-11 12:58] mijewe commented on #78
Yep - same answers for me.

- SCA yes,
- staging and live URLs both affected (ie testing and live Stripe modes)
- order in Stripe, but not in Craft.

I guess if the order isn't created, the "redirect to this page after an order is created" isn't triggered, so maybe this is a bigger issue of orders not being created in Craft.

[2020-03-12 09:55] andrelopez commented on #78
@mijewe @bearfjellstad Hey guys, could you please confirm that your [Webhook Url](https://enupal.com/craft-plugins/stripe-payments/docs/stripe-payment-forms/webhook) it's available across the internet (hit the URL from an incognito window) also please make sure the next webhook event is enabled on your [Stripe Dashboard}(https://dashboard.stripe.com/account/webhooks) `checkout.session.completed`

[2020-03-12 10:04] andrelopez commented on #79
Hi @nikolowry I can continue from here. I'll let you know if I have any questions

[2020-03-12 10:07] andrelopez commented on #75
@mark-adigital  could you please confirm that your Webhook Url it's available across the internet (hit the URL from an incognito window) also please make sure the next webhook event is enabled on your Stripe Dashboard checkout.session.completed

[2020-03-12 15:44] mark-adigital commented on #75
Checked both of those, @andrelopez , and the webhook URL is accessible (I get a `{"success":true}` return) and the `checkout.session.completed` event is enabled on the webhook.

[2020-03-12 19:24] andrelopez commented on #75
@mark-adigital But the new order is created on the Stripe Payments plugin? Could you please recreate the issue and send back to us a zip file of the following folder `storage/logs` to support@enupal.com ?

[2020-03-13 13:30] bearfjellstad commented on #78
It does indeed work for me when the Webhook Url is publicly exposed. Thanks!

[2020-03-17 12:17] mijewe commented on #78
Yep that also did it for me - thanks!

Do you have any guidance on what events we need to fire from Stripe? I was going to go for all the Payment Intents and Checkout ones.

[2020-03-18 19:37] andrelopez commented on #78
Hi @mijewe Besides that we just added a recommended list [here](https://enupal.com/craft-plugins/stripe-payments/docs/stripe-payment-forms/webhook#events) glad that this issue is solved.

[2020-03-18 19:37] #78 closed

[2020-03-18 23:37] andrelopez commented on #79
Hi @nikolowry We just added support for custom plan options more info [here](https://enupal.com/craft-plugins/stripe-payments/docs/templating/paymentform#custom-plans-options)

Thank you for your feedback

[2020-03-18 23:37] #79 closed

[2020-03-19 00:48] nikolowry commented on #79
Appreciate it @andrelopez!

[2020-03-19 10:57] andrelopez commented on #79
@nikolowry I forgot to mention that if you're using template overrides you need to add lines https://github.com/enupal/stripe/blob/cbab3e576567b62dcdd13ffe31d89732ebca424c/src/templates/_frontend/paymentForm.twig#L26 26 to 34

[2020-03-21 18:43] benface opened #81 "[Feature Request] Add the ability to pass line items to Checkout via the `options` param"
This would be particularly useful for things like shipping fees that should be listed separately from the main item/product the user is purchasing.

[2020-03-22 17:09] andrelopez commented on #81
Hi @benface Stripe Payments v2.5.0 has added support to this feature please let me know if you have any questions.

https://enupal.com/craft-plugins/stripe-payments/docs/templating/paymentform#custom-line-items

[2020-03-22 17:09] #81 closed

[2020-03-22 17:15] benface commented on #81
Wow, that was fast! Thank you!

[2020-03-24 17:17] bfjare opened #82 "stripe/stripe-php composer error"
Trying to install the plugin locally.  Hangs when trying to add from the control panel.

Run "composer require enupal/stripe" on the command line and get the following errors.

[code]

Here is my composer.json file.

[code]

[2020-03-24 21:03] andrelopez commented on #82
Thanks for reporting @bfjare We just released Stripe Payments 2.5.1 with a possible fix to this issue, could you please try that and let us know how it goes?

[2020-03-24 21:32] bfjare commented on #82
Confirming that this fixed the issue.  Thanks!

[2020-03-24 21:32] #82 closed

[2020-04-05 01:53] benface opened #83 "[Feature Request] Add ability to pass custom checkoutSuccessUrl and checkoutCancelUrl in paymentForm()"
It would be really useful if we could pass a custom `checkoutSuccessUrl` and `checkoutCancelUrl` in the `options` of `craft.enupalStripe.paymentForm()`, like so:

[code]

[2020-04-05 02:27] benface opened #84 "Passing custom lineItems to paymentForm() still includes the form's "main item""
I am not sure if this is expected. If it is, please consider what follows a feature request, and if it's not, please consider it a bug.

I want to be able to specify ALL the line items of a Checkout charge right from the template. I am following the example from the documentation:

[code]

Right away, when clicking the Pay button with that code, I am getting an error (500 response from `/enupal/st

[2020-04-05 02:30] benface opened #85 "What is the difference between "Checkout Success URL" and "Return URL"?"
Both these fields in the Payment Form settings have the exact same description:

[2020-04-05 03:21] benface opened #86 ""Payment Button Processing Text" is ignored when "Payment Button Text" is set"
### Steps to reproduce

1. Create a new payment form.
2. Set "Payment Button Text" to "Pay" and "Payment Button Processing Text" to "One moment please..."
3. In a template, `{{ craft.enupalStripe.paymentForm('paymentForm') }}`
4. Go to the page that renders that template and click on "Pay".

**Expected result:** The button's text changes to "One moment please..."
**Actual result:** The button's te

[2020-04-05 16:02] benface commented on #54
I'm also seeing this on all pages where the menu is taller than the page's content. Very annoying!

[2020-04-06 13:19] benface opened #87 "Update the sync workflow to support the new Stripe Checkout"
Right now when you try to sync orders created with the new Stripe Checkout, a lot of information isn't properly synced:

- Billing details (including customer name)
- Shipping details
- Order items (order than the first one)
- Maybe more that I don't know about

[2020-04-06 13:56] andrelopez commented on #85
Sorry about the confusion.

- Checkout Success URL: Will be used when SCA is enabled in the general settings and Stripe Checkout is enabled in the payment form.

- Return URL will be used when SCA is disabled in the general settings.

[2020-04-06 13:56] #85 closed

[2020-04-06 13:58] andrelopez commented on #84
I'll look into this one, probably we'll need to pass an extra option to disable the main one

[2020-04-06 14:03] andrelopez commented on #47
Hi @wiegerjelsma the new Stripe Checkout now accepts iDEAL (only one-time payments) and Cards please feel free to update to the latest version to use this feature.

Best,

[2020-04-06 14:04] #47 closed

[2020-04-21 20:37] andrelopez commented on #71
Sorry for the late update but we fixed this issue since v2.2.0 please check the "Update customer email on Stripe" setting

[2020-04-21 20:37] andrelopez commented on #70
Sorry for the late update but we fixed this issue since v2.2.0 please check the "Update customer email on Stripe" setting

[2020-04-21 20:37] #70 closed

[2020-04-22 07:31] andrelopez commented on #87
Hi @benface We just released Stripe Payments v2.6.0 with a fix to the addresses issue. We can't add the info from the line items to the Order you may need to query Stripe directly, sorry about that.

[2020-04-22 07:31] #87 closed

[2020-04-22 07:31] andrelopez commented on #86
Hi @benface This issue is solved on Stripe Payments v2.6.0

[2020-04-22 07:31] #86 closed

[2020-04-22 07:32] andrelopez commented on #84
Hi @benface We added support to `removeDefaultItem` please follow the instructions in our [docs](https://enupal.com/craft-plugins/stripe-payments/docs/templating/paymentform#custom-line-items)

[2020-04-22 07:32] #84 closed

[2020-04-22 07:35] andrelopez commented on #71
We had an issue on the Sync dates and is fixed on Stripe Payments v2.6.0 Please let me know if that solves this issue. Feel free to reopen if you still have that issue.

[2020-04-22 07:35] #71 closed

[2020-04-22 13:04] siebird opened #88 "Override item description on Stripe form"
It would be nice to override the item description with a Stripe Form.

An [example here](https://d.pr/i/tNsbdH)

[code]

[2020-04-22 14:06] benface commented on #87
Thank you!

[2020-04-22 14:06] benface commented on #84
Nice, thank you very much!

[2020-04-23 04:22] benface opened #89 "[Feature Request] Add ability to customize a charge's `description`"
When using the new `lineItems` option (along with `removeDefaultItem: true`) with the new Checkout, there is currently no way to get which item(s) was/were purchased. That information is saved to Stripe, but it looks like it's not passed back to Craft in the webhook event or when syncing orders. However, I see that the good old `description` field is passed back, so if there was a way to customize

[2020-04-23 08:00] andrelopez commented on #89
Hi @benface what about adding your items info to [hidden fields](https://enupal.com/craft-plugins/stripe-payments/docs/stripe-payment-forms/form-builder-metadata-fields#hidden-field)? Maybe you can add a comma-separated data
[code]
and then in your hidden field value, you can have something like
[code]
Please let me know your thoughts

[2020-04-23 16:54] benface commented on #75
Hey @andrelopez I am experiencing te same issue. I don't have webhooks set up right now because I'm still at the local dev stage, but it seems the `{number}` in the "Checkout Success URL" field always evaluates to the first order's number rather than the latest one.

[2020-04-23 17:04] benface commented on #89
Ohhh that looks like it would work @andrelopez. I see the hidden field's value in the `metadata` that comes back from Stripe in the "Order Synced" message's details, but I can't see it in the CP as shown in this screenshot: https://enupal.com/assets/docs/_lightboxdocs/24-stripe-payments.png. Would that be a bug with the Sync Orders feature or the new Stripe Checkout perhaps?

[2020-04-24 10:44] iamkeir commented on #72
Unfortunately we had to move to a different solution for our subscriptions but thank you anyway.

[2020-04-24 10:45] iamkeir commented on #69
Feel free to close this as we have moved to a different solution for our subscriptions.

[2020-04-24 17:14] benface opened #90 "Add support for taxes with the new Stripe Checkout"
It seems that enabling taxes has no effect on the new Stripe Checkout. Is this a bug or I'm misunderstanding the feature?

[2020-04-25 10:13] andrelopez commented on #90
Hi @benface Taxes for subscriptions were introduced a couple on months ago, we'll add support for this on the next version, stay tuned :)

[2020-04-25 10:24] andrelopez opened #91 "Save metadata on Sync Orders"

[2020-04-25 10:29] andrelopez commented on #89
@benface That's right it looks like we're not storing metadata on sync, I have created a new issue to fix that https://github.com/enupal/stripe/issues/91

However, in the normal workflow, the metadata should be saved. If you're testing locally you could copy the `checkout.session.completed` json payload from your Stripe Dashboard -> Developers -> Events and send by POST using the POSTMAN tool the

[2020-04-25 10:29] #89 closed

[2020-04-30 10:35] bboy-splendid opened #92 "Syncing Subscription Orders Failing"
### Description
Syncing has stopped working for an unknown reason. Has been fine until now. Error shown:

Argument 1 passed to enupal\stripe\services\Countries::getCountryByIso() must be of the type string, null given, called in /home/ben/craft/vendor/enupal/stripe/src/services/Addresses.php on line 254

### Additional info

- Craft version: Craft Pro 3.4.16
- PHP version: 7.3.17
- Database driver

[2020-05-02 20:25] andrelopez commented on #75
Sorry for taking too long to recreate this issue it was a little bit tricky. This issue is fixed on Stripe Payments v2.6.1

[2020-05-02 20:25] #75 closed

[2020-05-04 06:31] aaronbest4 opened #93 "Name of Payment Form with the Charge description"
### Description

Is it possible to send the name of the payment form with the Charge description?

Default charge description: Order from {email}

I would like to be able to customise it to "{paymentForm.Name} from {email}" when it arrives in Stripe.

I have tried a number of variations and have not been able to achieve that.

[2020-05-07 07:10] andrelopez commented on #93
Hi @aaronbest4 please try the following description:

`Order from {object.getPaymentForm().name}`

[2020-05-07 07:10] #93 closed

[2020-05-15 09:57] nettum opened #94 "Project config and respect 'allowAdminChanges' => false"
### Description
Even if you have `'allowAdminChanges' => false` you can edit stripe settings (which I then assume will try to write settings back to project.yaml).

To get this plugin to work across multiple envs without messing up project.yaml I added the following to general.php:
![image](https://user-images.githubusercontent.com/798156/82036404-27366a00-96a1-11ea-9bda-dc76fcf8ef2b.png)
and it s

[2020-05-16 14:16] andrelopez commented on #94
Hi,

Please save your settings as the follow example from our [docs](https://docs.enupal.com/stripe-payments/getting-started/saving-your-stripe-api-keys.html#saving-the-stripe-api-keys-via-config-file)

[code]

Users will be unable to save livePublishableKey, liveSecretKey or testMode on the different environments

This issue is more for a feature request to add user permissions to hide the settin

[2020-05-16 14:20] andrelopez commented on #54
Hi, we just migrated our docs to use vuepress with a new subdomain https://docs.enupal.com/stripe-payments/

Please feel free to report any 404 error from old links here

Thanks!

[2020-05-16 14:20] #54 closed

[2020-05-16 14:23] andrelopez commented on #92
What is your Stripe API version?

[2020-05-16 14:32] benface commented on #54
The new docs are so much better!

[2020-05-16 18:17] bboy-splendid commented on #92
We have three api versions listed in our stripe dashboard:

Version: 2020-03-02 Latest
Last Used: May 12
Usage: < 1%

Version: 2019-10-17 Default
Last Used: May 12
Usage: < 1%

Version: 2019-09-09
Last Used: May 16
Usage: 99%

[2020-05-17 18:53] andrelopez opened #95 "Add update subscription from the front-end"
### Description

More info [here](https://stripe.com/docs/api/subscriptions/update)

[2020-05-18 20:21] nettum commented on #94
It's more a question if the plugin will support project config (which was introduced in craft cms 3.1).
See user docs [here](https://docs.craftcms.com/v3/project-config.html) and plugin dev docs [here](https://docs.craftcms.com/v3/extend/project-config.html).

As far as I can see this plugin (and the settings in the post above) will work nicely without project config, but with project config enabl

[2020-05-19 08:31] gio00 opened #96 ""Check Coupon" button not translatable"
### Description
Coupon button "Check Coupon" is not translatable. I have copied the code responsible.

[code]

I think it should be like this:
[code]

### Additional info

- Craft version: 3.4.20
- PHP version: 7.3
- Database driver & version:
- Plugin version: 2.6.1

[2020-05-19 08:37] andrelopez commented on #96
We'll fix this very soon. Thanks!

[2020-05-19 08:38] andrelopez commented on #94
@nettum Thanks for this info. I'll back to you if I have any questions

[2020-05-19 21:41] andrelopez commented on #1
@aladrach Currently doing research about this feature

[2020-05-19 22:44] aladrach commented on #1
@andrelopez I can provide sample code where I have it working if that was help! It wasn’t particularly difficult I just want to be able to run updates as they’re released without re-merging my code.

[2020-05-20 06:34] andrelopez commented on #1
@aladrach Sounds great, looking forward to it

[2020-05-26 08:19] andrelopez commented on #96
Hi @gio00 we just released Stripe Payments v2.6.2 with a fix to this issue and also add `checkCouponLabel` if you want to pass that via options

https://docs.enupal.com/stripe-payments/coupons/overview.html

[2020-05-26 08:19] #96 closed

[2020-05-26 08:20] andrelopez commented on #92
Hi @bboy-splendid we just released Stripe Payments v2.6.2 with a fix to this issue, please let me know if that works.

[2020-05-26 08:20] #92 closed

[2020-05-26 16:41] alexr8 opened #97 "No order processed using SCA"
Hi all, i'd originally been testing using the non-sca form with no issues (order completes, order shows up in enupal dashboard, notification emails sent out). I switched to SCA, added my webhooks with the events in stripe as per the instructions, and now when i complete an order, it just redirects me to the root of my website (not the redirect url provided in the form), and no order is logged in c

[2020-05-26 18:34] andrelopez commented on #97
@alexr8 could you please confirm that your [Webhook Url](https://docs.enupal.com/stripe-payments/docs/stripe-payment-forms/webhook) it's available across the internet (hit the URL from an incognito window) also please make sure the next webhook event is enabled on your [Stripe Dashboard](https://dashboard.stripe.com/account/webhooks) `checkout.session.completed`

[2020-05-26 19:01] alexr8 commented on #97
Hi @andrelopez thanks for the swift response - everything is working as expected now. I realised i'd added my webhook as a live webhook, but was running the plugin in test mode (first time with stripe - i'd wrongly assumed the webhook was sort of universal across test/live). Thanks for a great plugin!

[2020-05-26 19:09] andrelopez commented on #97
@alexr8 Onward!

[2020-05-26 19:09] #97 closed

[2020-05-27 10:29] stevenjwright commented on #1
This would be a great addition. +1 from me on this

[2020-05-29 08:45] andrelopez commented on #94
I have reported a bug on Craft CMS here https://github.com/craftcms/cms/issues/6161

[2020-05-29 08:45] andrelopez commented on #49
I have reported a bug on Craft CMS here craftcms/cms#6161

[2020-05-29 08:46] andrelopez commented on #37
I have reported a bug on Craft CMS here craftcms/cms#6161

[2020-06-01 17:32] shantamg opened #99 "Amount field increments by .01"
### Description
The amount field that is generated (when a payment form is set to "custom amount") includes the html: `step=".01"` which causes the arrows in the field to change the amount by 1 cent. I imagine it would be more useful if the increment were 1, or perhaps even customizable.

[2020-06-01 17:34] shantamg opened #100 "Error messages on required fields do not show up in safari"
### Description
The tooltips that are designed to pop up when a form is submitted without a required field being filled out do not work on safari on Mac OS and iOS. They seem to pop up for a split second and then disappear.

[2020-06-04 00:07] sm-md-lg opened #101 "Errors not displaying, getting exceptions instead"
### Description
When using a test card (`4000000000000002`) that causes a `card_declined` code it is not trapped using the [example error trapping code](https://docs.enupal.com/stripe-payments/templating/display-errors.html) in the documentation.

What I'm trying to do is have the page reload with the error message as part of it so the user can know what happened, otherwise a default "system error

[2020-06-04 15:47] sm-md-lg opened #103 "Stripe does not show errors for fraudulent cards"
### Description
When using a card (`4000000000004954`) that has a `risk_level` of highest, no error is shown or no exception is thrown.  It appears that every thing worked except they were not sent to the thankyou page.

Note, I am using card numbers from here: https://stripe.com/docs/testing#cards-responses

### Additional info
- Craft version: 3.4.16
- PHP version: 7.2.24-0ubuntu0.18.04.6
- Data

[2020-06-04 18:40] andrelopez commented on #101
Thanks for reporting, we'll fix this asap.

[2020-06-04 21:38] sm-md-lg commented on #103
To give a better explanation that I did above, what happens is:
 1. asdf

[2020-06-04 21:46] sm-md-lg commented on #103
To give a better explanation than I did above, what happens is:

1. Use a bad card in the cc field
1. The form submits and "Blocked" is recorded in the Stripe.com admin interface.
1. In Craft's stripe cp, no transaction is recorded, which is correct since no transaction happened.
1. The page reloads, with no error or exception displayed.

I assume the user was not redirected to the thankyou page s

[2020-06-06 17:49] andrelopez commented on #103
Hi, we just release Stripe Payments v2.7.0 with a fix to this issue. Please let us know if that works.

Thanks for reporting.

[2020-06-06 17:49] #103 closed

[2020-06-06 17:53] andrelopez commented on #101
Hi, we just release Stripe Payments v2.7.0 with a fix to this issue. Please let us know if that works.

In this case, the next variable (payment form handle) will be available on your template if there are any errors: `participantPayment` so please update your template to the following block code:

[code]

[2020-06-06 17:53] #101 closed

[2020-06-06 17:57] andrelopez commented on #100
Hi, we just release Stripe Payments v2.7.0 with a fix to this issue. Please let us know if that works.

Thanks for reporting.

[2020-06-06 17:57] #100 closed

[2020-06-06 17:59] andrelopez commented on #99
Hi, we just release Stripe Payments v2.7.0 with a fix to this issue. Please let us know if that works.

Thanks for reporting.

[2020-06-06 17:59] #99 closed

[2020-06-06 18:07] andrelopez commented on #94
Hi, we just release Stripe Payments v2.7.0 with a fix to this issue. Please let us know if that works.

Please follow the next instructions:
* From your primary environment, update Stripe Payments to v2.7.0
* remove the `config/project.yaml` (we'll rebuild it on next steps)
* Uninstall the plugin
* Install the plugin
* run `php craft project-config/rebuild`

The project config file should be fixed

[2020-06-06 18:07] #94 closed

[2020-06-06 18:07] andrelopez commented on #49
Hi, we just release Stripe Payments v2.7.0 with a fix to this issue. Please let us know if that works.

Please follow the next instructions:
* From your primary environment, update Stripe Payments to v2.7.0
* remove the `config/project.yaml` (we'll rebuild it on next steps)
* Uninstall the plugin
* Install the plugin
* run `php craft project-config/rebuild`

The project config file should be fixed

[2020-06-06 18:07] #49 closed

[2020-06-06 18:07] andrelopez commented on #37
Hi, we just release Stripe Payments v2.7.0 with a fix to this issue. Please let us know if that works.

Please follow the next instructions:
* From your primary environment, update Stripe Payments to v2.7.0
* remove the `config/project.yaml` (we'll rebuild it on next steps)
* Uninstall the plugin
* Install the plugin
* run `php craft project-config/rebuild`

The project config file should be fixed

[2020-06-06 18:07] #37 closed

[2020-06-06 18:12] andrelopez commented on #88
Hi, we just release Stripe Payments v2.7.0 with a fix to this issue. Please let us know if that works.

More info here: https://docs.enupal.com/stripe-payments/templating/paymentform.html#options

[2020-06-06 18:12] #88 closed

[2020-06-06 18:13] andrelopez commented on #83
Hi @benface , we just released Stripe Payments v2.7.0 with a fix to this issue. Please let us know if that works.

More info here: https://docs.enupal.com/stripe-payments/templating/paymentform.html#options

[2020-06-06 21:21] shantamg commented on #100
Hi there.
Unfortunately, after updating the plugin I'm still seeing the same behavior. The tooltips which display the error message do not show up on iOS or Safari.

[2020-06-06 21:28] shantamg commented on #99
The field increments by whole numbers now. That's better, thanks!

[2020-06-08 15:15] sm-md-lg commented on #101
Thanks! Its all good now.

[2020-06-08 23:50] benface commented on #83
@andrelopez I can't get `checkoutCancelUrl` to work. It doesn't seem to have any effect. It should be changing this link, right?

<img width="151" alt="CleanShot 2020-06-08 at 19 50 10@2x" src="https://user-images.githubusercontent.com/1059139/84091009-48992600-a9c1-11ea-8fdd-922c95f6a0f9.png">

("Retour" is "Back" in French)

[2020-06-09 22:51] idawgik opened #104 "Refreshing Subscriptions Not Working"
### Description

I'm attempting to set this up on a site I'm developing and having issues with syncing the plans from Stripe. This is a site that used to be on EE with some old plans in Stripe. We're reworking it all and I've created new plans in Stripe. This was done through the dashboard. It appears Stripe recently restructured these to now be Prices on Products, instead of Plans. There doesn't

[2020-06-09 23:02] idawgik commented on #104
Ok, actually digging a bit more into this, the API is returning all of the plans (just checked in Postman), however they're not loaded into the plugin.

Only one of the plans (there are 9 on the account in test mode) is available. The one that works has an ID prefix of "plan_" where as the others do not, so not sure if that's part of the issue or not.

[2020-06-09 23:23] idawgik commented on #104
Nevermind, I was being stupid. I had the setting for requiring a plan nickname enabled, but didn't have the nickname populated. It's all working correctly. Sorry for the confusion.

[2020-06-09 23:23] #104 closed

[2020-06-10 22:30] idawgik opened #105 "Subscription Grants not working"
### Description
So I'm trying to get Subscription Grants working, however running into some problems.

It looks like it's a side effect of this issue: https://github.com/enupal/stripe/issues/44

Looking into the code, the Subscription Grants are looking for the `customer.subscription.created` event from the webhook, but that is sent before the `checkout.session.completed` event, so there's no orde

[2020-06-11 07:39] andrelopez commented on #105
@idawgik Sorry for the troubles, we'll fix this issue asap.

Thanks for reporting

[2020-06-11 14:00] justinholtweb opened #106 "Possible to return payment type (Visa, Mastercard, Paypal, etc) in Admin email notification?"
### Description
We are using a custom template for order admin email notifications but wanted to see if there is a way to return and display the actual payment type (Visa, Mastercard, Paypal, etc) in that template. We are already using order.getPaymentMethod() and order.getPaymentType() in the template, but I don't see another order method to get this information.

### Additional info

- Craft ver

[2020-06-11 19:34] andrelopez commented on #106
Hi @justinholtweb Please try the following example:

[code]

Please let me know if you have any questions. The full example is taken from the update card docs (https://docs.enupal.com/stripe-payments/templating/update-card-info.html)

[2020-06-11 19:34] #106 closed

[2020-06-11 19:49] justinholtweb commented on #106
Thanks @andrelopez I tested with this in the admin email template we are using and it did not render the card type name or the last 4 unfortunately. May just call this one as a no-go for now.

Thanks for checking!

[2020-06-11 20:13] andrelopez commented on #105
Hi @idawgik We just released Stripe Payments v2.7.1 with a fix to this issue.

Best,

[2020-06-11 20:13] #105 closed

[2020-06-11 20:27] idawgik commented on #105
Worked great. Thank you!

[2020-06-12 14:22] Coysh opened #107 "Payment details empty in Stripe"
### Description
I've got the form working to send payments through to Stripe - but the Description field in Stripe is empty.

You can see the empty description in the attached screenshot.
![image](https://user-images.githubusercontent.com/5764356/84512869-84cdce80-acc0-11ea-8e69-2bc30a8dc8ea.png)

### Additional info

- Craft version: 3.4.0
- PHP version: 7.4
- Database driver & version:
- Plugin

[2020-06-12 17:47] sm-md-lg opened #108 "No error if custom email template not found"
### Description
When using a custom email template for customer notifications, an error is **not** thrown if the custom template is not found.  It appears to automatically use the default template.

This may not be a bug but a decision you've made, if so ignore this report.  My feelings though is that an error should be thrown so the issue can be diagnosed easier (in my case a misspelled path).

#

[2020-06-12 18:09] sm-md-lg opened #109 "Exception when enter key is hit"
### Description

When editing the email field or credit card field, if enter is hit, an exception is thrown (but clicking the submit button works properly).

#### Form
![Screen Shot 2020-06-12 at 11 02 59 AM](https://user-images.githubusercontent.com/59664862/84533297-b6cd3980-ac9c-11ea-91bd-a116cc795b56.png)

#### Error
[code]
![Screen Shot 2020-06-12 at 11 04 01 AM](https://user-images.githubuse

[2020-06-16 13:05] andrelopez commented on #108
This is a UI issue, we'll add support for suggesting templates field. Thanks

[2020-06-17 09:30] Coysh commented on #83
@benface @andrelopez I also can't get it working. Setting the `checkoutSuccessUrl` and `checkoutCancelUrl` in the form backend works, but setting it via the options config doesn't seem to make any difference

[2020-06-18 18:54] andrelopez commented on #107
Hi @Coysh We just released Stripe Payments v2.7.2 with a fix to this issue. Thanks for reporting

Best

[2020-06-18 18:54] #107 closed

[2020-06-18 18:55] andrelopez commented on #109
Hi @sm-md-lg We just released Stripe Payments v2.7.2 with a fix to this issue. Thanks for reporting

Best

[2020-06-18 18:55] #109 closed

[2020-06-18 18:56] andrelopez commented on #108
Hi @sm-md-lg  We just released Stripe Payments v2.7.2 with a fix to this issue (we added the autosuggest field that will prevent this kind of issue, but we default to the default template if the template overrides does not exist). Thanks for reporting

Best

[2020-06-18 18:56] #108 closed

[2020-06-19 08:09] bymayo opened #110 "Subscription Limit"
Is there a limit on the amount of subscriptions/plans that appear in the drop down when creating a payment form?

We've created numerous plans, but only a set amount appear.

[2020-06-19 08:10] bymayo opened #111 "Archived Subscription Plans"
Is there a way to not show plans in the dropdown when creating a Payment Form, when a plan is archived on Stripe?

Stripe won't let us delete the subscription plan and only allows us to archive it. But archiving it still makes this appear in the Payment Form setup.

[2020-06-19 08:33] andrelopez commented on #110
Hi @bymayo Could you please go to Stripe Payments -> Settings -> Defaults and disabled 'Retrieve plans with a nickname' we'll disable this option by default on the next release.

[2020-06-19 08:33] #110 closed

[2020-06-19 09:43] bymayo commented on #110
@andrelopez This fixes the issue!

So is this because our client didn't set a name for the plan?

[2020-06-23 08:41] Coysh commented on #107
@andrelopez thanks, however if I'm using line items - the description gets reset to `Order from <email address>`.
Is there anyway to set the description if you#re using `removeDefaultItem: true`?

`{% set options = {
	amount: amt,
	calculateFinalAmount: false,
	removeDefaultItem: true,
	lineItems: lineItems,
} %}`

[2020-06-23 15:33] Coysh commented on #37
Hi @andrelopez - I've set `allowAdminChanges` to false on my primary environment. But uninstalling the plugin is failing, as `afterUninstall()` is calling `Craft::$app->projectConfig->rebuild();`

Stack trace:
[code]

[2020-06-23 16:25] Coysh opened #112 "Syncing Stripe orders fails"
### Description
Trying to Sync Orders from Stripe fails with the error:
`2020-06-23 17:23:09 [-][-][-][error][enupal\stripe\jobs\SyncOneTimePayments::execute] Sync process failed: Could not determine which URL to request: Stripe\Customer instance has invalid ID: `

Settings as below
![image](https://user-images.githubusercontent.com/5764356/85429366-888e0a80-b576-11ea-8a10-830d7708a490.png)

[2020-07-01 02:04] kerrig commented on #90
@andrelopez is there a release date planned for this? I have a client wanting to add taxes to their subscription offerings and as far as I can tell this isn't currently possible. I'm using SCA checkout. Can you confirm that my client currently can not apply taxes to their subscriptions? Or if there is a way, could you tell me how I can do this?

If you need more information, please let me know!

[2020-07-02 01:30] studiountitled opened #113 "Coupon code applying when SCA is enabled + Subscriptions"
### Description

When using a coupon code on a multiple subscription option webform, the 'check coupon' button shows successful and the total is updated, however when the customer proceeds to stripe the discounted amount is not being charged, instead the full amount is

This only happens when SCA is enabled – when disabled it functions as expected

### Steps to reproduce

1. See an example form he

[2020-07-04 17:38] andrelopez commented on #113
Hi @studiountitled thanks for reaching out. Coupons on [SCA](https://docs.enupal.com/stripe-payments/getting-started/sca.html#stripe-checkout-features) are only available for one-time payments, however, Stripe is currently working to have this feature in their Stripe Checkout coming soon. I'll let you know when we add support to this feature

[2020-07-09 07:06] andrelopez opened #114 "Billing address is not saved on subscriptions (new Stripe Checkout)"

[2020-07-09 10:32] samuelbirch opened #115 "Orders not saving when use the checkout with SCA"
I've just installed the plugin on the latest version of craft, testing out the Stripe Checkout with SCA support.

I'm using `{{ craft.enupalStripe.paymentForm('test') }}` to embed the code and it all looks good. Clicking the pay button takes me to stripe where the payment is processed successfully and redirects me back to my site.

But I have no order, nothing in the database. It looks like the co

[2020-07-09 10:49] samuelbirch commented on #115
On further investigation, i can see that the js is overriding the action and sending it to create a session. But following it through it comes to the finishOrder action but then can't find an order with the stripeId (as no order has been saved up to this point)

[2020-07-09 11:11] andrelopez commented on #115
@samuelbirch Please make sure that your [webhook](https://docs.enupal.com/stripe-payments/stripe-payment-forms/webhook.html) URL is saved on Stripe

Also, this URL needs to be accessed across the internet (staging or live URL) if your site is under Maintenance mode this could be the issue (Test the webhook URL from an incognito browser)

Also please make sure the next webhook event is enabled on y

[2020-07-09 11:18] samuelbirch commented on #115
yes you are right, it was not a publicly accessible url that was causing the issue. Thanks for your help and prompt response.

[2020-07-09 12:17] #115 closed

[2020-07-09 16:17] #69 closed

[2020-07-17 07:56] andrelopez opened #116 "Add support for Alipay"
Docs https://stripe.com/docs/sources/alipay

[2020-07-20 18:09] theskyfloor opened #118 "AJAX Request On Payment Form Returns Errors In JSON But Doesn't Return Success In JSON"
### Description

AJAX Request On Payment Form Returns Errors In JSON But Doesn't Return Success In JSON.

When I submit with an error I get a json array back from the controller but when I submit with success the subsequent call is just a 302 redirect.

### Steps to reproduce

1. Create a payment form
2. Submit with Ajax

### Additional info

- Craft version: 3.4.5
- PHP version: 7.2
- Database dr

[2020-07-22 16:16] Coysh opened #119 "[FR] Stripe Direct Debits"
### Description
Not sure how complicated this would be, but it's based on Stripe Checkout - so in theory not difficult?
https://stripe.com/gb/payments/bacs-debit

[2020-07-23 08:36] andrelopez commented on #119
Hi @Coysh Yes, we're currently working on adding support to Stripe Connect, if you want us to prioritize this ticket please reach us to support@enupal.com if you already have BACS enabled on your Stripe Account it will help.

[2020-07-25 20:12] shornuk opened #120 "A server error occurred, fresh install, no orders."
### Description

Just installed to test this out. After installing and going to Stripe Payments > Orders I get a flash message with `A server error occurred.` - Once orders are made this disappears.

Any ideas on why or where to start debugging?

### Additional info

- Craft version: 3.4.29.1
- PHP version: 7.2.24
- Plugin version: 2.7.2
- Is [SCA](https://docs.enupal.com/stripe-payments/getting-s

[2020-07-28 07:47] andrelopez commented on #120
Hi @shornuk I was able to recreate this issue and a fix will be added on the next release. Thanks for reporting

[2020-07-28 09:22] shornuk commented on #120
Awesome 👍

[2020-07-28 17:36] shornuk commented on #37
@Coysh - did you fix this? I'm getting the exact same issue. Matrix block errors from production env, and cannot uninstall locally with Undefined index: error.

@andrelopez - any ideas?

[2020-07-28 19:23] shornuk opened #121 "At least one block type is required - when creating new payment form"
### Description
Fresh install, trying to create a payment form on local. Get error `At least one block type is required.` then when freshed it shows a payment form exists, but when trying to edit it, the same error comes up.

### Additional info

- Craft version: 3.4.30
- PHP version: 7.3.11
- Plugin version: 2.7.2

[2020-07-29 07:20] andrelopez commented on #121
@shornuk Do you have project config enabled?

[2020-07-29 07:27] shornuk commented on #121
I do, yes.

[2020-07-29 07:46] andrelopez commented on #121
@shornuk Could you please try the next steps:

- remove the config/project.yaml (we'll rebuild it on next steps)
- Uninstall the plugin
- Install the plugin
- On your terminal run
`php craft project-config/rebuild`

[2020-07-29 07:51] shornuk commented on #121
I've tried that (saw it on another issue) but when I run the rebuild I get an `undefined index` error

[2020-07-29 08:16] shornuk commented on #121
OK, managed to uninstall, reinstall, then ran the `project-config/rebuild` command and get the `Undefined index: ` error.

[2020-07-29 16:26] theskyfloor opened #122 "Postgres Error Database Exception – yii\db\Exception"
### Description

Error on PGsql when not in test mode:

SQLSTATE[22P02]: Invalid text representation: 7 ERROR: invalid input syntax for type boolean: ""
The SQL being executed was: SELECT *
FROM "enupalstripe_customers"
WHERE ("email"='email@email.com') AND ("testMode"='')

Test mode is blank but needs to equal 0 or Postgres throws an error.

### Steps to reproduce

1.
2.

### Additional info

- C

[2020-07-31 11:40] shornuk commented on #121
Sorry to press on this but is there any update? I'm stuck with a site that I can't use or uninstall this plugin at the moment.

[2020-07-31 14:43] shornuk commented on #121
So I've managed to make some progress. Went through and have manually cleaned up the database and project config. There's a lot of tables etc left in by the plugin. Cleared them all but would still get the `undefined index` error on rebuild.

Decided to take the plunge and update to 3.5 RC. This went smoothly and the config now rebuilds. Bit of further cleaning and I think we're all good.

Tried t

[2020-08-03 20:37] aladrach commented on #1
Sorry, forgot to follow up here.

https://github.com/aladrach/enupal-stripe-connect/blob/master/Checkout.php

Most of the magic is happening around line 267.

I added fields to the form admin to input the Stripe ID of the connected account, along with the desired platform fee, which are referenced in that section.

[2020-08-06 11:07] Coysh commented on #89
@andrelopez  I have an issue in which Stripe payout reports only allow you to export the **description** of the payment, rather than any metadata.

If possible, I'd like to set the Default Charge description to `{title}` or `{paymentFormName}` rather than `Order from {email}` but can't figure out the correct field, or if the field is available.

[2020-08-06 17:07] sarianth commented on #89
@Coysh The default Charge description can be updated under Stripe Payments - Settings - Defaults and update the  `Charge Description` field

[2020-08-07 11:17] Coysh commented on #89
My fix was using `{object.getPaymentForm().name}` to bring in the form name to the Description. Thanks @andrelopez @sarianth

[2020-08-07 20:06] sunscreem commented on #121
@andrelopez Just ran into this myself (I'm on 3.5.1). Any suggestions? I can't create a form.

[2020-08-07 20:19] shornuk commented on #121
@sunscreem - I'm not sure what the recommended way to fix this is, but for me it included a lot of uninstalling, manually cleaning up database tables, removing fields etc. It wasn't pretty. There's an issue with project config, hopefully a fix will come.

[2020-08-08 05:17] andrelopez commented on #121
I'm looking deeply into this issue. @sunscreem did you get the error on a fresh install? Could you please tell me step by step how to recreate the issue?

[2020-08-10 10:32] andrelopez commented on #1
We're glad to announce that we just released Stripe Payments v3.0.0 with initial support for Stripe Connect, find more info in our docs [here](https://docs.enupal.com/stripe-payments/connect/overview.html)

[2020-08-10 10:32] #1 closed

[2020-08-10 10:34] andrelopez commented on #122
Hi @theskyfloor  we just released Stripe Payments v3.0.0 with a fix to this issue. Thanks for reporting!

[2020-08-10 10:34] #122 closed

[2020-08-10 10:34] andrelopez commented on #120
Hi @shornuk  we just released Stripe Payments v3.0.0 with a fix to this issue. Thanks for reporting.

[2020-08-10 10:34] #120 closed

[2020-08-10 10:35] andrelopez commented on #114
We just released Stripe Payments v3.0.0 with a fix to this issue

[2020-08-10 10:35] #114 closed

[2020-08-10 10:38] andrelopez commented on #112
Hi @Coysh We just released Stripe Payments v3.0.0 with a fix to this issue. Thanks for reporting!

[2020-08-10 10:38] #112 closed

[2020-08-10 14:50] theskyfloor commented on #122
Thanks Andre!

[2020-08-13 17:09] sunscreem opened #125 "Please add the Stripe API keys in the plugin settings for LIVE mode?!"
### Description

I've just upgraded to v3 and pushed to production and now I'm getting that error on my payment page.

The back end can see the keys loaded correctly:

![image](https://user-images.githubusercontent.com/7523595/90165109-183e8100-dd90-11ea-8f06-1bf0c35c79c4.png)

### Steps to reproduce

1. Add keys via config.

### Additional info

- Craft version:  Craft Pro 3.5.3
- PHP version: 7.

[2020-08-13 17:12] sunscreem commented on #125
Never mind.

The keys in the docs have different names to the keys in my .env.

[2020-08-13 17:12] #125 closed

[2020-08-13 20:51] sunscreem opened #126 "Can't save settings on v3.0"
### Description

Two separate installs same problem. Working locally - dev mode on.

![image](https://user-images.githubusercontent.com/7523595/90185682-f7d1ef00-ddae-11ea-80e5-800cb487c66e.png)

### Steps to reproduce

1. Got to setting
2. Hit save

### Additional info

Craft version: Craft Pro 3.5.3
PHP version: 7.2.33
Database driver & version: MySQL 5.7.31
Plugin version:3.0.0
Is SCA and Strip

[2020-08-13 20:51] sunscreem commented on #126
Definitely not my error this time lol

[2020-08-14 08:45] sunscreem commented on #126
@andrelopez The only setting I need to change here is the SCA. Can I do this from the config as a workaround?

[2020-08-14 09:36] andrelopez commented on #126
Hi @sunscreem could you please send me a zip file of your logs `storage/logs` after recreate the error? We'll fix the issue right away. Please send it to support@enupal.com

[2020-08-14 10:00] sunscreem commented on #126
Thanks - done. :)

[2020-08-14 10:46] andrelopez commented on #126
Hi @sunscreem We just released Stripe Payments v3.0.1 with a fix to this error. Thank you for reporting.

[2020-08-14 10:46] #126 closed

[2020-08-14 11:36] sunscreem commented on #126
@andrelopez confirmed working fine :)

[2020-08-17 10:06] bymayo opened #127 "Coupons error with "Unable to process the Payment""
We're getting an error when submitting a coupon code:

![Screenshot 2020-08-17 at 10 35 10](https://user-images.githubusercontent.com/522877/90384152-094e1c00-e079-11ea-8a7f-880dcfd4ca8c.png)

This happens when we input a coupon code and click "Check code". If we don't apply a code and continue to payment it works fine.

Can I just double check that the code we're entering in the coupon code box i

[2020-08-17 22:37] bymayo commented on #121
Also getting this issue with a fresh install on a site I recently updated to 3.5.5

When creating any new form, I get the error, then I go to Payment Forms and I can see the form is there, but when I try to edit it, the same error appears.

Project config is turned off.

[2020-08-18 08:06] andrelopez commented on #127
Hi @bymayo `allowPromotionCodes` is only available for subscriptions (stripe says that one-time payments will support coupons soon), if you're processing one-time payments you need to use our [coupons workflow](https://docs.enupal.com/stripe-payments/coupons/overview.html):

[code]

Please let me know if that could work

[2020-08-18 08:08] andrelopez commented on #121
@bymayo thanks for reporting. I'm still working on a solution to this issue.

[2020-08-18 09:10] bymayo commented on #127
@andrelopez This seems to make the coupon code work better! But then it never takes me to Stripe and I get this error appear in console:

[code]

Just ot be clear, are you saying Coupons don't work for one-time payments? But they do for subscriptions? If this is the case, the above error is happening for one-time payments, but the original issue with the `Unable to process payment` error still app

[2020-08-18 09:37] andrelopez commented on #127
@bymayo Thanks, it looks like a bug from our part. I'll take a look

[2020-08-19 11:21] sunscreem opened #128 "Sync orders starts queue job but doesn't change"
### Description

After upgrading to v3 (I had a few issues - probably my issues) I've got no past orders showing.

I've hit sync and the queued job starts, but doesn't seem to do anything

![image](https://user-images.githubusercontent.com/7523595/90628497-a1810800-e215-11ea-9127-4a456b199853.png)

### Steps to reproduce

1. Sync Orders (One time orders)

### Additional info

- Craft version: Craf

[2020-08-19 20:55] bymayo opened #129 "Fields don't appear in forms and cause error on front end (Craft 3.5)"
When editing a form there are no fields in the form, and I can't add any (Not that I want to, or had any in the form!):

![Screenshot 2020-08-19 at 21 56 19](https://user-images.githubusercontent.com/522877/90688765-d5384e00-e266-11ea-8668-505c3cd8f8f0.png)

But also this causes an error on the front end:

![Screenshot 2020-08-19 at 21 53 49](https://user-images.githubusercontent.com/522877/906886

[2020-08-20 08:10] andrelopez commented on #129
@bymayo Is there any chance that you can share your db to support@enupal.com?

[2020-08-20 08:10] bymayo commented on #129
Sure thing! I'll send it over now.

[2020-08-25 21:07] andrelopez commented on #129
Hi @bymayo we just released Stripe Payments v3.0.2 with a fix to this issue. This issue is related to #121 related issues when the project config is enabled.

Please follow the following instructions:
- Update the plugin
- Uninstall the plugin
- Install the plugin again

Please let me know how it goes.

[2020-08-25 21:07] #129 closed

[2020-08-25 21:12] andrelopez commented on #121
Hi @shornuk @sunscreem  @bymayo I was finally able to recreate this issue and we just released Stripe Payments v3.0.2 with a fix to this bug related to project config.

Please follow the next instructions:
- remove the next folders `storage/config/config-deltas` and `storage/config/runtime`
- Uninstall the plugin
- Update the plugin
- Install the plugin again

Please let me know how it goes.

[2020-08-25 21:12] #121 closed

[2020-08-26 09:05] bymayo commented on #121
@andrelopez I've followed these steps but I'm still seeing the error running 3.0.2

[2020-08-26 11:13] andrelopez commented on #121
@bymayo Thanks for the update! this usually comes up for new users.

I'll leave this note here is you're a user with orders please contact us to support@enupal.com

[2020-08-26 17:11] andrelopez commented on #128
@sunscreem Sorry I was unable to recreate this issue. Did you get any error? could you please recreate the issue and send back to us a zip file of the following folder to support@enupal.com?
`storage/logs`

[2020-08-26 17:49] sunscreem commented on #128
Hey @andrelopez I just went in to reproduce the problem and all the orders are there. I've done a couple of craft updates this week and deployed a few times, so I suspect whatever was 'stuck' has fixed itself now.

Sorry for the messing around. I never thought to go back and check it until you tagged me.

[2020-08-26 17:49] #128 closed

[2020-08-29 12:47] lesaff commented on #127
@andrelopez Any update on this issue? I am experiencing the same error. Thanks

[2020-08-29 15:52] lesaff opened #132 "How to register new subscriber as a user?"
### Description
I want to register a new subscriber as a user and grant him/her access to a certain group. I cannot find anything on the documentation.

Thx

[2020-08-29 16:12] andrelopez commented on #132
Hi @lesaff you have two options here:

1.- The user is registered before presenting the payment form, here is a brief sign up [craft form](https://craftcms.com/docs/3.x/dev/examples/user-registration-form.html)

Then when the user is logged in, you can use the subscription grant feature [here](https://docs.enupal.com/stripe-payments/stripe-payment-forms/subscription-grants.html), to grant the user

[2020-08-30 00:08] lesaff commented on #132
@andrelopez Thank you so much for your help. I used your option 2 and it works and I was able to register a new subscriber.

Cheers!

[2020-08-30 00:08] #132 closed

[2020-08-30 01:00] lesaff opened #133 "Exception error on Customer Portal form POST"
### Description
I am adding a customer portal button per https://docs.enupal.com/stripe-payments/templating/update-billing.html

Getting an exception error on submit.

[code]
### Steps to reproduce

1. https://docs.enupal.com/stripe-payments/templating/update-billing.html
2. Click button

### Additional info

- Craft version: Craft Pro 3.5.7
- PHP version: 7.4.9
- Database driver & version: MySQL

[2020-09-01 07:50] srimanaravind opened #135 "Payment can't be done in cents"
### Description
Payment not allowed in cents using the front-end forms

![Selection_007](https://user-images.githubusercontent.com/4092725/91821866-54238280-ec7a-11ea-8cc6-03c28e9fa057.png)

Pull request: https://github.com/enupal/stripe/pull/134
### Steps to reproduce

1. Payment form -> enter an amount in cents, eg: 10.50
2.

### Additional info

- Craft version: Craft Pro 3.5.5
- PHP version: 7

[2020-09-02 13:19] lesaff commented on #133
Sorry to bug you @andrelopez , any luck with this? Thx

[2020-09-02 15:34] shornuk opened #136 "Payment status filters not working in orders view."
### Description
Go to Stripe > Orders

In the sidebar, Succeeded and Pending payments return no results, however I have payments that are both those statuses.
Refunded works as expected.

### Additional info

- Craft version: 3.5.7
- PHP version: 7.3
- Plugin version: 3.0.2

[2020-09-03 19:56] andrelopez commented on #133
@lesaff This sounds like a cache issue that is preventing to generate valid CSRF tokens from this line
`{{ csrfInput() }}`

Could you please check in your templates if your customer portal form is inside any `{% cache %}` tag?

[2020-09-03 19:59] andrelopez commented on #135
Hi @srimanaravind we'll add support to pass the format in the next release.

[2020-09-04 00:33] srimanaravind commented on #135
@andrelopez thanks, I already created a pull request in case you need it

[2020-09-04 13:44] lesaff commented on #133
@andrelopez I am not using any caching method at this point. The site is still run locally during development.

I took the code directly from your example and add classes and change the redirect URL
[code]

[2020-09-04 14:13] andrelopez commented on #133
@lesaff Could you please try the following example?

[code]

[2020-09-04 15:15] lesaff commented on #133
OK, it's not throwing any exception anymore.

See below

![Screen Shot 2020-09-04 at 12 12 06 PM](https://user-images.githubusercontent.com/1151181/92255135-43585400-eea8-11ea-8457-ec2eb88f976e.png)

[2020-09-04 15:25] lesaff commented on #133
One problem, it did not open the Stripe Customer Portal, just refreshed the current page with status 304.

[2020-09-07 17:10] andrelopez commented on #133
@lesaff Could you please check that the logged-in user already has an order?

[2020-09-07 19:02] lesaff commented on #133
Yes, the logged-in user already has an order (set as new). I checked the order and compared it to the Stripe console. This is still in the Stripe test mode by the way. I tried setting the order to processed and it still does not open the Customer Portal.

[2020-09-08 13:34] andrelopez commented on #133
@lesaff Could you please manually check `enupalstripe_customers` table in your db and check if the email of the logged-in user is there?

Could you please contact us via email to support@enupal.com ? we may need to schedule a quick call to share screens and start debugging as I'm still unable to recreate this issue.

[2020-09-09 08:33] andrelopez commented on #127
@bymayo

The following example will work for coupons only for One-Time payments (When SCA is enabled or disabled)

[code]

The following example will work for coupons only for when SCA is enabled and for subscriptions or recurring payments ([docs](https://docs.enupal.com/stripe-payments/coupons/subscription-coupons.html))

[code]

Please let me know if that works

[2020-09-09 17:33] andrelopez commented on #136
@shornuk Sorry I'm unable to recreate this issue, could you please recreate the issue and send back to us a zip file of the following folder? to support@enupal.com

`storage/logs`

[2020-09-09 17:38] andrelopez commented on #113
Hi @studiountitled This feature is available since v3.0.0, here is the full example https://docs.enupal.com/stripe-payments/coupons/subscription-coupons.html

[2020-09-09 17:38] #113 closed

[2020-09-09 18:08] andrelopez commented on #135
Hi @srimanaravind we just released Stripe Payments v3.1.0 with support for `customAmountStep` via [options](https://docs.enupal.com/stripe-payments/templating/paymentform.html#options)

Thanks for the PR

[code]

[2020-09-09 18:08] #135 closed

[2020-09-09 21:20] wooge opened #138 "Update to 3.1.0. from 3.0.2 Seems to need Craft Commerce installed?"
### Description
After attempting to upgrade to 3.1.0 from 3.0.2 the upgrade fails with this error:
`
A fatal error has occurred:

Status: Internal Server Error

Response: <pre>Exception &#039;Error&#039; with message &#039;Class &#039;craft\commerce\elements\Product&#039; not found&#039;

in /srv/www/mysite.com/vendor/enupal/stripe/src/Stripe.php:121

Stack trace:
#0 /srv/www/mysite.com/vendor/yii

[2020-09-09 21:42] andrelopez commented on #138
I'll fix this issue in a few minutes. Thanks for reporting

[2020-09-09 22:17] andrelopez commented on #138
Hi @wooge We just released Stripe Payments v3.1.1 with a fix to this issue. Thanks again for reporting

[2020-09-09 22:17] #138 closed

[2020-09-09 22:20] wooge commented on #138
Confirmed fixed! — thanks for the super fast fix!

[2020-09-09 23:18] shornuk commented on #136
Just sent them over. To be clear here, This is "All orders"....

<img width="1368" alt="all-orders" src="https://user-images.githubusercontent.com/2061819/92664096-fd155180-f2fa-11ea-8d6c-da6727d19579.png">

This is when selected succeeded payment status...

<img width="1372" alt="succeeded" src="https://user-images.githubusercontent.com/2061819/92664112-09011380-f2fb-11ea-9f9a-46e37f87d36a.png">

[2020-09-10 21:29] idawgik opened #139 "How to associate guest order with user registered during Subscription"
This is in reference to #132

I'm using the method detailed there in a custom plugin to register a user after a subscription is purchased. However, the order is still set as a guest order.

How would I update the order to assign it to the newly created user?

[2020-09-11 19:50] idawgik commented on #132
@lesaff were you able to get the order/subscription to be associated to the newly created user? If so, how?

[2020-09-12 12:54] andrelopez commented on #139
Hi @idawgik I have update the example from #132 to add the user to the order

[code]

Please let me know if that works

[2020-09-12 15:20] lesaff commented on #132
@idawgik

Here's I did it.

Make sure to include this in your custom module/pluging
[code]

And then, place this code in your module `init()`

In this case, I assign user to group based on given subscription nickname. You can change it accordingly.

[code]

[2020-09-16 18:04] lesaff commented on #133
@andrelopez Update on this: I just deployed my site to a staging server with a public URL and it works fine. Looks like Stripe Customer Portal does not work on local development, even though I use stripe-cli as my webhook target.

You can close this and perhaps add a note to your documentation in case other people encountered the same issue.

Thanks again for such a powerful and easy to use plugin

[2020-09-16 18:48] andrelopez commented on #133
@lesaff thanks for reporting. I'll add this to the docs.

Thank you!

[2020-09-16 18:48] #133 closed

[2020-09-22 19:27] siebird opened #140 "Coupons w/multiple payment forms on same page issues"
I've been able to get multiple payment forms on the same page without issue by passing a few unique variables and using my own custom templates. However, once I introduce coupons to each form I run into the javascript issues with how the plugin targets those buttons to prevent the form from submitting.

Is it possible to change how the JS is targeting the coupon and form? Right now it's by id, how

[2020-09-23 14:23] siebird commented on #140
I think an easy fix could be passing a unique id to override the `paymentForm.id`. That way the JS can stay as it and each payment form on a page is unique.

[2020-09-30 23:18] angieherrera opened #141 "Can't install (3.1.3)"
Not sure if this is the right place for this issue, but here goes.

In Craft (v3.5.11.1), went to the Plugin Store, and hit the Try button. When it's done updating composer, I don't see it in the side navigation but do see it at the bottom of the Plugins list showing as "Not installed". So I click on the cog/dropdown and click on Install and all I get is a red notice at the top saying "Couldn't in

[2020-10-01 08:28] andrelopez commented on #141
Hi @angieherrera Could you please recreate the error and send back to us a zip file of the following folder to support@enupal.com ?

`storage/logs`

[2020-10-12 21:44] angieherrera commented on #141
Sent over the logs several days ago, but I ended up figuring this out – had existing data in the database. Deleted it and it installed properly!

[2020-10-13 13:18] andrelopez commented on #141
@angieherrera I really sorry I just checked and for some reason, your email went to spam. Thanks for getting back to us and I'm glad that the issue is solved. Please let me know if you have any other questions

[2020-10-13 13:18] #141 closed

[2020-10-14 13:32] Tam opened #142 "[FR] GraphQL Support"
It would be really nice to have GraphQL support so we can use the plugin while Craft is in headless mode.

[2020-10-14 14:10] andrelopez commented on #142
Thanks @Tam I'll look into this

[2020-10-22 07:56] andrelopez opened #143 "Test last Tax features from Stripe with the new Stripe Checkout"

[2020-10-28 09:17] #143 closed

[2020-11-05 21:25] andrelopez opened #144 "Update iDEAL workflow on subscriptions"

[2020-11-06 15:24] bleepsandblops opened #145 "Cache and CSRF tokens"
### Description
Hello,

Am testing the plugin using Blitz, and weirdly it seems to work fine despite the CSRF tokens not changing.

I'm using a basic form with no fields, just the button to go to stripe checkout.

I've opened two different windows in two different browsers, they have the same CSRF_TOKEN in the source code (as expected, because of Blitz cache), but everything seems to work fine in

[2020-11-07 11:45] bleepsandblops commented on #145
So I assume it's because the controller
https://github.com/enupal/stripe/blob/53dcbf0bb9091f420a80e120142edf411837bf29/src/controllers/CheckoutController.php
is extending FrontEndController
which has
[code]

[2020-11-07 13:32] andrelopez commented on #145
Hi @bleepsandblops I was able to recreate this issue and will be fixed soon

[2020-11-07 13:35] #127 closed

[2020-11-07 17:12] andrelopez commented on #145
Hi @bleepsandblops we just released Stripe Payments v3.2.1 with a fix to this issue. Thanks for reporting

[2020-11-07 17:12] #145 closed

[2020-11-07 17:13] andrelopez commented on #144
We just released Stripe Payments v3.2.1 with a fix to this issue.

[2020-11-07 17:13] #144 closed

[2020-11-07 17:17] andrelopez commented on #140
Hi @siebird we just released Stripe Payments v3.2.1 with support for coupons. This feature is only available for the new Stripe Checkout, more info here https://docs.enupal.com/stripe-payments/coupons/overview.html

[2020-11-07 17:17] #140 closed

[2020-11-07 17:21] andrelopez commented on #119
Hi @Coysh we just released Stripe Payments v3.2.1 with support to Bacs Direct Debit. Remember to enable [SCA](https://docs.enupal.com/stripe-payments/getting-started/sca.html) and enable Stripe Checkout on your payment forms

[2020-11-07 17:21] #119 closed

[2020-11-07 17:22] andrelopez commented on #116
We just released Stripe Payments v3.2.1 with support for Alipay

[2020-11-07 17:22] #116 closed

[2020-11-07 17:24] andrelopez commented on #90
We just released Stripe Payments v3.2.1 with support for taxes on the new Stripe Checkout.

More info: https://docs.enupal.com/stripe-payments/stripe-payment-forms/taxes.html#collect-taxes-in-checkout

[2020-11-07 17:24] #90 closed

[2020-11-09 11:19] Coysh commented on #119
@andrelopez - I was under the impression Stripe Checkout didn't support BACS Direct Debit yet: [https://stripe.com/docs/payments/payment-methods/bacs-debit#connect](https://stripe.com/docs/payments/payment-methods/bacs-debit#connect)

Is this outdated information on Stripe's website?

[2020-11-11 08:54] andrelopez opened #149 "Add support for WeChat Pay"
Docs link: https://stripe.com/docs/sources/wechat-pay

[2020-11-11 08:59] andrelopez commented on #119
Hi @Coysh Yes it's outdated. They added support to BACS Direct Debit a few weeks ago to the new Stripe Checkout. However only accounts opened in the UK have this payment method. Please let me know how it goes.

[2020-11-16 11:30] alexjcollins opened #151 "Subscription Plans clearing"
### Description
We're running into a possible issue where the subscription plans keep clearing.
We noticed this behaviour after assigning plans to our payment forms. Once we had saved and returned to view, sometimes the plan values would be reset to `Select Plan...` with nothing in the dropdown.

Is there something that we need to change in order to stop this happening or does it appear to be an i

[2020-11-22 22:13] bleepsandblops opened #152 "Passing an email to Checkout using JS"
### Description
Is there a way to pass an email to Checkout so that it's automatically pre-filled, using the front-end? If I dig in the files, it looks like the hidden input `enupalStripe[stripeData]` gets parsed then emptied; is there a way for me to send the customer_email through?

### Additional info

- Craft version: 3.5.14
- PHP version: 7.4
- Database driver & version: mysql 8
- Plugin vers

[2020-11-23 07:29] andrelopez commented on #152
Hi @bleepsandblops Yes please follow the next example:

[code]

Here you can see all the other options that you can pass to the `paymentForm` method: https://docs.enupal.com/stripe-payments/templating/paymentform.html

We'll add this to the docs soon

[2020-11-23 08:02] bleepsandblops commented on #152
@andrelopez thank you, but that's through twig though, not client-side; is there a way to do it client-side?

[2020-11-23 08:30] andrelopez commented on #152
@bleepsandblops I see, from JS you need to set the value to the hidden email input, in this example `1009` is the form Id

[code]

[2020-11-23 08:46] bleepsandblops commented on #152
@andrelopez ah great thanks, however I'm getting something really weird, which might not be related to the plugin:
![Screenshot 2020-11-23 at 09 45 36](https://user-images.githubusercontent.com/1942313/99942886-aacbc480-2d70-11eb-9c12-3fa7bc63777e.png)

[2020-11-23 09:01] bleepsandblops commented on #152
@andrelopez it's not working actually, and I think I can see why.
https://github.com/enupal/stripe/blob/master/src/services/Checkout.php#L106
the `$data` object is taken from
https://github.com/enupal/stripe/blob/master/src/services/Checkout.php#L59
`$publicData['stripe']` which is actually `enupalStripe[stripeData]` JSON input, the one that gets emptied.

[2020-11-24 16:35] bymayo commented on #127
@andrelopez Just following up on this.

I've tried to get this working again, but I'm still hitting the same issue I originally had. I've updated to 3.2.2 also.

[2020-11-24 16:55] andrelopez commented on #127
Hi @bymayo Did you check our latest docs? https://docs.enupal.com/stripe-payments/coupons/overview.html#coupons-on-the-new-stripe-checkout
Now coupons can be enabled when you're editing your Payment Forms in the CP. On the new Stripe Checkout, you shouldn't see coupons input on the front-end. Could you please confirm that?

[2020-11-24 20:00] bymayo commented on #127
@andrelopez Doh. I did read that, but totally missed the bit about enabling it per form. Enabled this now and it works a treat on Stripes side! Thanks

[2020-11-25 16:58] williamhibberd opened #153 "Subscription payments using Stripe Elements"
### Description

Payments via a SCA Card Stipe Elements form, set up for subscriptions get processed as a One-Time payment and not a subscription.

### Steps to reproduce

1.  <img width="1072" alt="Screenshot 2020-11-25 at 16 57 45" src="https://user-images.githubusercontent.com/1289356/100258781-5aef2800-2f3f-11eb-99ef-e4f4a7545e4b.png">

### Additional info

- Craft version: 3.5.16
- PHP versio

[2020-11-25 17:04] williamhibberd commented on #153
Closing this... Turning SCA off makes Stripe Elements work with subscriptions.
I need to learn to read text written in red!

Maybe the docs should include a note saying that with SCA subscriptions only work with Stripe Checkout.

[2020-11-25 17:04] #153 closed

[2020-11-25 17:32] williamhibberd commented on #153
Upon further reading, my issue was caused because my subscription has Tiers.
[https://docs.enupal.com/stripe-payments/getting-started/sca.html#stripe-checkout-features](url)

[2020-11-25 20:07] andrelopez commented on #153
thanks @williamhibberd we hope to add support for SCA to the card element soon.

[2020-12-01 11:31] williamhibberd opened #154 "Ability to add coupon and plan setup fee details to an order confirmation page"
### Question

Is it possible to display to the customer the following items without using metadata fields during checkout?

Plan Setup Fee
Subscription Plan Amount
Coupon Code name and the amount deducted.

### Additional info

- Craft version: 3.5.16
- PHP version: 7.3.24
- Database driver & version: MySQL 8.0.22
- Plugin version: 3.2.2
- Is [SCA](https://docs.enupal.com/stripe-payments/getting-s

[2020-12-01 12:45] andrelopez commented on #154
Hi @williamhibberd Did you mean on the Stripe Payments Order?

[2020-12-01 12:57] williamhibberd commented on #154
Yes, a stripe payments order.

After a customer has purchased a subscription I would like to display all information to them on the success page.
I am using the following to get the order
[code]
and outputting the following successfully
[code]
However, I was wondering if I would be able to add
[code]

[2020-12-03 11:32] bleepsandblops opened #155 "Export CSV missing City"
### Description
The export data is missing both cities, billing and shipping.
https://github.com/enupal/stripe/blob/f761673604afd776cd853a669ca46a89344e14c7/src/services/Reports.php

### Steps to reproduce

1.
2.

### Additional info

- Craft version:
- PHP version:
- Database driver & version:
- Plugin version:
- Is [SCA](https://docs.enupal.com/stripe-payments/getting-started/sca.html) and Strip

[2020-12-05 05:02] andrelopez commented on #151
Hi @alexjcollins
I am unable to recreate this issue so I may need more info to start debugging.

- Do you have the `useProjectConfigFile` setting enabled on your config/general.php file?

- Could you please recreate the issue and send back to us a zip file of the following folder? storage/logs

- Are you able to share your database with us?

Could you please follow up via email? support@enupal.com

[2020-12-05 18:10] alexjcollins commented on #151
@andrelopez Thanks for the reply. I've had a play around with this again on production, and it _seems_ to have sorted itself out. I'll close the issue and if it comes back I'll sort you out with all the information you need.

[2020-12-05 18:10] #151 closed

[2020-12-07 21:03] siebird opened #156 "Add an options setting to override logo image (ie. a product image)"
Currently, the logo is passed to the new Stripe Checkout as the product image for single payments. Ideally, I'd like to dynamically pass an image URL to [override that setting](https://d.pr/i/oSjsXy).

[2020-12-14 05:04] jaydensmith opened #158 "Exception when connecting Stripe Connect account"
[code]

[2020-12-15 11:04] andrelopez commented on #155
Hi @bleepsandblops We just released Stripe Payments v3.2.3 with a fix to this issue. Thanks for reporting!

[2020-12-15 11:04] #155 closed

[2020-12-15 11:04] andrelopez commented on #158
Hi @jaydensmith  We just released Stripe Payments v3.2.3 with a fix to this issue. Thanks for reporting!

[2020-12-15 11:04] #158 closed

[2020-12-16 18:08] idawgik opened #159 "Multiple Vendors with Single Set of Products"
This is more a pre-sales/howto question.

I have a possible project which would have multiple vendors but only one set of products with Craft Commerce.

Is it possible with the vendor/stripe connect integration to tell which vendor an order should be applied to when only using one set of products? We would prefer not to have to duplicate each of the products every time a new vendor is added. Custo

[2020-12-21 13:50] richardfrankza commented on #77
Hi there. I have a similar request. How difficult would this be to achieve? Would it ever be on the roadmap?

[2021-01-10 12:54] mark-chief opened #160 "Line items and entry id's"
### Description
Not a bug, just looking for some assistance to get me going please. I have a couple of questions so I have split it out.

**Question 1:**
I am attempting to add line items to a one time payment form. Each line item is an entry.
How can I build the below array from an entry for loop so i can pass it to the options like so:
`{% set options = { lineItems : lineItems} %}`

I appreciate

[2021-01-10 13:50] andrelopez commented on #160
Hi @mark-chief

Please edit your payment form to add a hidden field that outputs a variable let's call it `entries` (please choose the name that you want)

![Hidden Field](https://enupal.com/assets/docs/hidden-field-stripe-payments.png)

Then on your template create the `entries` variable with the separate comma ids and pass it to Stripe Payments

[code]

Please let me know if that works.

[2021-01-10 15:33] mark-chief commented on #160
Hello Andre thanks for your help. So far that works.

Could you please help with the below? Hopefulyl you can see what i am trying to achieve:

[code]

Thanks!

[2021-01-10 18:10] andrelopez commented on #160
@mark-chief here you go:

[code]

Please let me know how it goes

[2021-01-11 17:25] mark-chief commented on #160
Hey Andre, thats fantastic, thank you very much for your help.

Should the Line items be visible in the Craft CP? I cant see them.

[2021-01-12 12:06] mark-chief opened #161 "Customer Portal Error"
### Description
Using the below example from the docs, I am getting "HTTP 400 – Bad Request – yii\web\BadRequestHttpException" - "Post request required".

[code]

- Production domain with SSL
- Test Mode enabled / tried also with live - same result
- User has 1 completed order. Can see this order in Stripe and Craft CP
- No caching enabled on the page

Thanks!!!!

### Additional info

- Craft vers

[2021-01-12 14:11] andrelopez commented on #161
Hi @mark-chief could you please try the following code:

[code]
Please let me know how it goes

[2021-01-12 14:15] mark-chief commented on #161
I am now getting this:

Page not found.
↵
Caused by: Invalid Route – yii\base\InvalidRouteException
Unable to resolve the request "enupal-stripe/customer-portal".

[2021-01-12 14:15] andrelopez commented on #159
Hi @idawgik , sorry for the late reply. Yes if you have multiple vendors attached to a product it will pay to all the vendors attached to the product.

[2021-01-13 07:06] andrelopez commented on #161
Could you please try

[code]

[2021-01-13 09:26] mark-chief commented on #161
Hi @andrelopez , that seems to reload the page only.

[2021-01-13 09:36] andrelopez commented on #161
Hi @mark-chief could you please confirm that you're logged in as a user that has made a purchase?

[2021-01-13 09:40] mark-chief commented on #161
@andrelopez yes the user is logged in. See screenshot.
![Screenshot 2021-01-13 at 09 39 35](https://user-images.githubusercontent.com/18699249/104434615-54fee600-5583-11eb-85a9-59be1bc44c27.png)
Thanks

[2021-01-14 07:24] andrelopez commented on #161
Hi @mark-chief we had a user with the same issue as you, could you please read this thread? https://github.com/enupal/stripe/issues/133

Are you on local development? what is your site URL?

[2021-01-14 07:40] mark-chief commented on #161
Hi @andrelopez, yes I have seen that thread already.

It is on a production domain, not local development. Stripe is in test mode, but have also tried in live mode with no success.

[2021-01-14 08:05] mark-chief commented on #161
@andrelopez Hi, it is working with your suggested `{{ actionInput('enupal-stripe/stripe/create-customer-portal') }}`, the problem was I had not completed the terms and conditions field in the Stripe control panel!! Apologies I should have spotted that.

However, the billing history is empty, even though I can see lots of orders from my tests in the payment section. Do you know it it will show one

[2021-01-14 09:23] andrelopez commented on #161
@mark-chief Great! I'll add that to the docs. Sorry, the View billing history feature is only for subscriptions

[2021-01-14 09:41] mark-chief commented on #161
@andrelopez Does your PDF plugin support PDF invoices for One Time Orders?

[2021-01-14 10:45] andrelopez commented on #161
@mark-chief Yes it is. Here is the docs link: https://docs.enupal.com/stripe-payments/orders/order-pdf.html#install-enupal-snapshot Please let me know if you have any questions

[2021-01-14 16:13] mark-chief commented on #160
Hi @andrelopez, Appreciate this may be outside of the support of the plugin, but am looking for some assistance please?

I pass multiple entry id's to a payment form field e.g: `5637,6859,4563`. I want to update a custom field in those entries when order is complete, so i am attempting to make a module (first time)

[code]

Thanks

How can I update those entries?

[2021-01-14 21:45] mark-chief commented on #160
@andrelopez This is how I got it working and for anyone else that comes across this.

Please suggest or optimise it if you feel it could be better:

[code]

[2021-01-15 12:59] andrelopez commented on #160
@mark-chief Onward! thanks for sharing!

[2021-01-15 12:59] #160 closed

[2021-01-15 13:00] #161 closed

[2021-01-17 12:42] fantasticmachine opened #162 "XSS Vulnerability in dependency"
I've received a report (via Craft Report) that phpoffice/phpspreadsheet (1.15.0) contains a potential XSS vulnerability.

Looking at the repo for that project it appears to have been resolved and merged https://github.com/PHPOffice/PhpSpreadsheet/pull/1719

Can the dependency version be bumped to use the fixed version?

[2021-01-27 15:30] mark-chief opened #163 "Stopped work when test mode disabled"
### Description
Hello, The plugin was working perfectly in test mode, but today i disable test mode in the Plugin contorl panel, and disable test data in Stripe and although the form can take payments, the Craft contorl panel doesnt show orders and no events are fired.

Have I somehow missed a setting t change when going live? Thanks for any assistance.

### Steps to reproduce

1. Complete order
2

[2021-01-27 15:34] mark-chief commented on #163
I can see `"livemode": true,` in the logs in Stripe, and the successful payment.

[2021-01-30 13:26] andrelopez commented on #163
Hi @mark-chief thanks for following up. Also here are our recommended events to enable: https://docs.enupal.com/stripe-payments/stripe-payment-forms/webhook.html#events

[2021-01-30 13:26] #163 closed

[2021-01-30 13:39] #159 closed

[2021-01-30 14:23] andrelopez commented on #162
Hi @fantasticmachine thanks for reporting this issue. We just released Stripe Payments v3.3.0 with a fix to this issue.

[2021-01-30 14:23] #162 closed

[2021-01-30 14:25] andrelopez commented on #156
Hi @siebird We just released Stripe Payments v3.3.0 adding support to this feature.

[code]

Docs: https://docs.enupal.com/stripe-payments/templating/paymentform.html#options

[2021-01-30 14:25] #156 closed

[2021-02-01 14:02] siebird commented on #156
@andrelopez thanks for adding this!

[2021-02-09 21:12] siebird commented on #93
@andrelopez how do we access form fields for the charge description? Trying to get the following `Order from {email} - {object.variants.courseTitle}` with no luck.

[2021-02-09 21:37] andrelopez commented on #93
@siebird if you have a form field added to your payment form please use:

{object.getFormFields().courseTitle}

[2021-02-10 00:41] siebird commented on #93
Perfect. Thanks @andrelopez

[2021-02-10 21:53] kerrig opened #166 "Old jquery.min.js file included in vendor/js - can this can be deleted?"
### Description
Client ran a security scan and found this file:
_we have to resolve this security issue: "The detected version of jQuery (version v1.11.1) is out of date and no longer receiving patches."_

Is it possible to get this file removed from the repo if my assumption is correct that it's no longer needed?
https://github.com/enupal/stripe/blob/master/src/resources/vendor/js/jquery.min.js

[2021-02-13 23:59] Coysh opened #167 "You may only specify one of these parameters: submit_type, subscription_data."
### Description
Getting an error on the lates update to 3.3.0
`2021-02-13 15:54:57 [-][1][-][error][Stripe\Exception\InvalidRequestException] (Status 400) (Request req_VivIWv5epWXIHl) You may only specify one of these parameters: submit_type, subscription_data.`

### Additional info

- Craft version: Latest
- PHP version: 7 .4
- Database driver & version: mySQL
- Plugin version: 3.3.0
- Is [SCA](h

[2021-02-18 23:45] bfjare opened #168 "Sprig Support"
It would be super cool to have support or documentation to have this work inside a sprig component, if possible of course.

https://github.com/putyourlightson/craft-sprig

[2021-02-19 17:52] steverowling opened #169 "Subscription Grants remove users from existing groups"
### Description

Create a Subscription Grant to add a subscriber to a new group, e.g. 'subscribers'.

When the user successfully purchases a subscription, they are added to the 'subscribers' group, but they are also removed from any other user groups that they previously belonged to.

Since Craft allows for users to belong to multiple user groups and user group permissions are additive, I think th

[2021-02-23 00:03] Coysh commented on #167
Hi @andrelopez this is still an issue for me. I'm not committing to purchase this yet, as can't demo to client

[2021-02-23 07:10] andrelopez commented on #167
@Coysh sorry the slow response. Could you please send us a screenshot of your payment form setup on your CP to try to recreate this issue? Please send the info to support@enupal.com

[2021-02-23 08:48] andrelopez commented on #169
Hi @steverowling We just released Stripe Payments v3.3.1 with a fix to this issue. Thanks for reporting!

[2021-02-23 08:48] #169 closed

[2021-02-23 08:49] andrelopez commented on #166
Hi @kerrig we just released Stripe Payments v3.3.1 with a fix to this issue.

[2021-02-23 08:49] #166 closed

[2021-02-23 09:47] Coysh commented on #167
@andrelopez - sent via email. Nothing massively different from default settings in the payment form though.

[2021-02-25 14:50] mark-adigital opened #173 "Use passed itemName in CMS at /enupal-stripe/orders"
Hi,

We're using this plugin on a site where the same payment form supports multiple event entries. The client has requested that we add that event name to the Item Name column in Craft at `/enupal-stripe/orders` to make querying and filtering easier both in the CMS and on export of data. I added the `itemName` option [as stated in the documentation](https://docs.enupal.com/stripe-payments/templat

[2021-02-25 21:29] beckbailey opened #174 "removeDefaultItem not working"
### Description

removeDefaultItem setting not working on line items

### Steps to reproduce

Despite following the documentation and setting this to true, the default plan is still passed to the Stripe Checkout form.

<img width="696" alt="Screenshot_26" src="https://user-images.githubusercontent.com/1824287/109220061-765c1000-7786-11eb-810f-176a94e1027e.png">
<img width="595" alt="Screenshot_27"

[2021-02-26 19:30] mark-chief opened #175 "Display Order Line Items in template"
### Description
Hello, I need to display the order line items in my template but I cannot see a variable to do this in the docs.

other than that its working perfectly - but this is an urgent request, thanks so much!

[2021-02-28 21:50] andrelopez commented on #167
@Coysh We just released Stripe Payments v3.3.2 with a fix to this issue. Sorry for the slow response

[2021-02-28 21:50] #167 closed

[2021-03-03 11:50] gazlawn22 commented on #119
Do you have any idea when subscriptions would be supported by BACS Direct debit in the UK?

[2021-03-03 21:38] magicspon commented on #142
@andrelopez Any progress on this.

[2021-03-04 17:38] domstubbs commented on #119
I’m trying to figure out Direct Debit subscriptions for a client at the moment and this issue gave me a little hope, but when I contacted Stripe earlier they confirmed it’s not supported yet:

Despite this I thought I’d attempt a DD subscription with a trial install of this plugin to see what happens, and sure enough this error was returned by the API when I submitted my test form:

This [support

[2021-03-04 18:21] andrelopez commented on #119
@domstubbs Sorry the support doc link (https://stripe.com/docs/billing/subscriptions/bacs-debit) does not show much information on my end, could you please double-check? do you mean this link https://stripe.com/docs/payments/bacs-debit/save-bank-details ?

It looks like the support for subscriptions is going to available soon.

[2021-03-05 11:04] domstubbs commented on #119
That is the right link – it includes the requirements for setting up the DD as well as initiating a subscription, whereas the second link just covers the DD setup process. Unless Stripe’s geolocating the doc pages for some reason.

Can you clarify what level of DD support the plugin has? I tried a one-off DD payment this morning and Stripe returned the error:

I assume that for DDs we need a two-s

[2021-03-09 12:04] bleepsandblops opened #178 "Address line 2 not saved"
### Description
Hello,

It looks like you're not saving the second line of an address either for billing or shipping, even though Stripe records it:
https://github.com/enupal/stripe/blob/5f80bd7ad8725db8bdd861052d6525c61fe9160e/src/services/Orders.php#L1343
https://github.com/enupal/stripe/blob/5f80bd7ad8725db8bdd861052d6525c61fe9160e/src/services/Orders.php#L1363

In terms of fixing this for past

[2021-03-19 15:40] mijewe opened #179 "Checkbox Form Fields not working with recurring payments - Invalid value type: {:"0"=>"yes"} must be a string"
### Description
If you create checkbox fields on a form that allows recurring payments, the form can't submit and a 500 is returned with the error `Invalid value type: {:"0"=>"yes"} must be a string`
("yes" is the valid of my checkbox in this case, for a field called "testCheckbox")

If you look at the request, two items are listed for my test field
[code]

### Steps to reproduce

1. Create a new

[2021-03-20 18:24] andrelopez commented on #173
Hi @mark-adigital yes, we need to add support to this feature, I'll let you know once is released

[2021-03-22 18:59] mark-adigital commented on #173
Great - thanks!

[2021-03-23 11:20] mark-adigital opened #180 "Export including deleted transactions"
Hi,

There's a couple of different possible areas to address here, but they were all connected as we saw them so hopefully you don't mind me covering the whole thing in one issue. So to try and provide context, our implementation of this plugin is used in tandem with an event listener that adds some CMS records based on the `afterProcessWebhook` event. We had an issue where the module listening fo

[2021-03-26 08:45] paulmendrik opened #181 "Stripe Payments not sending customer emails"
Hi,

On successful payment an admin confirmation email is triggered but not the customer one. I'm really at a loss why this should be , can you please help as this is quite important for the online shop !

B.T.W. I tried to contact your support several times but still no reply !

- Craft version: 3.6.11.1
- Craft Commerce: 3.2.17.3
- Stripe Payments 3.3.2
- PHP version: 7.4.11
- Database driver &

[2021-03-26 12:22] andrelopez commented on #181
Hi @paulmendrik I am unable to recreate this issue. I'll follow up via email

[2021-03-26 12:35] paulmendrik commented on #181
Hi André,

Thank you for looking into this, I do appreciate it !

Attached are the files you asked for.

Best wishes,

Paul

Paul Mendrik
t: +33 (0)5 49 27 28 04
m: +33 (0)6 06 43 23 56
www.imwd.design
Ce message, ainsi que les pièces jointes, sont établis, sous la seule responsabilité de l’expéditeur, à l’intention exclusive de ses destinataires ; ils peuvent contenir des informations confidentie

[2021-03-26 18:42] andrelopez commented on #181
@paulmendrik Could you please send the info to support@enupal.com ?

[2021-03-26 18:46] paulmendrik commented on #181
Hi André,

I can of course, but my prep ious emails didn’t get a response !

Best wishes

Paul

Paul Mendrik
t: +33 (0)5 49 27 28 04
m: +33 (0)6 06 43 23 56
www.imwd.design
Ce message, ainsi que les pièces jointes, sont établis, sous la seule responsabilité de l’expéditeur, à l’intention exclusive de ses destinataires ; ils peuvent contenir des informations confidentielles. Toute publication, util

[2021-03-26 21:05] andrelopez commented on #181
@paulmendrik Thanks for following up. We just released Stripe Payments v3.3.3 with a fix to this issue

[2021-03-26 21:05] #181 closed

[2021-03-28 09:06] paulmendrik commented on #181
Hi André

That has indeed fixed the problem , thank you so much !

One other thing though, when an orders is placed. It doesn’t show unless I sync the orders in settings, is there a way around this so it shows up after the order has been placed ?

Equally, the orders don’t show in Commerce orders but only as an inactive cart, could this be because Stripe-commerce needs to be activated as well ?

F

[2021-03-29 18:05] andrelopez commented on #181
Hi @paulmendrik if you have [SCA](https://docs.enupal.com/stripe-payments/getting-started/sca.html) enabled and you're testing locally you need to login via the Stripe [CLI](https://stripe.com/docs/stripe-cli) and then forward to the webhook URL of your website, for example:
First login
[code]
then, forward to the webhook URL
[code]

And to show the order details in a thank-you page please follow

[2021-04-23 18:17] bfjare opened #184 "Error when creating a vendor and returning to enupal-stripe/authorize-oauth"
<img width="984" alt="Screen Shot 2021-04-23 at 12 17 16 PM" src="https://user-images.githubusercontent.com/11744681/115913470-e2c55980-a42d-11eb-8d71-9b9176db1859.png">

[2021-04-28 19:01] bfjare opened #185 "Error after payment form submission"
Worked this down to this basic template for testing

[code]

Getting the following error after submission. The submission is successful but it throws this error.

<img width="1481" alt="Screen Shot 2021-04-28 at 1 00 36 PM" src="https://user-images.githubusercontent.com/11744681/116458317-be98bc80-a821-11eb-8d4a-106918421465.png">

If I refresh the page it loads correctly.

CRAFT CMS: 3.6.12
Strip

[2021-05-07 14:14] NickSL8 opened #186 "Ideal recurring payments not working"
### Description
Hi There,

We are using your plugin to handle subscriptions and payments. There is some issue with stripe and Ideal which we do not understand. Payments keep getting failed with Ideal, although we followed your steps in the documentation:

 - Enabled SEPA direct debit as a payment method
 - Added a webhook URL to stripe

This is working in the test modus, but not in live modus. Am

[2021-05-07 20:10] zackspear opened #187 "Payment Method in correct after Alipay purchase"
### Description

I have a Checkout Form that only accepts Alipay. In the order details in the CMS, in Twig using `order.getPaymentForm().name`, and within PHP using `$e->$order->getPaymentMethod()` the value returned is `'Card'` rather than `'Alipay'`.

### Steps to reproduce

1. Configure a form with the following settings:
    * ![Screen Shot 2021-05-07 at 13 00 36](https://user-images.githubuse

[2021-05-11 23:15] codyjames opened #188 "Add ability to generate a Stripe Dashboard link for vendors"
It'd be great if we could easily generate a Stripe Dashboard link for vendors.

https://stripe.com/docs/connect/express-dashboard

Let me know if that's doable!
Thanks!

[2021-05-12 22:49] zackspear opened #189 "Logging broken? If not, what are logging best practices?"
### Description

Perhaps I'm missing something but I've been having a tough go with logging when using this plugin locally and on my staging server in preparation to soon go live.

I use a custom Craft module to watch order events and modify order meta fields based on the response of a HTTP request I send to an outside server with order details.

I've had this module in place for a few years now w

[2021-05-12 23:18] zackspear opened #190 "Receipt emails do not use site language"
### Description

I've refactored an existing Craft Commerce email template of mine that's setup for localization to also work with Stripe Payment orders. I've got it to mostly work.

However when sending an email for Stripe Payments the email receipts are always in `en-US`, our default site language, regardless of what site language I'm purchasing with Chinese (our important one for Stripe Payment

[2021-05-17 10:42] lucasdaniels commented on #152
@bleepsandblops I am trying to do the same thing - did you perhaps find a solution to this?

[2021-05-17 12:31] siebird opened #191 "Spam orders showing as successful"
Hey, Andre.

I just DM'd you a video in Discord showing you what is going on. It seems to have been a one time targeted attack as it as of now.

[2021-05-17 19:47] bleepsandblops commented on #152
@lucasdaniels I did not unfortunately, sorry!

[2021-05-18 18:01] bfjare commented on #184
Hey Andre, Just wanted to reach out again and see what you thought about this issue?

[2021-05-18 18:06] andrelopez commented on #184
@bfjare Sorry for the late reply, could you please recreate the issue and send back to us a zip file of the following folder? storage/logs

[2021-05-18 18:11] andrelopez commented on #185
Hi @bfjare  Could you please let us know if you have SCA enabled and Stripe Checkout?

[2021-05-18 18:14] andrelopez commented on #186
Hi @NickSL8 Could you please confirm that the webhook [URL and events ](https://docs.enupal.com/stripe-payments/stripe-payment-forms/webhook.html#events)are correctly added on your Stripe dashboard when test mode is disabled?

[2021-05-18 18:19] andrelopez commented on #187
Hi @zackspear  I'll take a look if there is a way to bring this info back from Stripe Checkout, I'll keep you updated

[2021-05-18 18:23] andrelopez commented on #180
Hi @mark-adigital good catch about the webhook, I'll research about that and will keep you updated also about the export issue (you're right this is due to the new soft delete)

[2021-05-18 18:24] andrelopez commented on #188
@codyjames Good stuff, I'll let you know once this feature is released

[2021-05-18 18:28] andrelopez commented on #189
@zackspear interested issue, I'll take look and back to you soon

[2021-05-18 19:27] andrelopez commented on #191
Hi @siebird followed up via discord

[2021-05-18 19:27] #191 closed

[2021-05-19 02:35] bryandugan opened #192 "Donation forms showing coupon code field and submit button leads to 404 error."
### Description
The test key works fine. The issue only happens with the live key. These forms were all working last year with the following code to display them.

[code]

All the forms on this page may load once, then show a coupon code field and the submit button takes me to a 404 page.
https://athletesunlimited.com/events/2021-athletes-unlimited-golf-outing

Both forms on this page work fine wi

[2021-05-20 08:00] JansonChe commented on #32
Hi @andrelopez

Just wanted to ask if there is any news on the Payment Intents support?

Would be nice to let users stay on the site instead of having them redirected to Stripe Checkout and back.

Thanks You! :)

[2021-05-21 17:05] bfjare commented on #185
I do not have SCA enabled  stripe checkout is enabled

[2021-05-24 17:14] bfjare commented on #184
@andrelopez no worries I apologize for my late reply.  The logs have been sent to your email with a reference to this.

[2021-05-27 15:16] theskyfloor opened #193 "Sync Subs Order Date Range Broken?"
### Description

I can't seem to get the sync for subs to work based on date range. Is there a minimum required API version? Besides that sync is still working great!

### Steps to reproduce

1. Try to sync
2. Stripe error logs report invalid date param.

### Additional info

- Craft version: All up to date
- PHP version: 7.4
- Database driver & version:
- Plugin version: All up to date
- Is [SCA]

[2021-05-28 16:11] bfjare commented on #184
Hey, @andrelopez just wondering if you have anytime to look at those logs?  I have a meeting with the client late today and just wanted to check.  If we need to sponsor this support would be more than happy too?

[2021-06-07 20:38] bfjare commented on #185
If I turn on SCA the payment works but its not saved to the database

[2021-06-08 05:34] andrelopez commented on #185
Hi @bfjare After enable [SCA](https://docs.enupal.com/stripe-payments/getting-started/sca.html) if you want to test locally (as the webhook URL needs to be accessible via internet) please install the [Stripe CLI](https://stripe.com/docs/stripe-cli) to redirect the webhook calls required to your local webiste

Please run the following two commands, replace `your-local-website` with your local URL

[2021-06-08 14:07] bfjare commented on #185
Thank you Andre I will do this today.  Will I need to do this on production as well?

[2021-06-08 14:13] andrelopez commented on #185
@bfjare No, the stripe cli is only for local development. However, you need to make sure to read the SCA instructions [here](https://docs.enupal.com/stripe-payments/getting-started/sca.html#enable-the-new-stripe-checkout) and when you're ready to deploy on production you need to make sure to add the webhook URL on your Stripe dashboard and enable our recommended events, all the info [here](https:/

[2021-06-08 17:57] #185 closed

[2021-06-08 17:58] bfjare commented on #185
Issue resolved with having the webhook for production saved in the wrong place on stripe

[2021-06-09 21:00] codyjames opened #194 "Issues with getVendorByUserId"
### Description
The getVendorByUserId method currently doesn't use "anyStatus()" to find vendors that are currently enabled OR disabled. Because of this, things like actionAuthorizeOauth() don't find the vendor, if they are disabled, and instead try to create a new one.

### Steps to reproduce

1. Disable a vendor.
2. Trigger actionAuthorizeOauth().
3. See that it added another vendor instead of a

[2021-06-09 21:59] codyjames opened #195 "Add ability to adjust the commission on the fly"
### Description
We're not able to do a percentage-based commission for our vendors. Instead, it'll be a mix of a flat fee + a percentage. So, I either need an event to hook into to adjust the commission amount, or I need to be able to disable this event (https://github.com/enupal/stripe/blob/04b5874b316f92d212cdeffaf141e2a38af7a05b/src/Stripe.php#L108) so that I can create the commission myself.

[2021-06-09 22:01] codyjames commented on #195
Also, I see that commissions are currently related to items rather than an order. I'm wondering how we'd go about making sure the Vendor gets the shipping amount transferred to them. Or, does the plugin already handle that?

[2021-06-10 16:14] bfjare opened #196 "Random duplicate orders"
We recently ran the sync command a few days ago to grab some orders that were missing with an earlier issue. Now random duplicate orders are appearing in the control panel.  We are checking back in stripe and the customer only has one payment but now in the control panel, they have several duplicates over different days.  Not sure what's causing this or even how to debug it.

[2021-06-10 16:15] bfjare commented on #196
<img width="1840" alt="Screen Shot 2021-06-10 at 10 14 53 AM" src="https://user-images.githubusercontent.com/11744681/121560417-b7de9700-c9d4-11eb-9247-2b15080553c8.png">

[2021-06-10 16:17] bfjare commented on #196
<img width="1212" alt="Screen Shot 2021-06-10 at 10 16 57 AM" src="https://user-images.githubusercontent.com/11744681/121560688-fffdb980-c9d4-11eb-8c88-fa3874ab0944.png">
For example this is one user that has only one order in stripe

[2021-06-15 16:12] bfjare commented on #184
Looked at this again today and found this error in the logs.

[code]

[2021-06-15 16:55] bfjare commented on #184
Confirming this was a server config error where curl_exec() was disabled. Enabling curl_exec() fixed the issue and the plugin works as expected.

[2021-06-15 17:04] #184 closed

[2021-06-15 19:13] andrelopez commented on #184
@bfjare Thanks for following up

[2021-06-22 15:20] iwe-hi opened #197 "404 - Unable to process the Payment"
### Description
An Error 404 occurs on submit.

![image](https://user-images.githubusercontent.com/78907655/122949332-dbfa8a80-d37b-11eb-8c13-cecff52b75b2.png)

The form data of the request:
![image](https://user-images.githubusercontent.com/78907655/122950084-78249180-d37c-11eb-8ba6-e78fafbf1f94.png)

It doesn't matter where the from is integrated, the result is the same. It gets integrated like

[2021-06-23 06:11] andrelopez commented on #197
Hi @iwe-hi Yes this looks like an issue with Javascript, on Chrome, could you please click Settings -> More tools -> Developer tools and click on the `console` tab and refresh the page, if there is any errors could you please take a screenshot and paste it here?

[2021-06-23 06:18] iwe-hi commented on #197
Hey @andrelopez Here are the sceenshots on page load:
![image](https://user-images.githubusercontent.com/78907655/123045524-50284300-d3fb-11eb-8757-ad6d5f816d5b.png)

And on submit:
![image](https://user-images.githubusercontent.com/78907655/123045594-6209e600-d3fb-11eb-8bed-e616b17c296c.png)

Thank you for your help!

[2021-06-23 06:24] andrelopez commented on #197
@iwe-hi thanks for following up. What about the network tab, could you please send a screenshot after you refresh the page?

[2021-06-23 06:26] iwe-hi commented on #197
![image](https://user-images.githubusercontent.com/78907655/123046647-a34ec580-d3fc-11eb-9e5b-3dd16c8718da.png)

[2021-06-24 17:32] siebird commented on #197
We're getting the same issue with `3.3.3`

[2021-06-29 17:31] clarknelson commented on #197
Any success dealing with this issue?

[2021-06-29 19:43] andrelopez commented on #197
@iwe-hi  Sorry, I am unable to recreate this issue. Could you please try to disable `Load JQuery` and `Load CSS` settings under Settings -> Defaults ?

@clarknelson is this error happening on a clean installation?

[2021-06-29 21:05] bfjare opened #198 "If you delete a form in the control panel it still remains in DB"
Name says it all. The issue with this is primarily they cant then create a form with the same name and handle sine its already in the DB.

[2021-06-29 21:08] bfjare opened #199 "craft.enupalstripe.paymentForms.all()"
I have two forms in the control panel but this code renders the "Impossible to invoke a method ("all") on a null variable." error

{% for stripeForm in craft.enupalstripe.paymentForms.all() %}
	{{ stripeForm.paymentForm() }}
{% endfor %}

[2021-06-29 21:15] bfjare opened #200 "Front End Vendor Forms Auto Disabled"
Whenever a vendor creates a front-end connected form it's always disabled even if I add one of the following inputs to the form.

<input type="text" name="fields[enabled]" value="true">

[2021-06-29 21:16] bfjare opened #201 "Front end vendor forms feature request"
Right now no author data is stored for a form created by a front-end user so there is no way to pull forms based on the logged-in users getting just the forms that they created.  Would be very useful I would imagine for others as well.

[2021-06-30 06:14] #197 closed

[2021-06-30 06:16] iwe-hi commented on #197
Closed - we're using a php API to make payments.

[2021-06-30 20:05] codyjames commented on #195
@andrelopez Do you think this is something y'all would add sometime soonish? No worries if not, I just need to pick a direction soon if this isn't something y'all will add.

[2021-07-03 13:29] andrelopez opened #202 "Adds support to BECS Direct Debit"
Add support to BECS Direct Debit on the new Stripe Checkout

[2021-07-03 13:43] andrelopez opened #203 "Add support to WeChat"
Add support to WeChat on the new Stripe Checkout

[2021-07-03 14:08] andrelopez commented on #199
Hi @bfjare  Could you please try the following code?

[code]

[2021-07-03 14:08] #199 closed

[2021-07-03 14:54] andrelopez commented on #195
Hi @codyjames We just released Stripe Payments v3.3.5 with support to the [beforeProcessTransfer](https://docs.enupal.com/stripe-payments/plugin-development/events.html#afterprocesswebhook) event so you can adjust the `$commission->totalPrice` as needed. Please let me know if that could work.

[2021-07-03 14:54] #195 closed

[2021-07-06 05:58] andrelopez commented on #203
Added on v3.3.4

[2021-07-06 05:58] #203 closed

[2021-07-06 06:03] andrelopez commented on #149
Added on v3.3.4

[2021-07-06 06:03] #149 closed

[2021-07-12 15:46] aarmitage commented on #180
Hi @andrelopez - this webhook error is starting to create some pretty major problems for us with a client and we're going to have to demonstrate that this is being recognised and there's a solution in play. The issue was first reported in March and it took until May to get a response and there's no indication of when a further update will be provided.

I appreciate the issue has been labelled as a

[2021-07-12 15:50] aarmitage commented on #173
Can you tell me when support for this will be added please? We've raised a number of issues with the plugin which have been acknowledged, but there's been no follow up on this issue since March.

[2021-07-12 19:24] andrelopez commented on #180
@aarmitage @mark-adigital Could you please give me more info on how to recreate issue number 1? what is the event type triggered on the re-sending behavior? How can I recreate the error (re-try behavior) ?

[2021-07-19 09:50] mark-adigital commented on #180
Hi @andrelopez  - so we have a module listening for the `Orders::EVENT_AFTER_ORDER_COMPLETE` event, that was sometimes failing due to the constraints on the entry record it was creating, like missing required fields (though I don't think the particular reason for the failure makes a difference). The core issue is that if an event listener fails, it the webhook returns a 500 error to Stripe, which

[2021-07-21 20:41] andrelopez commented on #180
@mark-adigital Thanks for following up. Actually, we already check if the order exists, take a look to this line:

https://github.com/enupal/stripe/blob/master/src/controllers/WebhookController.php#L35

As you can see we try to get the order from the next transaction id `$eventJson['data']['object']['id']`

I think what you can do is create an Order Status for example 'Error' and instead of Raise

[2021-07-23 20:02] theskyfloor opened #206 "Change Subscription Grant Action To User ID Instead Of Email"
### Description

I had a user subscribe but in the process they changed their email address via checkout, this made it so that the grant did not process, would it be possible to change `line 229` of `src/services/Subscriptions.php` from:

```$user = Craft::$app->getUsers()->getUserByUsernameOrEmail($order->email);```

to

```$user = Craft::$app->getUsers()->getUserByUsernameOrEmail($order->userId)

[2021-07-23 20:07] theskyfloor commented on #193
Wanted to update that the range is broken but the sync still worked beautifully and processed many old records in batches with no errors!

[2021-07-29 07:51] jomotion11 opened #207 "Can't upload or edit Payment Form"
Having trouble with payment form. It won't let me create new or edit forms. I get the error "Payment Form not found" or "Key "0" does not exist as the array is empty", which is odd because a form does exist.

### Additional info

- Craft CMS 3.6.7:
- PHP version 7.3:
- Plugin version 3.3.5:

[2021-07-29 08:07] andrelopez commented on #207
Hi @jomotion11 could you please recreate the issue and send back to us a zip file of the following folder? storage/logs

Please send the file to support@enupal.com

[2021-07-29 08:29] andrelopez commented on #206
Hi @theskyfloor I see the issue here, this workflow was thinking also on guest users that's why we use the email. If you go to Stripe Payments -> Settings -> Defaults and enable `Email address of the logged-in user` it will populate the email of the user on the checkout however the user can still update their email on the checkout page. I'll add some logic to get the user from their Id if the user

[2021-07-29 08:36] andrelopez commented on #200
Hi @bfjare Do you enable `Skip admin review` when editing the vendor on the CP?

[2021-07-29 16:44] bfjare commented on #200
I have not

[2021-07-29 18:52] andrelopez commented on #200
@bfjare no problem :) closing the ticket, let me know if you have any other issues

[2021-07-29 18:52] #200 closed

[2021-07-30 10:28] bleepsandblops opened #208 "Feature request - Transfer availability"
### Description
Would be great to implement this:
https://stripe.com/docs/connect/charges-transfers#transfer-availability
probably here:
https://github.com/enupal/stripe/blob/5f80bd7ad8725db8bdd861052d6525c61fe9160e/src/services/Commissions.php#L140

Thank you!

[2021-07-30 12:07] andrelopez commented on #208
@bleepsandblops  Could you please elaborate a bit more on your use case? Are you using the Stripe Connect feature?

[2021-07-30 12:18] bleepsandblops commented on #208
Hey @andrelopez , yes using Connect: if the commission payment is set to checkout, then the connect transfers don't go through because the money isn't 'available' yet in Stripe.

With that option it does the transfer and then Stripe holds it on the vendor's account instead of ours, so it appears in the vendor balances etc. Otherwise we have to wait for the money to become 'available' in our accoun

[2021-08-04 15:22] siebird opened #209 "Add option to duplicate payment form w/fields & settings"
It would be nice to be able to duplicate a payment form similar to Craft's `Save as new entry`.

In this case, we need to clone a payment form and then translate the field labels to a new language.

[2021-08-05 16:22] mark-chief opened #210 "Multiple products"
### Description
Hello. Is it possible to have multiple products on one page but pay through a single payment.

E.g:

Product 1:
number of tickets qty 1-9 £215 each
-select qty-

Product 2:
Table of ten £2150
-select qty-

Customer can select different qty of either products above and pay through one form.

Do I need a payment form for each product?

thanks, any help would be appreciated.

### Step

[2021-08-08 22:17] stianmandarin opened #211 "Trying to sign up for a new subscription after the previous one has lapsed gives error"
### Description

Trying to sign up for a new subscription after the previous one has lapsed gives error.

### Steps to reproduce

1. Enable `cancelAtPeriodEnd`
2. Sign up for subscription using `{{ craft.enupalStripe.paymentForm('handle') }}`
3. Use Stripe's Customer Portal to cancel subscription (at period end) ([form from Enupal docs](https://docs.enupal.com/stripe-payments/templating/update-bil

[2021-08-09 17:32] beneberle commented on #93
Thank you for posting, exactly what I needed.

I'd like to encourage adding a brief mention of this to the documentation. Maybe it's really more of a standard twig templating thing, but I sure could have used the extra guidance. Thanks!

[2021-08-09 20:27] siebird commented on #72
I'm getting the same results returning `null`. Code I'm using:

[code]

and `craft.enupalStripe.getStripeCustomerByEmail` is an unknown method.

[2021-08-11 18:37] Slgoetz commented on #125
@sunscreem how did you update to Stripe API v3 - looking to do this but cant seem to find it in the docs.

[2021-08-11 18:40] andrelopez commented on #210
Hi @mark-chief Yes, if you're using [Stripe Checkout](https://docs.enupal.com/stripe-payments/getting-started/sca.html#enable-the-new-stripe-checkout) you can use the `lineItems` key via `options`, you can imagine like a two step checkout page, and imagine this will be the final checkout page, you need to pass the items information previously collected (it could be via GET params or Session variab

[2021-08-12 03:45] bromtec opened #212 "403 Error upon success / redirect"
### Description

when clicking pay, after the green check, the same URL as payment form (not the checkout success / return URL) is loaded / refreshed and says:

***********
Unauthorized

Error!
************

The javascript console shows a 403 error as follows

POST https://www.globalroofinggroup.com/enupal/stripe/create-checkout-session **403**

### Additional info

Both stripe payments and stripe

[2021-08-12 16:38] bromtec commented on #212
Please disregard the above -- think it's being caused by another plugin, snaptcha

[2021-08-12 16:38] #212 closed

[2021-08-13 14:10] mark-adigital commented on #180
Thanks for this @andrelopez .

If I'm honest, I think it sort of makes sense! Based on what you're saying I'm wondering if part of the issue is that the orders in question aren't for physical products but for event entries, meaning there's no order processing and the order status never changes from 'New'. Could that be why the orders aren't being detected despite already existing?

I don't believe

[2021-08-24 11:39] mark-adigital commented on #180
I don't know if it helps, but the errors we're seeing are generally timeouts now (which tend to succeed on the second attempt) and despite the check in the code, we're still seeing duplicate orders with the same Stripe Transaction ID are created in the control panel, and therefore multiple order emails are also being sent to customers.

[2021-08-24 19:25] stianmandarin commented on #211
@andrelopez Any thoughts on this?

[2021-09-08 13:42] hassanmah opened #213 "Error "Template not found: pay-fees/enupal/stripe/create-checkout-session" when SCA enabled - SCA"
### Description
Hi,

I get this JS error when I try to submit the form with SCA. I followed all the steps, including setting up the Webhook. No custom template is use.

### Steps to reproduce

1. Submit form, nothing happens and response is 404 and the above error message.

### Additional info

- Craft version: 3.7.11
- PHP version: 7.3
- Database driver & version: SQL
- Plugin version: 3.3.5
- Is

[2021-09-08 13:55] andrelopez commented on #213
@hassanmah could you please refresh the page and send me the source code generated by the browser to support@enupal.com ?

[2021-09-08 14:04] hassanmah commented on #213
@andrelopez sent both source file, also you can test the form at https://www.chigwell-school.org/pay-fees/

[2021-09-09 18:15] #210 closed

[2021-09-09 18:26] andrelopez commented on #193
Hi @theskyfloor We just released Stripe Payments v3.3.6 with a fix to this issue. Please update your plugin and let us know how it goes.

[2021-09-09 18:26] #193 closed

[2021-09-09 18:26] andrelopez commented on #213
Hi @hassanmah We just released Stripe Payments v3.3.6 with a fix to this issue. Please update your plugin and let us know how it goes.

[2021-09-09 18:26] #213 closed

[2021-09-10 07:07] hassanmah commented on #213
Hi @andrelopez I'm still getting the same issue with this here https://www.chigwell-school.org/pay-fees/ with SCA switched on.

I've had to switch it off for now

[2021-09-10 07:47] hassanmah commented on #213
We can also set up a new form on a new page https://www.chigwell-school.org/fee-payment/ and now getting same error but different url

<img width="833" alt="image" src="https://user-images.githubusercontent.com/3025707/132819086-b37325ba-566a-4b6d-a64c-7ebdcbb37a42.png">

[2021-09-10 09:30] dbrown199747 opened #216 "No option to pay with Google pay and Apple pay even though it says it's possible in plugin documentation"
### Description
We downloaded this plugin as it was one of the only stripe plugins for craft that supports Google pay and Apple pay. After downloading, we've noticed there is no setting or option to enable this in the CMS?

I expect it must be something i've missed. Please could you explain to me what I need to do?

### Steps to reproduce

1.
2.

### Additional info

- Craft version: Craft Solo 3.

[2021-09-10 09:39] andrelopez commented on #213
@hassanmah The issue is related to the last  `/` at the end of the URL. Could you please test with https://www.chigwell-school.org/fee-payment

[2021-09-10 10:08] hassanmah commented on #213
@andrelopez That worked

Thanks

PS. I've emailed you regarding a point.

[2021-09-13 15:48] theskyfloor commented on #193
Thanks!

[2021-09-13 16:37] MattWilcox commented on #213
We are seeing this error also, using 3.3.6 on Craft 3.7.12

We get the error regardless of whether the product URL has a slash at the end or not.

[2021-09-17 10:37] MattWilcox opened #217 "When SCA is enabled, this is not working."
### Description

There's a closed Issue with the exact problem, but this issue is still happening. We have had to disable SCA in order to get a clients website to take payments again.

https://github.com/enupal/stripe/issues/213

Calling code:

[code]

URL on which the form is, and where we are when the "buy" button is clicked:
http://mcs19.website.local/products/emc-field-strength-solutions/safet

[2021-09-20 12:13] stianmandarin commented on #211
@andrelopez I don't mean to be a pain about this, but it's been a month, and I haven't heard back (I've tried emailing you as well). Could you kindly confirm if this is indeed an issue, or if I am simply misunderstanding the implementation?

Best,
Stian

[2021-09-20 14:23] andrelopez commented on #211
hi @stianmandarin sorry for the slow response. Could you please write us an email to support@enupal.com so we can schedule a quick call to work together on this?

[2021-09-21 09:54] stianmandarin commented on #211
Will do. Thank you.

On Mon, Sep 20, 2021 at 4:24 PM Andre Lopez ***@***.***>
wrote:

--

*---*

*Stian Karlsen // 48 15 49 20*

Daglig leder // Mandarin Design AS

https://mandarindesign.no/
<http://mandarindesign.no/?utm_source=Mandarin&utm_medium=E-post&utm_campaign=Signatur>

[2021-09-24 06:14] andrelopez commented on #217
@MattWilcox Could you please roll back to Stripe Payments v3.3.5 and check if you have the same error? I want to confirm if this bug was introduced on v3.3.6

[2021-09-24 06:21] andrelopez commented on #216
Hi @dbrown199747 No additional configuration is required to use Google pay and Apple pay with Stripe Checkout.

**_To test Google Pay:_**
- You need to previously save a card on your browser (Chrome)

**_To test Apple Pay:_**
- You need to previously save a card on your browser (Safari)

Please let me know if that works

[2021-09-24 15:43] gazlawn22 commented on #217
I've had this issue, it was after doing a few updates in a row, but had rolled back to v3.3.5, and get the same error with the bad request.

PHP: 7.4.13
Craft: 3.7.13
Plugin: 3.3.6
SCA Enabled (broken with yes)

[2021-09-27 09:05] MattWilcox commented on #217
@andrelopez - Rolled back on my local machine and re-tested, the bug remains.

![mcs-bug](https://user-images.githubusercontent.com/814039/134878454-bf56c872-8171-46aa-9805-37c94b3e608c.jpg)

[2021-09-28 10:51] lesaff opened #218 "Where do you specify Stripe webhook's signing secret?"
### Description
I checked and double-checked your documentation and couldn't find any info on where to store Stripe's webhook signing secret. Did I miss something obvious here?

### Additional info

- Craft version: 3.7.13
- PHP version: 7.4.21
- Database driver & version: MySQL 5.7.x
- Plugin version: 3.3.6
- Is [SCA](https://docs.enupal.com/stripe-payments/getting-started/sca.html) and Stripe Ch

[2021-09-28 14:35] dbrown199747 opened #219 "Pay now button when using SCA doesn't work in Internet Explorer"
### Description
Pay now button takes user to a 404 page when clicked on.  This only happens in IE, and is fine in all other browsers.

### Steps to reproduce

1. Create stripe form
2. Make sure SCA is turned on (not tested without)
3. When you click on the button that is supposed to take you to 'checkout.stripe.com' to complete the payment, instead you get taken to a 404 page. Is this because it's

[2021-09-30 23:55] cloudgrayau commented on #206
@andrelopez Can you please push this update ASAP? It is important because if you change the email address on the Stripe checkout page doesn't match the users email address, then the order subscription fails.

[2021-10-05 12:12] lesaff commented on #218
@andrelopez I keep getting failed webhook attempt error from Stripe. Any help would be appreciated. Thx.

[2021-10-05 12:16] andrelopez commented on #218
Hi @lesaff Thanks for raise this, I'll add support to webhook's signing secret shortly

[2021-10-06 09:44] #216 closed

[2021-10-06 10:37] andrelopez commented on #218
Hi @lesaff We just released Stripe Payments v3.3.7 with support for [webhook's signing secret](https://docs.enupal.com/stripe-payments/getting-started/saving-your-stripe-api-keys.html#saving-the-stripe-api-keys-via-config-file)

If you want to test locally please follow the instructions here to use the [Stripe Cli](https://docs.enupal.com/stripe-payments/stripe-payment-forms/webhook.html#test-webh

[2021-10-06 10:37] #218 closed

[2021-10-13 09:49] romainpoirier opened #222 "Error while accessing the Tax tab"
### Description

[code]

### Steps to reproduce

1. Go to `/admin/enupal-stripe/tax`

### Additional info

- Craft version: 3.7.16
- PHP version: 7.4.14
- Database driver & version: MySQL 5.7.32
- Plugin version: 1.4.20
- Is [SCA](https://docs.enupal.com/stripe-payments/getting-started/sca.html) and Stripe Checkout enabled?: Yes

[2021-10-14 09:42] dbrown199747 commented on #219
Hi,

I believe it was IE 11 :)

Many thanks,
Dan

[2021-10-19 10:57] NickSL8 commented on #186
Hi @andrelopez we are still have a problem regarding this issue. I can confirm that the url and events are correctly added to our stripe dashboard when the test mode is disabled. The recurring creditcard payments are processed correctly. It for me suggests that webhooks are functioning correctly.

Kind regards,
Nick

[2021-11-02 08:49] andrelopez commented on #222
Hi @romainpoirier thanks for reporting this issue. We just released a fix on v3.3.8

[2021-11-02 08:49] #222 closed

[2021-11-03 17:27] andrelopez commented on #211
Following up here the Issue was caused due the plan was deleted from the Stripe dashboard.

[2021-11-03 17:27] #211 closed

[2021-11-10 09:36] NickSL8 commented on #186
@andrelopez

Could you help us out please?

Kind regards,
Nick

[2021-11-11 11:11] andrelopez commented on #186
Hi @NickSL8 I  have added this ticket to our priority list, I'll let you know once I made a progress

[2021-11-12 15:22] NickSL8 commented on #186
@andrelopez Hi there! A small heads up about the progress from our side. After debugging for a long time I think we finally found the fix regarding this issue. In the Orders.php line 960, you are returning the $token in stead of the $source->id. We are currently are testing this in testmode, and it's working there. Later we are going to try this on live mode.

[2021-11-12 16:49] danfathom opened #225 "Subscription form not submitting to Stripe checkout. Console errors showing"
### Description

We are having issues with your stripe plugin, where we have got multiple people doing some testing, and quite a few people are getting an issue where the pay now button get's stuck and doesn't go to the stripe checkout. I've added a screenshot of this below, along with the console errors being received. Hopefully this is helpful.

![Screenshot 2021-11-12 at 16 07 56](https://user-

[2021-11-15 10:25] p8rcul8r commented on #186
@andrelopez
NickSL8 has mentioned this bug.
In the Orders.php line 960, the $token is returned.
And we think the fix is
Return the token of the $source: _return $source->id_
see also
https://github.com/enupal/stripe/blob/1c5e383643003db97e1039cc4f50558d487c9f25/src/services/Orders.php#L960

Can you confirm that this is the bug and fix?
If so, can you make a hotfix and give an estimate when the fix

[2021-11-16 23:54] joelzerner opened #227 "Customer name and address data should be assigned to customer in Stripe"
### Description

When the Order is processed and it creates/gets a customer from Stripe, it only assigns the email address and doesn't attribute any name, phone or address to the customer.

I believe this could be resolved by simply adding the following data to the Customer::create call in services/Orders.php on line #1272

                    'name' => $order->billingAddressModel->fullName,

[2021-11-19 19:31] andrelopez commented on #225
Hi @danfathom thanks for reaching out. Could you please check all the related templates where you have `{{ craft.enupalstripe.paymentForm('monthlyDonation', options) }}` and make sure that is not inside `{%cache%}` ?

[2021-11-19 19:35] #186 closed

[2021-11-19 19:39] andrelopez commented on #186
@P8RBootsma @NickSL8 PR merged on Stripe Payments v3.3.9, thanks for your contributions!

[2021-11-22 09:13] danfathom commented on #225
Hi,

Thanks for getting back to me.

There's no caching anywhere on the site. I've just double checked and no cache tags are used anywhere.

Many thanks,
Dan

[2021-11-22 19:54] andrelopez commented on #225
Hi @danfathom By any chance you have installed the Snaptcha plugin? if so could you please disable the Snaptcha plugin and try again? I am currently investigating issues caused by that plugin,

[2021-11-23 09:24] danfathom commented on #225
Hi,

We don't have Snaptcha installed on the site. We have the following plugins installed:

- Cloner (1.2.2)
- Feed Me (4.4.0)
- Freeform Pro (3.11.12)
- MobileDetect (1.0.2)
- Redactor (2.8.8)
- Redirect Manager (1.1.1)
- Section + Product Type (1.0.5)
- Stripe Payments (3.3.8)
- Super Table (2.6.8)
- Typed Link Field (1.0.25)
- XML Sitemap (1.3.2)

Hope this helps.

Many thanks,
Dan

[2021-11-23 12:10] MattWilcox commented on #217
To anyone else having this issue:

Check if you are running Snaptcha to protect your forms, and if so be sure to add the snaptcha.php config file and populate it with:

`'excludeControllerActions' => ['enupal-stripe/checkout/create-session']`

and maybe even add `'logRejected' => true,` so you can tell when rejections are happening.

So that it's not attempting to block the Stripe JS thinking it's

[2021-11-23 12:10] #217 closed

[2021-11-23 12:33] andrelopez commented on #225
Hi @danfathom thanks for following up. Could you please recreate the issue and send back to us a zip file of the following folder?

storage/logs

Please send the file to support@enupal.com

[2021-11-23 13:18] danfathom commented on #225
Hi,

No problem, I will attach below a log of it not working for us.

[logs.zip](https://github.com/enupal/stripe/files/7588198/logs.zip)

Many thanks,
Dan

[2021-11-23 14:16] romainpoirier opened #229 "Keys not retrieved and partially editable in staging / prod"
### Description
I can access to `/admin/enupal-stripe/settings/general` in staging and prod while `'allowAdminChanges' => $isDev` in both env. I get an `Internal Server Error Server Error` on save. This page should not be shown in a non-editable env.

Furthermore, my env variables config keys are not retrieved from dev to staging and prod on deploy. It's the literal value that is saved, not the va

[2021-11-30 14:40] andrelopez commented on #229
Hi @romainpoirier either if you have `allowAdminChanges` disabled the stripe keys should be loaded.

Could you please confirm if you can see the green check (Test Publishable Key was successfully loaded from config file) on Stripe Payments -> Settings ->  General?

Could you please recreate the error that you're getting when triggering the payment form on the front-end and send back to us a zip fi

[2021-11-30 16:31] romainpoirier commented on #229
Right, but you should disable the ability to edit this setting if allowAdminChanges is disabled. Currently, we can still try to edit it, and then get the `Internal Server Error Server Error`, which is inappropriate.

I'm not sure about which green check you're talking about. Here is a screenshot:
![stripe-settings](https://user-images.githubusercontent.com/4634192/144085435-973fe60c-5f2a-45c0-b725

[2021-11-30 17:53] stianmandarin opened #230 "Fingerprinting of cards and/or detecting cancellations/renewals from the same user"
I emailed support@enupal.com on Nov. 4 '21 but have yet to hear back, so I'm trying here.

### Description
When using `"singlePlanTrialDays" : 30`, and the user cancels the plan on day 29, then creates a new plan again a few days later (same user/email), will the user be afforded another free month, or is the plugin able to detect that this user has already had a free trail?

Also: Does the plugin

[2021-12-01 21:41] zackspear commented on #196
This is an issue for our integration as well. Was even reported back in March…https://github.com/enupal/stripe/issues/180
And there's been no visible movement on it in months. No bueno.

[2021-12-03 03:19] bliswebagency opened #231 "Error when accessing enupal stripe settings or editing form"
### Description

When accessing enupal stripe settings or editing form the following error is thrown:

TypeError: Argument 1 passed to craft\web\twig\variables\Cp::field() must be of the type string, null given, called in /.../craft/vendor/twig/twig/src/Extension/CoreExtension.php on line 1511 and defined in /.../craft/vendor/craftcms/cms/src/web/twig/variables/Cp.php:811

The issue seems to be wi

[2021-12-03 12:21] romainpoirier commented on #231
Same here using Craft 3.7.24, PHP 7.4.21 & MySQL 5.7.34.

[2021-12-03 22:47] shornuk commented on #231
Here to, fresh install.

[2021-12-07 10:21] danfathom commented on #225
Hi, did you look into the logs and try to resolve this issue? Unfortunately we still have the project on hold until we can get this sorted.

Thanks,
Dan

[2021-12-07 19:13] edhebert commented on #231
Same issue, noticed after upgrading to most recent version of Stripe Payments. Previously had no issues.

[2021-12-08 18:24] bfjare opened #232 "Manage Billing Form simply reloads page"
Have read all these issues #211 #161 #133

My form is simply just reloading the page.  Confirming the following.

- On a production server and url
- Logged in
- Have an active order

Here is the form code I am using.

[code]

[2021-12-09 08:21] andrelopez commented on #232
Hi @bfjare could you please list the plugins installed on your site?

[2021-12-09 09:05] andrelopez commented on #232
Hi @bfjare could you please make sure you did step 1 on the [docs](https://docs.enupal.com/stripe-payments/templating/update-billing.html#app)?

It sounds like the Customer Portal is not enabled yet on your Stripe dashboard

[2021-12-10 08:55] andrelopez commented on #231
Hi, this looks like an issue introduced on Craft 3.7.24 and addressed on the latest version, could you please update craft to the latest? currently `3.7.25.1` please let me know if that fixed the issue

[2021-12-10 09:00] andrelopez commented on #230
Hi @stianmandarin I will do some tests to validate this scenario and will back to you soon.

Could you please share links or more info about the _fingerprinting of cards_?

[2021-12-10 09:02] andrelopez commented on #229
Hi @romainpoirier  could you please share with us the following file? config/general.php ?

Please send the file or the content to support@enupal.com

[2021-12-10 09:05] danfathom opened #233 "Have you fixed this issue?"
Hi,

Have you fixed/looked into the issue I raised on this page? - https://github.com/enupal/stripe/issues/225

It says 'need more info' but i've provided all the info asked for including all the log files that shows the error we are getting.

Unfortunately, our whole project is on hold due to this error occurring so it's getting a little urgent now, and if it's not fixable we will need to start l