[2021-12-10 09:43] andrelopez commented on #225
Hi @danfathom could you please try to temporally disable `enableCsrfProtection` on your `config/general.php` file and try again? just wanted to confirm that is an error related to the CSRF token

Please temporally add the following to your general.php file:
[code]

[2021-12-10 10:08] stianmandarin commented on #230
Hi @andrelopez Absolutely, see here: https://stripe.com/docs/api/cards/object#card_object-fingerprint

Thanks

[2021-12-10 10:13] danfathom commented on #225
I have added that to the config file and it seems to now be working for us.

We haven't got everyone in to test it today, but for the people that have tested it have all reported back saying it's now working. I will get some more of the team testing on Monday, but could well be the issue as it's now working for some people who it didn't previously work for.

Many thanks,
Dan

[2021-12-10 16:25] bfjare commented on #232
I wrote a custom plugin to take care of this functionality for now.  I will replicate it and send it next week.  This was on production, not dev env.

[2021-12-13 09:13] romainpoirier commented on #231
I can confirm that using the latest Craft CMS version (3.7.25.1) I can't replicate the error. Thank you.

[2021-12-13 09:18] romainpoirier commented on #229
Done ✅

[2021-12-13 09:31] #231 closed

[2021-12-13 17:42] #225 closed

[2021-12-16 06:25] bliswebagency commented on #231
Can confirm it is fixed in Craft 3.7.26 also. Thank you.

[2021-12-16 09:42] andrelopez commented on #229
The issue was solved by adding the default configuration on `config/general.php` using the `*` key. The stripe keys were added on each environment following our [docs](https://docs.enupal.com/stripe-payments/getting-started/saving-your-stripe-api-keys.html#saving-the-stripe-api-keys-via-config-file) but was ignored until the `*` was added to the `general.php` file

I have opened an issue on Craft

[2021-12-16 09:42] #229 closed

[2021-12-16 11:39] andrelopez commented on #196
Hi @zackspear could you please give me more info about your issues? is this happening on One-Time or Subscriptions sync?
is the Stripe ID the same on duplicated orders?

I have pinned this issue to high priority

[2021-12-21 07:51] andrelopez commented on #174
Hi @beckbailey I was unable to recreate this issue, could you please try again with the latest version?

[code]

[2021-12-21 08:48] andrelopez commented on #178
Hi @bleepsandblops we added support to this feature on Stripe Payments 3.3.10

[2021-12-21 08:48] #178 closed

[2021-12-21 08:49] andrelopez commented on #196
Hi @bfjare We just released Stripe Payments 3.3.10 with a fix to this issue. Please let us know how it goes

[2021-12-21 08:49] #196 closed

[2021-12-21 08:51] andrelopez commented on #180
Hi @mark-adigital we released Stripe Payments 3.3.10 to fix the deleted transactions issue, please feel free to open a new issue related to the other issue you mentioned

[2021-12-21 08:51] #180 closed

[2021-12-27 16:54] zackspear commented on #196
@andrelopez, thanks for taking time on this. Unfortunately after updating to `3.3.10` I'm still seeing duplicates.

All our orders are one-time orders. Stripe IDs are the same for the duplicates. I'm not running a manual sync. These duplicates are happening automatically.

Please let me know if I need provide more information.

[2021-12-27 19:27] andrelopez commented on #196
@zackspear could you please follow up via support@enupal.com?

[2022-01-05 11:29] a-rbsn opened #236 "Test Orders not appearing even though successful"
### Description

The payment form works absolutely fine and the order is successful, both on a local server and online, but the order doesn't show in the orders summary in Craft?

### Steps to reproduce

1. Created a simple one-time-only payment form that only accepts 'Card'.
2. Use the form on the website
3. Redirects to homepage
4. Check Craft, no orders showing

### Additional info

- Craft ver

[2022-01-05 12:07] andrelopez commented on #236
Hi @a-rbsn could you please make sure you have properly setup the webhook for live and test? Please follow the instructions [here](https://docs.enupal.com/stripe-payments/stripe-payment-forms/webhook.html#events)

Also if you're working locally you may need to install the stripe CLI, instructions [here](https://docs.enupal.com/stripe-payments/stripe-payment-forms/webhook.html#test-webhooks-locally

[2022-01-05 12:10] andrelopez commented on #236
Also please make sure that the site that is online is `live` (can be accessed via the internet) you can test this going to the home URL in a incognito window on your browser

[2022-01-05 13:25] a-rbsn commented on #236
Hi @andrelopez thank you so much for your quick reply, setting up the webhook for the test environment worked brilliantly. I apologise that I didn't see that in the documentation beforehand.

When I try this on the live website which is online and working, the order goes through to my local environment? Is that because I am running the plugin in trial mode?

Best,
Andy

[2022-01-05 17:35] andrelopez commented on #236
@a-rbsn I would say:
- To test locally you don't need to add a webhook URL, you need to setup Stripe CLI and forward events to your local endpoint webhook URL, [docs here](https://docs.enupal.com/stripe-payments/stripe-payment-forms/webhook.html#test-webhooks-locally)
- To test on a live site you need to go to the Stripe Dashboard, and setup your Webhook URL (from your site) and add our recommende

[2022-01-05 19:38] andrelopez commented on #236
@a-rbsn The order is your local environment because maybe you have running the Stripe CLI?

[2022-01-06 16:18] bfjare commented on #196
Did you find anything on this?

[2022-01-06 16:31] zackspear commented on #196
@bfjare, I corresponded with Andre a little bit via email last week. After providing limited permissions to only Stripe Payments in our Craft dashboard so he could take a look at our duplicates I've yet to hear back. So hopefully bug fixes are under active development.

[2022-01-06 16:43] bfjare commented on #196
thanks @zackspear

[2022-01-07 08:08] andrelopez commented on #180
Hi @mark-adigital We just released Stripe Payments 3.3.11 with a fix to the duplicate orders issue (if for some reason Stripe triggers the checkout event multiple times)

[2022-01-07 08:09] andrelopez commented on #196
Hi @bfjare @zackspear Thanks for following up, we just released Stripe Payments v3.3.11 with a fix to this issue. Please let me know how it goes after the update

[2022-01-13 22:13] mentiondev opened #239 "Subscription Grants Not Working"
### Description
The Stripe Plugin is working with checkout enabled and it is pulling the data back in to the orders correctly, but it is not assigning the users to the user groups that have been setup in the Subscription Grants, which are Monthly, Quarterly and Annual. Nothing happens with those, so the user remains in the free usergroup, and doesn't get assigned to the group that they've paid for

[2022-01-14 16:53] mentiondev commented on #239
Hi Andre, this is now working locally for me. I think, but not certain, that it was to do with the webhooks, as I added all of the **payment_intent** webhooks in Stripe as well those above and is now working.

[2022-01-14 17:55] andrelopez commented on #239
@mentiondev thanks for getting back to me, I'll test this scenario if so I'll update the [docs](https://docs.enupal.com/stripe-payments/stripe-payment-forms/webhook.html#events)

[2022-01-14 19:55] mentiondev commented on #239
Hi again Andre, I've come across another issue to do with the Subscription Grants. So the initial subscription is being allocated correctly, but if you update the subscription via the Customer Portal from one subscription type to another (i.e. monthly to quarterly) it all goes through ok in Stripe, but the the Subscription level doesn't change in Craft. So it doesn't seem to be hooking into that?

[2022-01-14 20:13] mentiondev opened #240 "Subscription Updates via Customer Portal not updating in the plugin"
### Description
I've come across another issue to do with the Subscription Grants and data coming back in via the Customer Portal.

The initial subscription is being allocated correctly, but if you click the Update button in the Customer Portal and then change from one subscription type to another (i.e. monthly to quarterly) it all goes through ok in Stripe, but the Subscription level doesn't chan

[2022-01-15 11:54] #239 closed

[2022-01-21 09:13] fantasticmachine opened #241 "Snaptcha, webhook issues and SCA"
When using SCA and making a checkout payment it is processed by Stripe but the site returns a 400 error in response to Stripe posting to the Webhook URL. Additionally the redirect URL setting is ignored and the customer is redirected to the site homepage. This prevents the order being properly processed and stops any additional post-order processing that one may be doing.

This issue appears to be

[2022-01-31 18:05] fantasticmachine opened #242 "Feature Request: Make config more "Craft-like""
Having separate handles for Test and Live keys is counter to the way Craft and Craft Plugins are normally configured.

It would be more "native" to be able to use a single set of handles and then assign values based on the environment - after all, that's why Environment Variables exist.

For instance, instead of:

[code]

It would be possible to set

[code]

The values for those variables would be

[2022-02-02 11:56] bymayo opened #243 "Archived taxes still show as selectable"
We had a client that created a tax in Stripe, then deleted it. In Stripe and in Enupal the tax shows as Archived. But the issue is that the tax is still selected in the payment form, with no way of choose "No Tax".

So when the payments were going through it was trying to apply the archived tax because it couldn't be deleted/removed.

One solution here would be to not show archived taxes in that s

[2022-02-02 19:06] rbaud commented on #232
In case it helps anyone else:

We've been hitting this issue as well (in both a local staging and production environment, but both in Test Mode), and we've tracked it down to the following problem: if the customer's email on their order (the one they input into the Stripe Checkout page in our case) differs from the email of the user's Craft account, the portal actions/links will fail silently (app

[2022-02-03 11:08] wallacio opened #244 "Stripe priceId displayed in CP dropdowns and front end instead of product/price name"
### Description
Product name/description not appearing in Payment Form in either CP or front end, the Stripe priceId is displayed instead. This can be overridden in the payment form using the 'Custom Label' field to display something meaningful in the front end, but examples shown in the [help pages](https://docs.enupal.com/stripe-payments/stripe-payment-forms/multiple-subscription-options.html#cu

[2022-02-03 16:15] wallacio commented on #179
Any chance of a bugfix for this, since it's nearly a year old? It's currently a blocker to using this plugin (i.e. giving Enupal money!) for a site.

[2022-02-06 12:20] wallacio opened #245 "Payment form metadata uses Handle for display name, instead of Label in CP"
### Description
If you've added fields to a payment form (metadata), the order details displays the handle name for each field rather than the 'Label' field.

**Payment form field data, showing Label and Handle:**

![aada-form-labels](https://user-images.githubusercontent.com/7721989/152680292-8e5ef8db-2331-43eb-be5b-d3559d556602.png)

**Corresponding order details display, showing the Handle bein

[2022-02-06 12:55] wallacio opened #246 "Synced orders don't import metadata"
### Description
When syncing an order which hasn't been completed by webhook/callback from SCA, metadata from that order isn't created in Craft.

**Verify a subscription order has been created in Stripe, with metadata:**

![aada-sync-order-metadata-1](https://user-images.githubusercontent.com/7721989/152681655-b88d29a7-db6b-4106-9cbe-c122e0aafefa.png)

**Click sync orders and verify that the new o

[2022-02-06 13:19] wallacio opened #247 "Subscription plan start/end peiod date format not observing locale in CP"
### Description
When viewing an order for a Subscription, the plan Period Start and Period End dates are not formatted according to current locale.

**This date, for the UK locale, should be 03/02/2022 rather than 02/03/2022:**

![aada-plan-date](https://user-images.githubusercontent.com/7721989/152682807-901304a2-87aa-4db5-9efc-bd8b417cd834.png)

### Steps to reproduce

1. Create an order for a s

[2022-02-15 20:19] mentiondev opened #249 "Stripe Tax"
### Description
I'm attempting to implement the **Stripe Tax** feature to my subscriptions so that it **automatically** calculates the Tax rate based on the users location and where I'm registered. See [https://dashboard.stripe.com/test/settings/tax](https://dashboard.stripe.com/test/settings/tax)

The Stripe Docs say that all that is needed for this feature to function is to the add the following

[2022-02-16 12:21] andrelopez commented on #249
We just released Stripe Payments v3.4.0 with support for Automatic taxes (only on subscriptions). On your payment form, go to the Tax tab and enable "Automatic Taxes" please make sure that on your Plan product you add the tax_behavior.

[2022-02-16 12:21] #249 closed

[2022-02-16 12:22] andrelopez commented on #247
Hi @wallacio We just released Stripe Payments v3.4.0 with a fix to this issue.

[2022-02-16 12:22] #247 closed

[2022-02-16 12:30] wallacio commented on #244
Cool. Is that Craft:dd() supposed to be there though...?

/src/services/Plans.php:198

![image](https://user-images.githubusercontent.com/7721989/154264705-5b42346f-31b5-4ab1-a142-dd9cf0288bfb.png)

[2022-02-27 00:04] mentiondev opened #255 "No way to resubscribe. Payment buttons fail to open Stripe checkout for previous members with a historic account."
### Description
After a user has cancelled their subscription and left completely. Sometimes they want to resubscribe, but the payment buttons no longer work for them, as the Stripe checkout doesn't open when you click one of the payment buttons if they have a cancelled account. So there is no way for them to resubscribe, as if you use the manage billing button instead, the billing area in Stripe

[2022-02-28 18:02] wallacio opened #256 "Cache Stripe API requests"
### Description
Feature request, or at least a request for how-do-I-do-this.

Client has 4 subscription products, with between 1 and 10 price variations in that. Each product is represented by a paymentForm, with each price variation as an option.  Client would like all subscription forms on the same page, with some JS to show/hide a paymentForm for each product.

I'm able to cache up some stuff b

[2022-03-07 21:10] wallacio opened #257 "checkoutSuccessUrl is never read from the options passed in paymentForm()"
### Description
checkoutSuccessUrl is never read from the options passed in paymentForm()

Probably because of this
https://github.com/enupal/stripe/blob/95946563f82fa4f6d550e06651980f379c4dd034/src/elements/PaymentForm.php#L685

Which doesn't use the value set here
https://github.com/enupal/stripe/blob/95946563f82fa4f6d550e06651980f379c4dd034/src/elements/PaymentForm.php#L679

### Steps to reprod

[2022-03-08 18:19] wallacio opened #258 "Cannot override customer or admin email templates"
### Description
I cannot seem to override the email notification templates. I've copied and modified the twig templates from vendor and placed in templates/_emails directory. I have then selected the appropriate template in Settings -> Customer Notifications.

![template location](https://user-images.githubusercontent.com/7721989/157299736-5819916c-fc1d-434e-99d8-88f91db5b91d.png)

![stripe settin

[2022-03-08 20:34] wallacio commented on #258
Ok, so a ton of debugging and I see this happening in the logs:
[code]
**templates/_emails/customer.twig.twig**
Why is it trying to look for an extension of .twig or .html on a file which already has it??

[2022-03-08 20:39] andrelopez commented on #258
Hi @wallacio do you try removing the .twig extension? Let me know if that works

[2022-03-08 20:45] andrelopez commented on #258
Thanks for confirming and reporting and sorry about the troubles, I just marked this as a bug and will be addressed on next release.

[2022-03-11 12:23] wallacio opened #259 "Editable settings fields are displayed when allowAdminChanges is false"
### Description
If using project config and allowAdminChanges is false for a production environment, editable settings fields are displayed for this plugin. Any attempt to save changes to these settings throws an error because project config isn't writeable.

I would expect fields which update project config to be read-only, or disabled/readonly or hidden.

### Steps to reproduce
- set `allowAdmin

[2022-03-11 12:26] wallacio opened #260 "Cannot use environment variable for notifications email address"
### Description
It's not possible to use an environment variable in customer or admin notification email addresses. Probably more of a feature request, but almost an essential one because of a bigger issue #259

![stripe-from-email](https://user-images.githubusercontent.com/7721989/157866531-06224a24-d1ab-4992-93bd-61cbc06f54ba.png)

### Steps to reproduce

1. Add an environment variable to Settin

[2022-03-11 16:39] wallacio opened #261 ""View Customer" link on admin order detail when in live mode is linking to test mode customer"
### Description
When viewing details of an order in Live mode, the "View Customer" link is linking to a test mode URL:

Probably because of this:
https://github.com/enupal/stripe/blob/5f80bd7ad8725db8bdd861052d6525c61fe9160e/src/templates/orders/_orderInfo.twig#L88

![stripe-view-customer](https://user-images.githubusercontent.com/7721989/157909504-f7049101-816f-449d-b200-e0318ac01d09.png)

### St

[2022-03-17 07:17] andrelopez commented on #241
Hi @fantasticmachine this issue was solved by the Ben a time ago (https://github.com/putyourlightson/craft-snaptcha/blob/4a6594762838d1b5ab41ba3990eb786c0250aab2/src/services/SnaptchaService.php#L48)

Let me know if you see any other issues related

[2022-03-17 07:17] #241 closed

[2022-03-17 07:31] andrelopez commented on #189
Hi @zackspear  I was able to use all the logging methods. Please feel free to share your thoughts on this, closing this one for now

[2022-03-17 07:31] #189 closed

[2022-03-22 09:22] williamhibberd opened #262 "Unable to display subscription details after updating"
### Description

After updating to the latest version I am now unable to display user subscription details with the following code:

[code]

###Stack Trace

yii\base\ErrorException: Trying to access array offset on value of type null in /app/vendor/enupal/stripe/src/models/Subscription.php:58
Stack trace:
#0 {main}

### Additional info

- Craft version: 3.7.37
- PHP version: 7.4.16
- Database driv

[2022-03-24 08:33] williamhibberd commented on #262
This is a fairly big issue for one of my client sites as subsubscibers are unable to change their subscriptions. @andrelopez any idea of when there may be a fix coming?

Thanks

[2022-03-24 18:09] andrelopez commented on #262
Hi @williamhibberd We just released Stripe Payments v3.4.2 with a fix to this issue. Thanks for reporting.

Be aware that this issue could be potentially caused due that the subscription was deleted on the Stripe Dashboard, so the subscription model will return empty for almost all the properties.

[2022-03-24 18:09] #262 closed

[2022-03-24 18:10] andrelopez commented on #261
Hi @wallacio  We just released Stripe Payments v3.4.2 with a fix to this issue. Thanks for reporting.

[2022-03-24 18:10] #261 closed

[2022-03-24 18:10] andrelopez commented on #257
Hi @wallacio We just released Stripe Payments v3.4.2 with a fix to this issue. Thanks for reporting.

[2022-03-24 18:10] #257 closed

[2022-03-30 12:39] fantasticmachine opened #267 "Plans not shown when clicking "refresh" on payment form setup"
I have had the plugin set up and working fine on local dev and a remote staging server hooked up to my own Stripe account using test keys.

Now I'm trying to get it working using the client's Stripe account. But when I set up a form and click "refresh" to get the plans, nothing is shown. This is despite a plan being set up in the Stripe account.

No errors are generated, and inspecting the respons

[2022-03-30 13:40] fantasticmachine commented on #267
Bingo! That was the problem. That switch was "ON". I've turned it off and now I see the plans.

Can I ask, what's the purpose of that? Surely one would just want to retrieve the plans?

[2022-03-30 13:45] #267 closed

[2022-03-30 13:56] andrelopez commented on #267
@fantasticmachine Sorry about that, that setting is disabled by default however if you updated the plugin from older versions that setting could be enabled. The purpose is to retrieve only plans with nicknames (human-readable names), some companies have APIs that automatically create custom plans, so it could be a bit overwhelming to see too many plans when the refresh button is hit.

[2022-04-28 10:33] Joobs opened #268 "Support for Dynamic Tax for Subscriptions"
Do you have any plans for adding Dynamic Tax support for Subscription products?
Since Automatic Stripe Tax charges for each transaction it's expensive to use if you are offering a subscription service that is only being used mainly in 1 or 2 Countries.

### Additional info
- Is [SCA](https://docs.enupal.com/stripe-payments/getting-started/sca.html) and Stripe Checkout enabled?: Yes

[2022-04-28 11:35] Joobs opened #269 "Prices created via Custom Subscription amounts are not prefixed with "price_""
# Description
I think I found a minor naming convention issue.

If you create a subscription product in the Stripe dashboard, and then create prices for the product, each price's App ID has the following naming convention: `price_xyz123"

However, prices created by custom subscription functionality do not have the "price_" prefix. It creates a price with an App ID of `xyz123`.

For consistency sho

[2022-04-29 21:07] mentiondev opened #276 "Licensing Issue appeared"
### Description
A message appeared in the Craft dashboard today saying the following:

There’s a licensing issue with the Stripe Payments plugin. Please fix on an environment where administrative changes are allowed.

I've been using the product for four months without any issues, and checked and my license is still valid, as has 9 months left to run.

But I've noticed that you released a new 4.0.

[2022-05-02 12:13] Joobs opened #277 "Additional options for Checkout/Pro tag"
### Description
I have a membership site where we are creating custom subscriptions for certain users.
The new checkout tag is ideal for this, as we can create the subscription in Stripe, sync with metadata, then create a custom checkout tag via the templates, however there are several setting I want to set per checkout session.

Is it possible to add the following parameters?

Set different cance

[2022-05-02 16:13] andrelopez commented on #276
Hi @mentiondev Thanks for letting us know. Please ignore this warning for now, as you mentioned it could be triggered as there is a new Stripe Payments version that added a `pro` edition, however, your plugin should continue working as normal on the v3.x or if you decide to update to v4.x the plugin will automatically get the `lite` version that has all the functionalities on v3.x. @brandonkelly C

[2022-05-03 01:41] brandonkelly commented on #276
Should be fixed now.

[2022-05-03 08:13] mentiondev commented on #276
Confirmed. It's no longer showing.

[2022-05-03 08:13] #276 closed

[2022-05-04 08:31] andrelopez commented on #277
Hi @Joobs Thanks for reaching out. Yes! Please refer to this [stripe docs](https://stripe.com/docs/api/checkout/sessions/create) to see all the attributes available. (we'll add this link soon to our docs)

So you have two options:

## Via the twig tag
[code]
## Via the beforeCreateSession event
On the [beforeCreateSession](https://docs.enupal.com/stripe-payments/plugin-development/events.html#befo

[2022-05-04 10:57] Joobs commented on #277
Thanks for your reply

The twig example for `Items` object is helpful. I got the structure wrong when I tried it initially, so I assumed it wasn't supported.

I experimented with the `beforeCreateSession` event and came up with similar code, using the `$checkoutId` in an if statement to change different parameters.

[2022-05-04 11:45] Joobs commented on #277
I am still having trouble with the Twig example.

Is it possible to set the `cancel_url` and `success_url` via twig?

[2022-05-04 11:54] andrelopez commented on #277
@Joobs Sorry no the only way, for now, is via the [beforeCreateSession](https://docs.enupal.com/stripe-payments/plugin-development/events.html#beforecreatesession).

You could however pass the`cancel_url` and `success_url` via the `metadata` parameter on the `checkout` tag (Please check the Optional Fields example [here](https://docs.enupal.com/stripe-payments/pro/checkout.html) )

Then on the `be

[2022-05-04 12:00] andrelopez commented on #269
Hi @Joobs could you please confirm if you have this behavior using the new `checkout` twig tag on v4.x ?

[2022-05-04 12:03] andrelopez commented on #268
This scenario can be supported via the [beforeCreateSession](https://docs.enupal.com/stripe-payments/plugin-development/events.html#beforecreatesession) event available on Stripe Payments v4.x:

[code]

[2022-05-04 12:03] #268 closed

[2022-05-04 12:31] Joobs opened #278 "Type Error when activating a member"
### Description
When creating a new member (either activating them via the control panel, or via the activation email link) I get the following error (on my Dev localhost):

[code]

<img width="1027" alt="Screenshot 2022-05-04 at 14 24 32" src="https://user-images.githubusercontent.com/458935/166680853-8c284043-bb79-4323-93b1-45fd62201a9d.png">

### Steps to reproduce

1. Create a new user
2. Acti

[2022-05-04 18:44] outline4 commented on #232
I have the same problem...

[2022-05-05 06:47] andrelopez commented on #232
Hi @rbaud thanks for that helpful info! I was able to recreate the issue and will let you know when we have a fix

[2022-05-05 11:23] outline4 commented on #232
I might have to elaborate also:
In my case it was failing because the customer in enupal stripe was wrong. Although I was on a live site, it took an old stripe customer that had the same email address in the test area of stripe.

[2022-05-05 12:08] outline4 opened #279 "Stripe Customer Portal feature without user being logged in?"
Hi, I don't want my users to have to create a password or craft user.
Is there any way of activating the **stripe customer portal** feature with either the order number or the stripe transaction id?

thanks for clarifying

[2022-05-05 19:22] outline4 commented on #279
For instance the update card feature works without a user. I work with the number parameter:

    {% set number = craft.app.request.param('number') %}
    {% set order = craft.enupalStripe.getOrderByNumber(number) %}
    {% set stripeCustomer = craft.enupalStripe.getStripeCustomer(order.email) %}
    {% set pbk = craft.enupalStripe.getPublishableKey() %}
    {% set session = craft.enupalStripe.get

[2022-05-09 01:36] joelzerner commented on #260
+1 for this. It would be a _very_ useful feature. Thanks!

[2022-05-09 10:24] #277 closed

[2022-05-09 10:26] Joobs opened #280 "Is it possible to send emails for Trials ending, and Subscription renewals?"
I don't think Stripe sends webhooks for Trials expiring, or subscription renewals.

Is there anyway to send emails for Trial expirations and Subscription renewals?

[2022-05-18 16:11] andrelopez commented on #280
Hi @Joobs Following this [Stripe docs](https://stripe.com/docs/billing/subscriptions/trials) yes, you can listen to `customer.subscription.trial_will_end` from a custom plugin,

Here is a quick example from the [afterProcessWebhook](https://docs.enupal.com/stripe-payments/plugin-development/events.html#afterprocesswebhook) event

[code]

[2022-05-18 16:11] #280 closed

[2022-05-18 17:32] andrelopez commented on #279
Hi @outline4 we just released Stripe Payments 4.0.1 with support for this feature, we updated the example on the [docs](https://docs.enupal.com/stripe-payments/templating/update-billing.html)

The guest user will need to enter the Order Number
[code]

[2022-05-18 17:32] #279 closed

[2022-05-18 17:33] andrelopez commented on #278
Hi @Joobs We just release Stripe Payments 4.0.1 with a fix to this issue thanks for reporting

[2022-05-18 17:33] #278 closed

[2022-05-18 17:34] andrelopez commented on #258
We just release Stripe Payments 4.0.1 with a fix to this issue thanks for reporting

[2022-05-18 17:34] #258 closed

[2022-05-18 17:41] andrelopez commented on #255
Hi @mentiondev I was able to recreate this issue if the automatic tax lightswitch was enabled on the payment form under the Tax tab. We just released Stripe Payments v4.0.1 with a fix to this issue.

About the customer portal, please take a look at this part of our [tutorial](https://youtu.be/Te1ojDiVaR8?t=2832) (Min 47:12) I you created the subscription plans via the Stripe dashboard you can choo

[2022-05-18 17:41] #255 closed

[2022-05-18 17:42] andrelopez commented on #243
Hi @bymayo  We just release Stripe Payments 4.0.1 with a fix to this issue thanks for reporting

[2022-05-18 17:42] #243 closed

[2022-05-18 17:48] andrelopez commented on #232
Hi all, We just release Stripe Payments 4.0.1 with a fix to this issue and a lot of improvements related to this feature.
Please check the updated [docs](https://docs.enupal.com/stripe-payments/templating/update-billing.html)

The user should be redirected to the customer portal either if they change their Craft email.

Also, an error variable will be available to know if something goes wrong.

Th

[2022-05-18 17:55] andrelopez commented on #236
Closing for now, feel free to re-open if any follow up questions

[2022-05-18 17:55] #236 closed

[2022-05-19 03:22] Joobs opened #283 "Update Payment Form Subscriptions to use line_items, rather than deprecated subscription_data.items"
### Description
I'm trying to add dynamic tax rates (not a fixed rate, and not automatic tax rates) to a subscription payment form. I'm using `EVENT_BEFORE_CREATE_SESSION` event to overwrite the Checkout session.

It seems to be using a deprecated format of `subscription_data.items`, the Stripe docs suggest moving over the `line_items`:
https://stripe.com/docs/api/checkout/sessions/create#create_c

[2022-05-19 06:46] andrelopez commented on #283
Hi @Joobs that example looks correct to me, similar to [this one](https://stripe.com/docs/payments/checkout/taxes?tax-calculation=tax-rates#dynamic-tax-rates) in order to use `dynamic_tax_rates` you need the `priceId`

Stripe Payments Pro only uses the `Automatic Tax` so please make sure to have that setting disabled under the Stripe Payments -> Settings -> Checkout

Are you getting an error your

[2022-05-19 11:15] Joobs commented on #283
@andrelopez I am using a Payment Form as I need to be able to select the plan via a radio button and then checkout immediately.

This is the session array it creates.  From the Stripe docs my understanding is `[sessionParams][subscription_data][items]` is deprecated and doesn't allow for `dynamic_tax_rate`.

[code]

Based on the examples in the docs, they imply the above is deprecated and should b

[2022-05-19 11:20] andrelopez commented on #283
@Joobs Yep, You need to use `line_items` when using `dynamic_tax_rates` so basically from the EVENT_BEFORE_CREATE_SESSION you need to transform that to the second example. Let me know if you get any errors.

You can pass a metadata key from your payment form options so you can validate the override only for that scenario.

[2022-05-21 05:27] andrelopez commented on #219
Hi @dbrown199747 on Stripe Payments Pro you can use the new [`checkout` twig tag](https://docs.enupal.com/stripe-payments/pro/checkout.html) this will generate a link to checkout and should on IE 11.

[2022-05-21 05:27] #219 closed

[2022-05-24 19:30] sunscreem opened #284 "Updating from v3 to v4 and craft is saying the licence is invalid"
### Description

I ran the usual updates this month and this plug in upgraded from v3 to v4.

I've not got this warning. My project.yaml shows the version as Standard.

![image](https://user-images.githubusercontent.com/7523595/170116714-769ff9e9-0284-46bd-8c05-b3fe9b4dd7fe.png)

### Steps to reproduce

1. Install plug in, add licence
2. Update from v3 to v4.

### Additional info

- Craft version:

[2022-05-25 06:49] andrelopez commented on #284
Hi @sunscreem thanks for reporting this issue, please don't worry about this warning, this is an issue related to the plugin store and there is nothing wrong with your license.

@brandonkelly Could you please help us here? I also received a few customer emails related to this issue. Thank you in advance

Related issue: https://github.com/enupal/stripe/issues/276

[2022-05-26 09:57] sunscreem commented on #284
Hey @andrelopez - Is there a possibly a workaround I could use in the meantime?

[2022-05-26 10:01] andrelopez commented on #284
@sunscreem Sorry nothing that we can do from our side, however, the plugin is working as normal right?

Hi @brandonkelly could you please help us on this issue? I received a few more customer emails yesterday related to this issue. Any help will be appreciated.

[2022-05-26 10:03] sunscreem commented on #284
Hey @andrelopez - Yeah - payments seem to be being processed normally. Just the nag screen in the control panel is an understandable worry for clients. Thanks for the update.

[2022-05-30 10:17] sunscreem commented on #284
Hey @andrelopez Sorry to nag - any update on this? Can I maybe change the project.yaml manually? My client is nagging me :(

[2022-05-30 10:21] andrelopez commented on #284
Hi @sunscreem Sorry about that. Yes, if your Stripe Payments plugin is currently on V4.x.x please feel free to update the `edition` key from `standard` to `lite` under the ` project.yaml `

[code]

[2022-05-30 10:22] sunscreem commented on #284
Thanks @andrelopez - Will do later today and get back to you.

[2022-05-31 14:32] sunscreem commented on #284
Hey @andrelopez - That's it all sorted now thanks. Not sure if you want to close the issue or leave it open for Brandon?

[2022-05-31 15:00] #284 closed

[2022-06-02 04:45] Joobs opened #288 "Stripe Prices Field Type"
## Feature request:

Similar to how the "Stripe Product Field Type" works, I have a use case where I wish to assign specific prices to an entry (rather than the whole product). So it would be useful if the Stripe Product field type allowed this, or there was a separate Stripe Prices field type.

[2022-06-02 04:49] Joobs opened #289 "How do I get the details of a specific price by Stripe ID?"
I have pages where I am using the checkout tag with a hard-coded Stripe Price ID.

But it would be very useful if I could fetch information about a specific price. So I can display price information above the checkout button.

I was hoping this would work:

[code]

Is there anyway I can fetch data about a specific price?

[2022-06-02 09:01] #288 closed

[2022-06-02 09:05] andrelopez commented on #289
Hi @Joobs We just released a new version for Stripe Payments on Craft3 and Craft4 with support for `prices` and `app` (if you need access to the Stripe Payments services layer) variables, please check the next examples:

Option1: using the `PriceQuery`  under `craft.enupalStripe.prices`
[code]

Option 2: using the service layer under `craft.enupalStripe.app`:
[code]

[2022-06-02 09:05] #289 closed

[2022-06-06 19:03] beckbailey opened #292 "Success URL Redirect Not Working SCA?"
### Description

My success URL redirect is not working. In the Stripe log, the success_url looks like this:

https://mydomain.com/enupal/stripe-payments/finish-order?session_id=cs_test_a10l2JKNKRFdFQfqnoC2u2XE2BogBBOqIvNAQvPa3gYuMfHVuVw1XYLaMg

However in the Craft admin, my checkout success url looks like this /thank-you?number={number}

I should state the cancel URL works fine and matches in th

[2022-06-09 11:06] gazlawn22 commented on #292
Also just hit this issue...

Forms doesn't seem to be respecting checkout Success URL set in admin or set in code via:

`checkoutSuccessUrl: '/competitors/thank-you?number={number}',`

However success url in Stripe we're seeing is:

` "success_url": "https://burghley.nitro/enupal/stripe-payments/finish-order?session_id={CHECKOUT_SESSION_ID}",`

Craft version: 3.7.37
PHP version: 7.3.27
Database dr

[2022-06-09 15:31] andrelopez commented on #292
Could you please confirm if the order was created under Stripe Payments -> Orders?

[2022-06-09 15:36] gazlawn22 commented on #292
I can confirm that for mine it was.

[2022-06-09 16:07] beckbailey commented on #292
Mine was not under “Orders”.

From: gazlawn22 ***@***.***>
Sent: Thursday, June 9, 2022 11:36 AM
To: enupal/stripe ***@***.***>
Cc: beckbailey ***@***.***>; Author ***@***.***>
Subject: Re: [enupal/stripe] Success URL Redirect Not Working SCA? (Issue #292)

I can confirm that for mine it was.

—
Reply to this email directly, view it on GitHub <https://github.com/enupal/stripe/issues/292#issuecomme

[2022-06-13 10:03] andrelopez commented on #279
Hi @outline4 could you please make sure you save your Customer Portal settings on the Stripe Dashboard? [test](https://dashboard.stripe.com/test/settings/billing/portal) or [live](https://dashboard.stripe.com/settings/billing/portal)

Let me know if that works

[2022-06-13 10:12] outline4 commented on #279
I have saved the customer portal in live and test mode.
I also previewed it.

P.s. I have cancelled the subscription, but it's still ongoing. Could this be the problem?

[2022-06-13 10:14] andrelopez commented on #279
@outline4 let me check that scenario, could you please recreate the issue and send back to us a zip file of the following folder? storage/logs to support@enupal.com

[2022-06-13 10:18] outline4 commented on #279
email sent!

Thanks for looking into it!

[2022-06-15 19:19] outline4 commented on #279
Update: the customer was deleted. That's why the customer portal could not be created.

Thanks for helping out!

[2022-06-23 06:21] mokopan opened #295 "Unable to create subscription using Stripe Elements"
### Description
Hi,
We've been running into problems using Stripe Elements to create subscriptions, I've done a bit of digging and it looks like it is due to this line https://github.com/enupal/stripe/blob/master/src/services/Orders.php#L1187

Which I believe should be ` $subscription = Subscription::create($subscriptionSettings);` to use the Stripe subscription api instead, and `'customer' => $cu

[2022-06-24 07:52] mokopan opened #296 "Syncing orders from Stripe fails"
### Description
Hi

We've been encountering the following error when trying to sync one-time and subscription orders from Stripe
[code]
Looks like it could just be due to the `format` function converting it to a string

Let me know if you need any more details

Thanks for all your work on the plugin!

### Steps to reproduce

1. Attempt to sync orders with Stripe from settings

### Additional info

[2022-06-26 15:59] andrelopez commented on #292
The `https://burghley.nitro/enupal/stripe-payments/finish-order` URL is always called from Stripe, this is endpoint helps to finish the order on Craft CMS, and then once the order is created, Stripe Payments redirect to the `thank-you` URL.

@beckbailey Your issue sounds like a wrong webhook URL setup on Stripe. If you're working locally, are you using the [Stripe CLI](https://docs.enupal.com/stri

[2022-06-26 16:01] #283 closed

[2022-06-26 16:04] andrelopez commented on #256
Hi @wallacio please feel free to use the [Cart API](https://docs.enupal.com/stripe-payments/pro/cart-api.html) feature or the  [Checkout Twig Tag](https://docs.enupal.com/stripe-payments/pro/checkout.html) feature (this only generates a checkout URL) so it's faster.

Please let me know if you have any questions

[2022-06-26 16:04] #256 closed

[2022-06-26 16:11] andrelopez commented on #296
Hi @mokopan We just released Stripe Payments v5.0.4 with a fix to this issue. Thanks for reporting

[2022-06-26 16:11] #296 closed

[2022-06-26 16:11] andrelopez commented on #295
Hi @mokopan We just released Stripe Payments v5.0.4 with a fix to this issue. Thanks for reporting

[2022-06-26 16:11] #295 closed

[2022-06-26 20:35] Joobs opened #299 "Is it possible to checkout as another user? (for admin reasons)"
My client has an unusual workflow.
On their previous website (Wordpress, using a different addon), customers would often email and ask to be manually resubscribed to a subscription. The client would create a subscription in Stripe and assign it to a Stripe customer and this got automatically synced inside of Wordpress.

In Stripe Payments, it basically wants all the subscriptions to have gone thro

[2022-06-26 23:34] mokopan commented on #295
Thank you, very much appreciated!

[2022-06-27 13:06] andrelopez commented on #299
Hi @Joobs

- If the Subscription already exists on Craft, then the subscription was canceled, and then was enabled again via Stripe (or externally via the old site for example), there is no need to do anything, as the Subscription already has an Stripe Payments order associated, if you have [Subscription grants](https://docs.enupal.com/stripe-payments/stripe-payment-forms/subscription-grants.html#

[2022-06-27 17:05] Joobs commented on #299
The client doesn't want to re-enable existing subscriptions, the existing subscriptions and fully cancelled and they are creating entirely new subscriptions. They are creating new subscriptions inside of Stripe and want that to auto sync with customers in Craft.

Customers also create subscriptions via the normal ways. (I am listening for `checkout.session.completed` to assign them to groups).

If

[2022-06-29 15:37] Joobs opened #300 "Date range filter for Sync is missing"
### Description
I am launching a project soon that has existing orders in Stripe.
I went to look at the sync section and noticed the date range is missing. We need the date range as we are importing a large number of users.
Not sure why it's now missing.

<img width="1156" alt="Screenshot 2022-06-29 at 17 34 08" src="https://user-images.githubusercontent.com/458935/176477733-e6f550d0-9067-4f3c-b96

[2022-06-29 16:53] andrelopez commented on #300
Hi @Joobs I am unable to recreate this issue, could you please try saving the settings and check if the error is gone? Could you please try to open the browser developer tools and inspect for javascript errors?

[2022-06-29 18:32] Joobs commented on #300
Issue was with me.

For some reason my Lightswitches are invisible when "off".

There is a lightswtich there, when it's "on", the date range appears

[2022-06-29 18:32] #300 closed

[2022-07-06 11:38] gazlawn22 opened #301 "Updating Meta"
### Description

Is there any way of updating the meta data if it has been updated directly in Stripe, the sync orders doesn't seem to do that, and there is no way directly through Stripe Payments that I can see to edit existing orders. The Update form field values event almost being what is needed but that only seems to happen during a checkout process, rather than say 10 days later?

[2022-07-07 07:42] romainpoirier opened #302 "Unwanted coupon field and broken payment link after updating to Craft 3.7.47"
### Description
After updating from Craft `3.7.45.2` to `3.7.47` using Stripe Payments `4.0.4` I ran this issues:

1. An unwanted coupon field is added, using the class .enupal-hidden (but this field is not hidden);
2. A wrong URL is target when clicking on the payment button: ends up in a 404 (redirect to homepage) without the redirect to the Stripe form;

This is the stack trace of **2.**:
[code

[2022-07-07 08:53] michielsarne opened #303 "Unable to process the Payment"
### Description

### Steps to reproduce

1.  new stripe payment
2. subscription -> customer chooses plan

### Additional info

- Craft version: 4.1.1
- PHP version: 8.1.5
- Database driver & version: MySQL 10.4.24
- Plugin version: 5.0.4
- Is [SCA](https://docs.enupal.com/stripe-payments/getting-started/sca.html) and Stripe Checkout enabled?: yes

![image](https://user-images.githubusercontent.com

[2022-07-07 09:17] michielsarne commented on #302
I have the same issue

[2022-07-08 10:55] Coysh commented on #303
I'm having the same problem
<img width="911" alt="CleanShot 2022-07-08 at 11 55 00@2x" src="https://user-images.githubusercontent.com/5764356/177979216-01a0c1df-dbcc-459d-be43-71e4cda6e6af.png">

[2022-07-08 12:08] michielsarne commented on #303
downgrading to a lower Craft version or waiting untill they update the current plugin seems the "solution"

[2022-07-12 07:48] michielsarne commented on #303
@andrelopez do you have a fix for this?

[2022-07-12 07:52] michielsarne commented on #303
@andrelopez do you have a fix?

[2022-07-12 07:57] michielsarne commented on #303
nvm my bad it was in a form tag

[2022-07-12 13:22] andrelopez commented on #301
Hi @gazlawn22 there is no way right now, but I have added an enhancement as it will be a useful feature. Are you using Stripe Payments v5.x (probably new features will be added only to v5.x)

[2022-07-13 09:49] michielsarne opened #304 "Tiered Plans"
### Description
I get this error when I use tiered plans

![image](https://user-images.githubusercontent.com/71928563/178704807-092fcfb5-3779-459d-beea-4e9ea06f64da.png)

### Steps to reproduce

1. add subscriptions via stripe with volume pricing
2. add payment form with stripe checkout and customer chooses plan

### Additional info

- Craft version: Craft Pro 4.1.3
- PHP version: 8.1.5
- Database

[2022-07-13 10:39] michielsarne commented on #304
@andrelopez will there be an update for this? Or should I look for an alternative?

[2022-07-13 16:16] andrelopez commented on #304
Hi @michielsarne We just released Stripe Payments v5.0.5 with a fix to this issue. Thanks for reporting

[2022-07-13 16:16] #304 closed

[2022-07-14 06:32] michielsarne commented on #304
Thank you so much !

[2022-07-14 16:36] Coysh commented on #303
@michielsarne @andrelopez Can we open this again, I am still having the issue

[2022-07-14 17:32] andrelopez commented on #303
@michielsarne could you please send me the storage/logs file to support@enupal.com? are you using SPA like angular, react or any modern js framework on your front-end?

[2022-07-19 12:23] Joobs opened #307 "Sync saves to the project config"
If you update the sync settings, like changing a date range it saves it the the project config. I would argue the date settings (and maybe more) should not be saved in the project config.

What happens when production has settings disabled, and you always do project config changes on `development` and then sync with `production`?

[2022-07-19 12:54] williamhibberd commented on #262
Hi @andrelopez I am running into this issue again... I'm getting the subscriptions and looping though them in the same way as before.

## Additional info

    Craft version: 3.7.47.1
    PHP version: 8.1.8
    Database driver & version: MySQL 8.0.22
    Plugin version: 4.0.6
    Is [SCA](https://docs.enupal.com/stripe-payments/getting-started/sca.html) and Stripe Checkout enabled?: Yes

Stack trac

[2022-08-02 09:09] torgeirbeyer commented on #303
Hi. We're experiencing the same problem. I'll send you some of our logs @andrelopez , but it looks like there is some issues with stripe token or formId

we are running on test account for the moment

`2022-08-02 07:39:35 [-][1][][error][enupal\stripe\services\Orders::processPayment] Unable to get the stripe token or formId
2022-08-02 07:39:35 [-][1][][error][yii\web\HttpException:404] yii\web\Not

[2022-08-03 06:51] andrelopez commented on #303
Hi @torgeirbeyer Could you please confirm the info below?
Craft version:
PHP version:
Database driver & version:
Plugin version:
Is [SCA](https://docs.enupal.com/stripe-payments/getting-started/sca.html) and Stripe Checkout enabled?:

[2022-08-05 10:06] michielsarne opened #311 "Custom email"
### Description
How can you send an email on purchase of a subscription to the admin with the user's information (from craft user)?

### Steps to reproduce

1.
2.

### Additional info

- Craft version:
- PHP version:
- Database driver & version:
- Plugin version:
- Is [SCA](https://docs.enupal.com/stripe-payments/getting-started/sca.html) and Stripe Checkout enabled?:

[2022-08-08 14:50] michielsarne opened #312 "Subscription grants not working at all"
### Description
I have setup my site online, added al the stripe events and still the subscription grants are not working.

### Steps to reproduce

1. add subscriptions

2. add subscription grants

### Additional info

- Craft version: Craft Pro 4.2.0.2
- PHP version: 8.0.22
- Database driver & version:  MySQL 8.0.27
- Plugin version: 5.0.6
- Is [SCA](https://docs.enupal.com/stripe-payments/gettin

[2022-08-09 12:33] andrelopez commented on #312
Hi @michielsarne Are you testing locally (local development environment)?

[2022-08-09 12:35] andrelopez commented on #311
Hi @michielsarne You can use the Admin notification settings under `Stripe Payments -> Settings -> Admin Notifications` please find more info [here](https://docs.enupal.com/stripe-payments/notifications/admin.html) and let me know if you have any questions

[2022-08-09 12:35] #311 closed

[2022-08-09 12:48] michielsarne commented on #312
@andrelopez I'm testing it on both, the user assignments only work for the admin. I'm switching some user permissions but nothing makes it change.

[2022-08-09 12:48] simonleadbetter commented on #292
Our client has reported a very similar issue. Intermittently, users are redirected to the Cancel URL not the Success URL, which is a problem in this case as they can not complete the form they are paying access to.

This doesn’t happen for every order and we noticed an anomaly with the most recent record our client informed us about in that the user was recorded as Guest. This is weird as login is

[2022-08-09 13:04] andrelopez commented on #312
Thanks for following up. On your local environment could you please confirm that you're using the Stripe CLI ([docs here](https://docs.enupal.com/stripe-payments/stripe-payment-forms/webhook.html#test-webhooks-locally)), if so could you please recreate the issue and send back to us a zip file of the following folder to support@enupal.com?
`storage/logs`

[2022-08-09 13:13] michielsarne commented on #312
Yes im using the CLI, I'm sending my logs right now.

[2022-08-10 08:52] michielsarne opened #313 "E-mail on subscription cancel?"
### Description
Is there a possibility to send a mail to the admin whenever a user cancels his subscription?

### Steps to reproduce

1. question
2. question

### Additional info

- Craft version:
- PHP version:
- Database driver & version:
- Plugin version:
- Is [SCA](https://docs.enupal.com/stripe-payments/getting-started/sca.html) and Stripe Checkout enabled?:

[2022-08-17 11:06] torgeirbeyer commented on #303
Hi @andrelopez. sorry for the late reply, missed this comment.

Craft version: 3.7.47.1
PHP version: 7.4.3
Database driver & version: MySQL 8.0.30
Plugin version: 4.0.5
Is [SCA](https://docs.enupal.com/stripe-payments/getting-started/sca.html) and Stripe Checkout enabled?: SCA is enabled, I think Stripe Checkout is enabled.

[2022-08-17 11:12] torgeirbeyer commented on #303
@andrelopez Stripe Checkout is enabled.

[2022-08-29 10:57] torgeirbeyer commented on #303
Hi @andrelopez . Have you gotten a chance to take a look at this?

[2022-09-01 16:42] andrelopez commented on #313
Hi @michielsarne you need to enable [webhooks](https://docs.enupal.com/stripe-payments/stripe-payment-forms/webhook.html) and create a custom plugin to listen for the [afterprocesswebhook event](https://docs.enupal.com/stripe-payments/plugin-development/events.html#afterprocesswebhook) and check the event type depending on the following scenarios:

Please check the next setting: `Stripe Payments →

[2022-09-01 16:42] #313 closed

[2022-09-01 16:44] andrelopez commented on #303
@torgeirbeyer Could you please recreate this issue and send back to us a zip file of the following folder?

storage/logs

Please send the info to support@enupal.com

Thanks

[2022-09-06 07:20] torgeirbeyer commented on #303
Sure. I'll send them soon.

[2022-09-07 09:06] torgeirbeyer commented on #303
@andrelopez just sent you the log files

[2022-09-09 09:19] robinbeatty commented on #142
+1 for this. Any headway on the horizon?

[2022-09-29 12:15] chattervast opened #315 "Metadata Does Not Pass to Stripe Order"
### Description
I'm trying to pass additional metadata with an order. I've tested both custom metadata on a product and with the code provided in the docs but no metadata is added to the order  or to the purchased product. This was all done in a test environment using Stripe products and the Pro Checkout Twig Tag.

### Steps to reproduce

1. Copy code from "Optional Fields" tab at https://docs.enu

[2022-10-26 17:12] rckywng commented on #240
Hi @andrelopez, are there any updates or workarounds for this?

I am evaluating using this plugin for a project and this makes the customer portal unusable for managing subscriptions.

[2022-10-26 19:25] andrelopez commented on #240
Hi @rckywng thanks for reporting this, we will add support to update the user group after plan is updated. I have added you to the notify list for when is released

[2022-10-27 09:56] rckywng commented on #240
Thanks. I've looked further into it and I'm able to get the subscription grant to update using the `afterProcessWebhook` event with Stripe's `customer.subscription.updated` event.

This doesn't properly update the order in the order list though. Eg. it still shows the previous plan price, and although it shows the new plan inside, you get no history/indiction of changes.

Anyway, the workaround is

[2022-10-28 19:41] andrelopez commented on #303
The @torgeirbeyer's issue was related to having The Stripe Payments form inside a `form` html tag, which was preventing the correct form submission.

[2022-11-28 17:26] cole007 opened #321 "Checkout settings save"
### Description

Odd one - when trying to save settings under Stripe Payments > Settings >  (Pro) Checkout the admin is redirected to `enupal-stripe/settings/cart` which doesn't exist so throws a 404 error. Can see this set in the template here:

[code]

### Additional info

- Craft version: 3.7.59
- PHP version: 7.4.21
- Database driver & version: MySQL
- Plugin version: 4.0.10
- Is [SCA](https:/